{% set tableid ='projects-list'%}
{% if not partial %}
<div class="container mx-auto block" data-block="collections">
  <div class="w-full h-auto mx-auto block" id="{{ tableid }}-header">
    {% if CanCreate == True %}
    {% set modal_title = _("How to create collection") %}
  {% set data = {'file':'_help_create_collection'} %}
    <a  class="button is-action float-left clear-left" href="{{url_for("gui_collection_create")}}">{{_('Create a collection')}} </a>
    {%  else %}
    {% set modal_title = _("Access collections") %}
      {% set data = {'file':'_help_collection_req_access'} %}
    {% endif %}

    {% from './v2/macros/macros.html' import modal with context %}
    {{ modal(id='help-project-import-data',modal_title=modal_title,type='modal-help',position='modal-aside modal-right',summary_pos={'float':'right','clear':'right'},data = data) }}
  </div>
  {% endif%}
  <div id="{{'import-' + tableid if typeimport else tableid }}" data-from="collectionlist" data-columns="{{columns}}" data-current="{{current_user.id|string}}" data-is={{current_user.is_app_admin}} data-cellid="id" class="{{ 'import-collections-list' if typeimport }} w-full shadow-1 mb-8 js js-datatable  collectionlist"  {{ 'data-tips=true data-import=' + typeimport if typeimport else 'data-details=true data-detailsurl=/gui/collection/about/'}} {{ 'data-btn=' + _('Add') if typeimport }} data-paging=false data-sortable=true data-searchable=true>
<div id="wait-please" data-wait="{{_('Please wait')}}" data-loaded="{{_( 'Data loaded. Displaying...')}}"> {{ _('Please wait')}}...</div>
<table></table>
  </div>
  </div>
