<div class="form-box">
            <input type="checkbox" id="agree" name="agree" required >
            <label for="agree">{{_('I agree with the following usage conditions:')}}</label>
            <ul><li>{{_('I will make a reasonable use of the resources of this system.')}}</li>
              <li>{{_('I accept that my annotation activity and statistics are tracked and shared with the members of the
              projects I participate in and the EcoTaxa team, for the application to function.')}}</li>
              <li>{{_('I accept that my name and email are associated with the annotations I perform and are distributed with the exported data.')}}</li>
            </ul></div>
