.simple-tree {@apply select-none}
.simple-tree>details>summary {@apply hidden }
.simple-tree a,
.simple-tree summary {@apply block border border-transparent py-1 cursor-pointer outline-none w-auto;}
.simple-tree a {@apply decoration-0}

.simple-tree ::-webkit-details-marker {@apply hidden}
.simple-tree summary {@apply bg-stone-50 outline-none list-none bg-stone-50}
.simple-tree summary.deprecated {@apply line-through}
.simple-tree.dark summary {@apply bg-stone-500}
.simple-tree details>:not(details),
.simple-tree details {@apply relative before:content-[''] before:block before:w-4 before:absolute}
.simple-tree details :not(summary) {@apply ml-12}
.simple-tree.nodots details :not(summary) {
@apply ml-8
}
.simple-tree details:before,
.simple-tree details>:not(details):before {
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 2 2" xmlns="http://www.w3.org/2000/svg"><g><rect x="0" y="0" width="1" height="1"/></g></svg>') left top / 2px 2px;
}
.simple-tree.dark details:before,
.simple-tree.dark details>:not(summary):before {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 2 2" xmlns="http://www.w3.org/2000/svg"><g><rect x="0" y="0" width="1" height="1" fill="white"/></g></svg>');
}
.simple-tree.nodots details:before,
.simple-tree.nodots details>:not(summary):before {
  background-image: none;
}
.simple-tree details:before {@apply top-0 h-full left-2 -z-[1];background-repeat: repeat-y;}
.simple-tree details>:not(details):before {@apply top-3 -left-8 ;  height: calc(100% - 8px);  background-repeat: repeat-x;}
.simple-tree details>summary:before {
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><g><rect x="0" y="0" width="12" height="12" fill="white" stroke="gray" stroke-width="1"/><line x1="3" y1="6" x2="9" y2="6" stroke="black" stroke-width="2"/><line x1="6" y1="3" x2="6" y2="9" stroke="black" stroke-width="2"/></g></svg>') center center / 12px 12px no-repeat;
  left: -22px;
  top: 2px;
  width: 16px;
  height: 16px;
}
.simple-tree details[open]>summary:before {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><title/><g><rect x="0" y="0" width="12" height="12" fill="white" stroke="gray" stroke-width="1"/><line x1="3" y1="6" x2="9" y2="6" stroke="black" stroke-width="2"/></g></svg>');
}
/* async tree */
.async-tree details[open][data-loaded=false] {@apply pointer-events-none
}
.async-tree details[open][data-loaded=false]>summary:before {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g><animateTransform attributeName="transform" type="rotate" from="0 32 32" to="360 32 32" dur="1s" repeatCount="indefinite"/><circle cx="32" cy="32" r="32" fill="whitesmoke"/><path d="M 62 32 A 30 30 0 0 0 32 2" style="stroke: black; stroke-width:6; fill:none;"/></g></svg>');
}
.async-tree.black details[open][data-loaded=false]>summary:before {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g><animateTransform attributeName="transform" type="rotate" from="0 32 32" to="360 32 32" dur="1s" repeatCount="indefinite"/><circle cx="32" cy="32" r="32" fill="whitesmoke"/><path d="M 62 32 A 30 30 0 0 0 32 2" style="stroke: white; stroke-width:6; fill:none;"/></g></svg>');
}
/* select tree */
.select-tree .selected {@apply bg-mainblue-50 border border-mainblue-100 z-[1]
  }

.select-tree.dark .selected {@apply bg-mainblue-400 border border-mainblue-500

}