{% extends "layout.html" %}
{% block body %}
	<div class="row" id="content">
		<div class="col-sm-6 col-sm-offset-3">


    

{% from "security/_custommacros.html" import render_field_with_errors, render_field,display_field_errors %}
{% include "security/_messages.html" %}


    <form class="form-signin" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}

			<h3>Change password</h3>

			<div class="form-group">
				<label for="inputPassword" class="sr-only">Old password</label>
				<input type="password" name="password" id="password" class="form-control" placeholder="Old password" required>
                {{ display_field_errors(change_password_form.password) }}
			</div>

			<div class="form-group">
				<label for="inputPassword" class="sr-only">New password</label>
				<input type="password" name="new_password" id="new_password" class="form-control" placeholder="New password" required>
                {{ display_field_errors(change_password_form.new_password) }}
			</div>

			<div class="form-group">
				<label for="inputPassword" class="sr-only">New password confirmation</label>
				<input type="password" name="new_password_confirm" id="new_password_confirm" class="form-control" placeholder="New password confirmation" required>
                {{ display_field_errors(change_password_form.new_password_confirm) }}
			</div>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>

</form>
{% include "security/_menu.html" %}
    </div> <!-- /container -->


		</div>
	</div> <!-- /content -->
{% endblock %}
