<ul class="inline-block ml-4 lg:ml-8 js js-nav"><li class="nav-item inline-block text-lg uppercase">
        <a href="/gui/prj/" title="{{_('projects list')}}">
          &laquo;
        </a></li>
        <li class="nav-item inline-block animate">
              <a href="/prj/{{target_proj.projid}}">
                {{_('Annotate')}}
              </a>
            </li>
            <li class="nav-item inline-block animate">
              <a href="/Job/Create/Prediction?projid={{target_proj.projid}}">
                {{_('Predict')}}
              </a></li>
            <li class="nav-item inline-block animate">
        <a href="/Job/Create/FileImport?p={{target_proj.projid}}">
          {{_('Import')}}
        </a>
      </li>
    <li class="nav-item inline-block animate">
              <a href="/Job/Create/GenExport?projid={{target_proj.projid}}">
                {{_('Export')}}
              </a></li><li class="nav-item inline-block animate">
          <a href="/gui/prj/edit/{{target_proj.projid}}">
            {{_('Settings')}}
          </a>
        </li><li class="nav-item inline-block animate">
              <a href="/gui/prj/about/{{target_proj.projid}}">
                {{_('About')}}
              </a>
            </li></ul>
