{% from "./v2/macros/macros.html" import form_group_radio with context %}
<div class=" w-full md:w-1/2 tab-content">
  <div class="form-box">
    <label for="can_do">{{_('Roles')}} </label>
    <select id="can_do" name="can_do" multiple class="form-select">
      <option value="">Default</option>
      {% for k,v in roles %}
      <option value="{{ k }}" {{ 'selected' if user.can_do and k|int in  user.can_do }}>{{ v }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-box">
  </div>{% include "v2/admin/_activate_status.html"%}
    </div>
