{%if not partial %}
{% extends "v2/admin/layout.html" %}
{%endif%}
{% from "./v2/macros/macros.html" import  form_group_radio, alertbox with context %}
  {% block body %}
  <div class="container mx-auto">
    <form method="post" action="" id="formu" class="js js-submit relative mt-12 md:mt-8" {{'data-fetch="html"' if createaccount==True and current_user== None }} data-required="{{_('this field is required')}}" data-invalid="{{_('this field is invalid')}}" data-import=true onsubmit="return false" >
     <input type="hidden" name="crsf_token" value={{ crsf_token }}>
    <input type="hidden" name="id" id="id" value="{{user.id if user.id else -1  }}">
      <div class="px-2 pb-8 border-b border-stone-50 mb-4">
    {% for  prop,label in {"name":_("Name"),"email":_("Email"),"country":_("Country"),"organisation":_("Organisation"),"creationreason":_("Planned usage of EcoTaxa")}.items() %}
      <div class="grid w-full py-1">
      <div class="font-semibold">{{label}}:</div><div class="text-base">{{user[prop]}}</div>
      </div>
      {%endfor%}</div>
  {% include('v2/admin/_activate_status.html')%}
    <button type="submit" data-target="#formu" class="button is-primary">{{_('Save')}}</button> <a href="{{back}}" class="button is-secondary inverse" title="{{ _('Cancel, back to users list') }}">{{ _('Cancel') }}</a>
    </form>
  </div>
  {% endblock %}
