{%-macro display_menu(menuitems,level=0)-%}
{%if menuitems is iterable%}
{% if level==0-%}
  <!-- project nav  and secondary classif nav and filters -->
<div id="menu-burger" class="burger">
<div id="bar1" class="bar"></div>
<div id="bar2" class="bar"></div>
<div id="bar3" class="bar"></div>
</div><ul id="navbar-menu" class="admin-menu"><li><a class="uppercase" href="/gui/admin/" target="winadmin">Home<i class="icon-sm icon-admin invert "></i></a></li>
{%-else-%}<ul aria-expanded=false>{%-endif%}

{%for key,menuitem in menuitems.items()-%}
<li ><a href="{{menuitem.url if menuitem.url else '#'+key}}" class="{{ 'uppercase' if level==0 else 'capitalize'}} text-stone-100 hover:text-stone-50">{{menuitem.label}}</a>
{%if menuitem.links -%}
{{display_menu(menuitem.links,level+1)}}
{%-endif%}
</li>
{%-endfor%}
</ul>
{%endif%}
{%-endmacro-%}
{% set title = 'Ecotaxa 3.0 ADMIN'%}
{% include 'v2/partials/_head.html' %}
<body>
  <div id="layout" class="w-full min-h-screen {{ 'overflow-hidden' if bg }} flex flex-col">
      <header class="bg-gradient-to-r from-stone-800 to-stone-600 h-12 p-1 pt-3.5">
        <div class="flex flex-wrap  pl-2 md:pl-2 pr-4 w-full justify-between">
          <div class="order-1 ">
              <a href="{{url_for("index")}}" target="winecotaxa"  class="text-secondblue-300 fill-secondblue-200"  title="{{_('back to Ecotaxa')}}"><img src="{{ url_for('static',filename='gui/images/logo_ecotaxa_ico.png') }}" class="object-scale-down h-8 py-0.5 mb-1" id="ecotaxa-logo" alt="Logo Ecotaxa 3.0"></a>
          </div>
            <div class="flex  md:flex-row  md:flex-nowrap flex-grow  w-full md:w-auto  md:flex-nowrap text-stone-50 md:justify-center py-2  md:py-0 order-3 md:order-2 text-sm md:text-base lg:text-lg">
                  <nav class="js js-nav block w-auto mx-auto h-full">{{ display_menu(admin_menu(),0)}}</nav>
              </div>
              {% include 'v2/partials/_navuser.html' with context%}
        </div>
  </header>
  <main  {{ ' style="--bg-image:url(\''| safe + url_for('static',filename='gui/images/montage_plankton.jpg') + '\')" class="bg-image" '| safe if bg }}>
  {% include "v2/partials/_maintop.html"%}
  <div class="w-full">
    {% block body %}{% endblock %}
  </div></main></div>
    {% include "v2/partials/_mainbottom.html"%}
</body>
</html>
