{% set title= 'Ecotaxa 3.0' + target_proj.title if target_proj and target_proj.projid else 'Ecotaxa 3.0'%}
{% include 'v2/partials/_head.html' %}
<body>{%- if not site_error and current_user.is_authenticated-%}{{global_messages()|safe}}{%-endif-%}
  <div id="layout" class="w-full min-h-screen {{ 'overflow-hidden' if bg }} flex flex-col">
    <nav id="main-navbar">
      <header class="background-top h-12 p-1 pt-3.5 {{ 'solo' if not (target_proj and target_proj.projid) }}">
        <!--   logo / notifs /user-nav /admin -->
        {%- include './v2/partials/_topsitebar.html' -%}</header>
      {%- if target_proj and target_proj.projid -%}
      {%- include './v2/partials/_navbar.html' with context -%}
      {%- endif -%}
    </nav>
  <main  {{ ' style="--bg-image:url(\''| safe + url_for('static',filename='gui/images/montage_plankton.jpg') + '\')" class="bg-image" '| safe if bg }}>
  {% include "v2/partials/_maintop.html"%}
  <div class="w-full">
    {% block body %}{% endblock %}
  </div></main></div>
  {% include "v2/partials/_mainbottom.html" %}

  {% if g_status('google_analytics_id') %}
  {% set cookieGAOK =  g_status('cookieGAOK') %}
  {% if cookieGAOK =='' %}
  <div  id="DivGAAccept" class="fixed z-50 bottom-0 h-[100px] left-0 right-0 bg-stone-900 text-stone-100 text-sm  ">
    <div class=" flex items-center w-full lg:w-2/3 mx-auto px-4  mt-4">
      <div class="flex-grow mr-4">We use cookies on this site to analyze traffic, remember your preferences,
        and optimize your experience. Click “Accept” to consent to the continued use of cookies or visit our <a href="/privacy" class="text-white underline underline-offset-2 mx-2">Privacy Policy</a> to see how you can make changes to your cookie settings.
      </div>
      <div class="flex-1">
        <button type="button" class="button is-secondary border-stone-100 text-sm text-stone-100 hover:border-white  hover:text-white" data-request="privacy" data-what="accept"  id="BtGAAccept">Accept</button>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
</body>
</html>
