{% extends "./v2/layout.html" %}
{% block body %}

<div class="md:justify-items-center flex flex-col  md:flex-row  w-full lg:w-10/12 xl:w-2/3 mt-24  md:mt-64 px-2 lg:mx-auto">
  <div id="home-registration" class=" w-full mb-12 md:mb-0 md:w-1/2 -mt-8 overflow-hidden border border-transparent background-register shadow px-2 mr-8 sm:px-4 ">
    <form method="get" action="/gui/register">
      <fieldset >
        <legend >{{_('Register')}}</legend>
        <button id="register" class="button mt-2 is-action w-full text-center hover:bg-mainblue-200" type="submit"><span><i class="icon icon-user-plus inline-block w-0 h-0"></i>{{ _('Create your EcoTaxa account')}}</span></button>
        <div class="px-2 py-1">{{_('In case of registration problem or if you want to avoid Google reCaptcha on Account creation page for privacy reasons, please send an email to one the following persons in order to proceed to a manual account creation.')}}
      </div>
        <details class="leading-snug text-mainblue-900 toggle-summary  px-2 pb-2"><summary class="text-sm">{{_('Contacts')}}</summary><ul class="px-4 pt-2">{{ GetManagerList('Ecotaxa : Account issue')|safe }}</ul>
        </details>
        <a href="/gui/privacy" class=" px-2 text-white">{{ _('Our privacy statement')}}</a>
      </fieldset>
    </form>
  </div>
  <div id="home-login" class=" w-full h-auto md:h-96 md:w-1/2  border border-stone-300 -mt-8 shadow px-2 sm:px-4 ">
    {% include './v2/security/_login.html' %}
    {# include "./v2/security/_menu.html" #}
  </div></div>

  {% if current_user.is_authenticated%}
  <div class="w-auto mx-auto p-12 text-sm">
  {{ _('Already authenticated. page should redirect to projects list')}}</div>
  {% endif%}
{% endblock %}
