hyphenator
# To ensure all is installed and only them:
# (venv)$ pip freeze | xargs pip uninstall -y
# (venv)$ pip install -r requirements.txt

# Web
Flask==2.0.3
Werkzeug==2.0.3
Flask-Babel==2.0.0
Flask-Login==0.5.0
# For json parsing in generated to_back/* code.
python-dateutil==2.8.2
# For speedup in booster.py
orjson==3.6.7
# For proper file upload to back-end. urllib3 does not stream, full file is needed.
requests==2.27.1
# Latin hyphenation of taxa names
hyphenator==0.6.0
# Typings
types-python-dateutil
types-certifi
types-requests
types-six
# QA & compilation
mypy==0.940
mypy_extensions==0.4.3
# Auth validation
itsdangerous==2.0.1
#markupsafe
markupsafe

