<style>
    .headinfo {margin-bottom: 5px;}
    .select2-results__option {padding: 0px;}
</style>
<div style="margin: 2px;">
<form id="filt_form">
<div class="panel panel-default" id="filt_panel" style="margin-bottom: 5px;">
  <div class="panel-body">
<table><tr>
  <td>
<table style="width:250px;">
  <tr><td colspan="2" align="Center">North <input type="text" size="7" id="MapOutN"  name="MapN">
  <button type="button" class="btn btn-xs btn-primary pull-right" style="margin-right: 5px;" onClick="DrawInputOnMap();">Draw On Map</button>
  </td></tr>
  <tr >
    <td style="padding: 2px;">West <input type="text" size="7" id="MapOutW" name="MapW"></td>
    <td>East <input type="text" size="7" id="MapOutE" name="MapE"></td></tr>
  <tr><td colspan="2" align="Center">South <input type="text" size="7" id="MapOutS" name="MapS"></td></tr>
</table>
    </td><td style="vertical-align: middle">

  </td>
<td>
    <b>Sample filters :</b> Date between <input class="form-control" type="text" style="width: 100px;display: inline-block" id="filt_fromdate" name="filt_fromdate"  autocomplete="off" placeholder="Begin">
		and <input class="form-control" type="text" style="width: 100px;display: inline-block" id="filt_todate" name="filt_todate"  autocomplete="off" placeholder="End">
      Instrument : <input class="form-control" type="text" style="width: 100px;display: inline-block" id="filt_instrum" name="filt_instrum"  autocomplete="off" >
      <br>Ecotaxa Project : {{ form.filt_proj() }}
      UVP Project : {{ form.filt_uproj() }}
      <button type="button" id="btfilt" class="btn btn-primary" onclick="DoSearch()"><span class="glyphicon glyphicon-search"></span> Search sample</button>


</td>
</tr></table>


  </div>
</div>
</form>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.1/ol.css" type="text/css">
<div id="map" class="map" style="width: 100%; height: 450px;">
Displaying Map requires Internet Access to load map from https://www.openstreetmap.org
</div>


<a href="/uvp/prj/">Gestion des projets UVP</a>
<div id="ajaxlog"></div>
    <table style="width: 100%">
        <tr>
            <td style="width: 400px;vertical-align: top;padding-right: 10px">
<div class="panel panel-default" id="graphconfig" >
  <div class="panel-body">
      <b>Graph configuration</b><br>

      <form id="formgraphconfig">
          Reduced particle histogram<br>
          {{ form.gpr(style="width:100%") }}<br>
          Detailled particle histogram<br>
          {{ form.gpd(style="width:100%") }}<br>

          <button type="button" class="btn btn-sm btn-primary" onclick="ProcessDraw()"><span clas="glyphicon glyphicon-ok"></span> Draw graph</button>
      </form>
</div>
</div>
</td>
            <td style="vertical-align: top;">
<div class="panel panel-default"  style="width: 100%;display: inline-block;">
  <div class="panel-body">
      <div id="graphdest"></div>
</div>
</div>
        </td>
        </tr>
    </table>
</div>

<script>
$( "#filt_fromdate,#filt_todate" ).datepicker({
    showButtonPanel: true,changeMonth: true,changeYear: true,dateFormat:"yy-mm-dd",
  });
$('#filt_proj,#filt_uproj').select2();
$('#gpr,#gpd').select2( );


function DoSearch(){
{#    $('#ajaxlog').append("Start DoSearch");#}
    var url="/uvp/searchsample?"+$('#filt_form').serialize();
{#    $('#ajaxlog').append("<br>URL="+url);#}
    $.getJSON( url, function( data ) {
{#        $('#ajaxlog').append( "<br>" +data.length+" samples found");#}
        SampleSource.clear();
        $.each( data, function(key, val ) {
            var iconFeature = new ol.Feature({ geometry: new ol.geom.Point(ol.proj.transform([val['long'],val['lat']], 'EPSG:4326','EPSG:3857')) });
            SampleSource.addFeature(iconFeature);
{#            $('#ajaxlog').append( "<br>-" + val['id']+val['lat']  );#}
          });
    });
}

function ProcessDraw(){
    var url="/uvp/drawchart?"+$('#filt_form').serialize()+"&"+$('#formgraphconfig').serialize()+"&r="+Math.random();
    $('#graphdest').html("<img src='"+url+"' style='max-width: 100%;'>");
}


var map,vectorSource,SampleSource;

function InitMap() {
var mousePositionControl = new ol.control.MousePosition({
  coordinateFormat: ol.coordinate.createStringXY(4),
  projection: 'EPSG:4326',
  undefinedHTML: '&nbsp;'
});
map = new ol.Map({
  layers: [
    new ol.layer.Tile({
      source: new ol.source.OSM({wrapX: false})
    })
  ],
  controls: ol.control.defaults({
    attributionOptions:  ({
      collapsible: false
    })
  }).extend([mousePositionControl]),
  target: 'map',
  view: new ol.View({
    center: [0, 47],
    zoom: parseFloat($("#map").css('height'))/450 {# Mise à l'echelle, affiche toute la hauteur à l'echelle 1 sur une zone de 450px de haut #}
  })
});

// a DragBox interaction used to select features by drawing boxes
var dragBox = new ol.interaction.DragBox({
  condition: ol.events.condition.altKeyOnly,
  style: new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: [0, 0, 255, 1]
    })
  })
});

map.addInteraction(dragBox);

var infoBox = document.getElementById('info');

dragBox.on('boxend', function(e) {
  // features that intersect the box are added to the collection of
  // selected features, and their names are displayed in the "info"
  // div
  var info = [];
  var extent = dragBox.getGeometry().getExtent();
  var s=extent+" / ";
  // Calcule les tableau sous forme X/Longitude , Y/Lattitude
  bottomleft= ol.proj.transform([extent[0], extent[1]], 'EPSG:3857', 'EPSG:4326') ;
  topright= ol.proj.transform([extent[2], extent[3]], 'EPSG:3857', 'EPSG:4326') ;
  if((bottomleft[0]<-180)||(bottomleft[0]>180))
      bottomleft[0]=(bottomleft[0]+180)%360-180;
  if((topright[0]<-180)||(topright[0]>180))
      topright[0]=(topright[0]+180)%360-180;
  if(topright[0]<-180) topright[0]+=360;
  $("#MapOutN").val(topright[1].toFixed(4));
  $("#MapOutW").val(bottomleft[0].toFixed(4));
  $("#MapOutE").val(topright[0].toFixed(4));
  $("#MapOutS").val(bottomleft[1].toFixed(4));
  DrawInputOnMap();
{#  console.log(extent);#}
});

// Create vector source and the feature to it.
vectorSource = new ol.source.Vector();
var vectorLayer= new ol.layer.Vector({
  source: vectorSource
});

var RedIconStyle = new ol.style.Style({
        image: new ol.style.Icon({
          anchor: [0.5, 0.5],
          size: [40, 40],
          offset: [52, 0],
          opacity: 1,
          scale: 0.19,
          src: '/static/dots.png'
        })
      });

SampleSource = new ol.source.Vector();
var SampleLayer= new ol.layer.Vector({
  source:SampleSource,style: RedIconStyle
});
// Add the vector layer to the map.
map.addLayer(vectorLayer);
map.addLayer(SampleLayer);

} //InitMap


function DrawSelectionRectangle(a){ {# X Y X Y  #}
  var ring = [ [a[0], a[1]], [a[2], a[1]],  [a[2], a[3]], [a[0], a[3]] , [a[0], a[1]] ];
  var polygon = new ol.geom.Polygon([ring]);
  polygon.transform('EPSG:4326', 'EPSG:3857');
  // Create feature with polygon.
  var feature = new ol.Feature(polygon);
  vectorSource.clear();
  vectorSource.addFeature(feature);
}

function DrawInputOnMap()
{
DrawSelectionRectangle([
    parseFloat($("#MapOutW").val()),
    parseFloat($("#MapOutN").val()),
    parseFloat($("#MapOutE").val()),
    parseFloat($("#MapOutS").val()) ]);
}

 $.getScript("https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.1/ol.js", function(){
 $("#map").html("");
  InitMap();
  $("#MapOutW").val($("#filt_MapOutW").val());
  $("#MapOutN").val($("#filt_MapOutN").val());
  $("#MapOutE").val($("#filt_MapOutE").val());
  $("#MapOutS").val($("#filt_MapOutS").val());
 });

function ShowSample(p){
  $.getJSON( "/search/mappopup/samples/",p, function( data ) {
  SampleSource.clear();
  $.each( data, function( key, val ) {
    var iconFeature = new ol.Feature({ geometry: new ol.geom.Point(ol.proj.transform(val, 'EPSG:4326','EPSG:3857')) });
    SampleSource.addFeature(iconFeature);
  });
});
}
</script>
