  <div class="form-box">
    <div class="label">{{_('Roles')}} </div>
      {% for role in roles %}
      {% if role[0]|int in user.can_do %}
      <span class="block ml-4">{{ role[1] }}</span>
      {%endif%}
      {% endfor %}
  </div>
  <div class="form-box">
    <div class="label">{{_('Last used projects')}} </div>
    <ul class="ml-4">{% for prj in user.last_used_projects%}
      <li><a href="{{url_for("gui_prj_classify", projid=prj.projid)}}" class="text-mainblue-900"><strong>[{{prj.projid}}]</strong> {{prj.title }} </a></li>
      {%endfor %}<ul>
  </div>
  {% if user.status_admin_comment%}
  <div class="form-box">
    <div class="label">{{_('Users Administrator comment')}}</div>
    <em class="block ml-4">{{ user.status_admin_comment}}</em>
    </div>
{%endif%}
