{% extends "layout.html" %}


{% block body %}
  <h3>PREDICTION: Choice of Learning Set categories and size</h3>
  {{ filters_info|safe }}
  <form method="post">

    <div class="row">
      <div class="col-md-offset-1 col-md-4">
        <button type="submit" class="btn btn-primary">Next: Choose features in selected objects</button>
        </button>
      </div>

      <div class="panel panel-default col-md-6">

        <p>From data source, which is : {{ src_prjs|safe }},
          only objects validated in below chosen categories will be present in the Learning Set being built.<br>
          Optionally, each category can <b>appear</b> as another category, generally a parent one, to the machine
          learning
          algorithm.&nbsp;<span data-container="body" data-toggle="tooltip"
                                data-placement="right" data-html="true" title="
<p style='text-align: left'>The model will be trained with objects currently validated in the categories in the left column, within the projects selected at the previous step. It will therefore only be able to recognise those.
<br>Sometimes training on detailed, morphologically homogeneous, categories makes the model better but only a broader category is ecologically meaningful. In that case, all objects classified in the detailed categories can be regrouped in a broader one. This is done by mapping all detailed categories to the same broad category in the right column.
</p>"
                                class="glyphicon glyphicon-question-sign"></span>
        <li>The experience shows that it is often more efficient to predict into a limited number of
          categories and then validate in detail using more categories.
        </li>
        </p>

      </div>
    </div>

    <input type='hidden' name='src' value='{{ src_prj_ids }}'>
    <input type="hidden" name="seltaxo" value="Y">

    <div style="margin-left: 1%; max-width: 96%">
      <table class="table table-condensed" id="TblTaxo">
        <tr>
          <td colspan="6">
            Learn from max. <input maxlength="8" size="4" id="per_cat" name="learninglimit"
                                   value="5000" oninput="UpdateLSCountLimit();"> objects per category.
            &nbsp;<span data-toggle="tooltip" data-placement="right" data-html="true" title="
<p style='text-align: left'>By limiting very populated categories e.g. detritus, you give more chances to small categories to be recognized by the algorithm. </p>"
                        class="glyphicon glyphicon-question-sign"></span>
            <br>
            Total is currently <span id="total_objs" class="rightfixedfont">0</span> objects.
          </td>
          <td></td>
          <td>
            Make categories appear like in:
            <br><select id="TaxoMappingFromPrj" style="width: 20em;">
          </select>
          </td>
        </tr>
        <tr>
          <th>(id)</th>
          <th><input type="checkbox" id="all_taxa" onclick="SelDeselAll(this);" value="Y"></th>
          <th style="text-align: center">Source (validated) category</th>
          <th style="text-align: center;"># source</th>
          <th style="text-align: center;">% source</th>
          <th style="text-align: center;"># learning set</th>
          <th style="border: none;width: 32px"></th>
          <th style="text-align: center;">Appear as category</th>
        </tr>
        {% for r in g.TaxoList %}
          <tr>
            <td>({{ r[0] }})</td>
            <td><input type="checkbox" style="width: 1em;" value="Y" name="taxo{{ r[0] }}"
                       onchange="UpdateLSCount($(this));"
                       data-nbr="{{ r[2] }}" data-pct="{{ r[3] }}" {{ r[4] }}></td>
            <td>{{ r[1] }}</td>
            <td class="rightfixedfont" title="Click to select from top till here" style="cursor: s-resize;"
                onclick="ApplyCountFilter({{ r[2] }});">{{ r[2] }}
            </td>
            <td class="rightfixedfont" title="Click to select from top till here" style="cursor: s-resize;"
                onclick="ApplyPercentFilter({{ r[3] }});">{{ r[3] }} %
            </td>
            <td class="rightfixedfont"></td>
            <td class="rightfixedfont" style="border: none"></td>
            <td>
              <div class="input-group">
                <select id="taxolb{{ r[0] }}" name="taxolb{{ r[0] }}" data-taxoid="{{ r[0] }}"
                        style="width: 10em" class='taxolb'>
                </select>
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </form>

  <div class="modal" style="position:absolute;overflow:initial;display:none;max-width:450px"
       id="LineageModal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div>
      <div class="modal-content" style="box-shadow:initial;-webkit-box-shadow:initial;">
        <div class="modal-body">
          <div id="lineage_choice"></div>
        </div>
      </div>
    </div>
  </div>

  <script>
      function UpdateLSCount(jq_el) {
          // Change of a checkbox, align values and total
          const jq_total = $("#total_objs");
          const per_cat = parseInt($("#per_cat").val());
          let total_objs = parseInt(jq_total.text());
          const ls_col = jq_el.parent().siblings().eq(4);
          if (jq_el.prop('checked')) {
              if (Number.isNaN(per_cat)) { // No limit
                  ls_txt = jq_el.data("nbr");
              } else { // Apply limit
                  ls_txt = Math.min(jq_el.data("nbr"), per_cat);
              }
              total_objs += ls_txt;
          } else {
              ls_txt = "";
              total_objs -= parseInt(ls_col.text());
          }
          ls_col.text(ls_txt);
          jq_total.text(total_objs)
      }

      function UpdateAllLSCounts() {
          // Initialize the total count from displayed
          $('#TblTaxo td input').each(function () {
              const jq_this = $(this);
              if (jq_this.prop('checked')) {
                  UpdateLSCount(jq_this);
              }
          });
      }

      function UpdateLSCountLimit() {
          // Limit change, update all counts
          $('#TblTaxo td input').each(function () {
              const jq_this = $(this);
              if (jq_this.prop('checked')) {
                  jq_this.prop('checked', false);
                  UpdateLSCount(jq_this);
                  jq_this.prop('checked', true);
                  UpdateLSCount(jq_this);
              }
          });
      }

      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })

      function ApplyVarFilter(limit, dta) {
          const all_inputs = $('#TblTaxo td input');
          all_inputs.each(function () {
              const jq_this = $(this);
              const present = jq_this.prop('checked');
              const next = jq_this.data(dta) >= limit;
              if (next !== present) {
                  jq_this.prop('checked', next);
                  UpdateLSCount(jq_this);
              }
          });
      }

      function ApplyCountFilter(limit) {
          ApplyVarFilter(limit, "nbr");
      }


      function ApplyPercentFilter(limit) {
          ApplyVarFilter(limit, "pct");
      }

      function SelDeselAll(el) {
          if ($(el).prop('checked')) {
              ApplyPercentFilter(-1);
          } else {
              ApplyPercentFilter(101);
          }
      }

      function LoadLineageHelper(jq_taxolb) {
          // Load the lineage in the invisible div, for the given line
          const taxoid = jq_taxolb.data("taxoid");
          $.ajax({
              type: "GET",
              url: "/api/taxon_set/query?ids=" + taxoid,
              success: function (rspf) {
                  // e.g. rsp: {"id":4,"name":"Archaea","type":"M","nb_objects":0,"nb_children_objects":0,"display_name":"Archaea",
                  // "lineage":["Archaea","living"],"id_lineage":[4,1],"children":[332,325,334322]}]
                  const lineage = rspf[0].lineage;
                  const id_lineage = rspf[0].id_lineage;
                  var click_lineage = lineage.map(function (txo, i) {
                      if (i > 0) {
                          return "<a href='#' data-tgt='" + taxoid + "' data-txoid='" + id_lineage[i] + "' >" + txo + "</a>";
                      } else {
                          // The base taxon itself, no use making it selectable
                          return txo;
                      }
                  });
                  const lin_html = click_lineage.join(" &lt; ");
                  $('#lineage_choice').html(lin_html);
                  // Need to bind the events later, when elements have appeared
                  const anchors = $('#lineage_choice a');
                  anchors.on("click", function (e) {
                      var jq_this = $(this);
                      const tgtid = jq_this.data("tgt");
                      const txoid = jq_this.data("txoid");
                      const txotxt = jq_this.text();
                      const sel2 = $("#taxolb" + tgtid);
                      // Set the option on the LB
                      var newOption = new Option(txotxt, txoid, false, false);
                      sel2.append(newOption);
                      sel2.val([txoid]).change();
                      e.preventDefault(); // Don't scroll to top
                  });
                  // Position the lineage modal
                  const offs = jq_taxolb.parent().offset();
                  const width = jq_taxolb.parent().width();
                  const jq_modal = $('#LineageModal');
                  jq_modal.css('margin-top', offs.top + 'px');
                  jq_modal.css('margin-left', offs.left + width - window.scrollX + 'px');
                  if (modal_lineage_timer !== null) {
                      clearTimeout(modal_lineage_timer);
                  }
                  jq_modal.show();
              }
          });
      }

      var modal_lineage_timer = null;

      function UnloadLineageHelper(jq_taxolb) {
          modal_lineage_timer = setTimeout(function () {
              $('#LineageModal').hide();
          }, 300);
      }

      $(document).ready(function () {
          const sel2 = $(".taxolb");
          sel2.select2({
              ajax: {
                  url: "/search/taxo",
                  dataType: 'json',
                  delay: 250,
                  data: function (params) {
                      return {q: params.term, page: params.page};
                  },
                  processResults: function (data, page) {
                      return {results: data};
                  },
                  cache: true
              },
              minimumInputLength: 3
          }); // Select2 Ajax
          sel2.on("select2:open", function () {
              LoadLineageHelper($(this));
          });
          sel2.on("select2:close", function () {
              UnloadLineageHelper($(this));
          });

          $('#all_taxa').prop('indeterminate', true);
          UpdateAllLSCounts();

          const prj_sel = $('#TaxoMappingFromPrj');
          prj_sel.select2({
              ajax: {
                  url: "/search/exploreproject",
                  dataType: 'json',
                  delay: 250,
                  data: function (params) {
                      return {q: params.term, opts: 'with_prediction_pre_mapping'};
                  },
                  processResults: function (data, page) {
                      return {results: data};
                  },
                  cache: true
              },
              allowClear: true,
              placeholder: "Project search",
              dropdownCssClass: "width400"
          }); // Select2 Ajax

          prj_sel.on("select2:select", function (e) {
              DoMapping();
          });

          prj_sel.on("select2:unselecting", function (e) {
              ClearMapping();
          });

      }); // Ready

      function DoMapping() {
          $.getJSON("/search/gettaxomapping", {projid: $('#TaxoMappingFromPrj').val()}, function (data) {
              $(".taxolb").val('').change();
              console.log("JSON from gettaxomapping", data);
              for (var s in data.mapping) {
                  var liste = $("#taxolb" + s);
                  for (var tel in data.taxo) {
                      var newOption = new Option(data.taxo[tel], tel, false, false);
                      liste.append(newOption)
                  }
                  liste.val(data.mapping[s]).change();
              }
          });
      }

      function ClearMapping() {
          $(".taxolb").val([]).change();
      }

  </script>

{% endblock %}