{% extends "layout.html" %}


{% block body %}
<h3>AUTOMATIC CLASSIFICATION V2: Selection of Learning Set</h3>
<p>A Learning set is a project containing validated data &nbsp;<span data-toggle="tooltip" data-placement="right" data-html="true" title="
<p style='text-align: left'>You can run the SUBSET tool to :<br><ul style='text-align: left'>
<li>Create a Learning set that you will later improve
<li>Check validation of a project using a randomly limited number of objects from the project</ul></p>"
class="glyphicon glyphicon-question-sign"></span></p>

{{ PreviousTxt |safe }}

<table><tr><td width='400px'><button class='btn btn-primary' onclick='SubmitProjectSelection();'>Continue with selected projects</button>
</td><td>
<div class="panel panel-default" style='display: inline-block; width: 400px;margin-bottom: 0;'>
  <div class="panel-body">
    <form method="post">
      <table>
        <tbody><tr>
          <td>Common features &ge;  </td>
          <td><input style="width: 100px;" name="filt_featurenbr" id="filt_featurenbr" value="{{ request.form.get('filt_featurenbr','10') }}" type="text"></td>

        </tr><tr>
          <td>Filter on title :</td>
          <td><input style="width: 100px;" name="filt_title" id="filt_title" value="{{ request.form.get('filt_title','') }}" type="text"></td>
          <td rowspan="3" style="vertical-align: top"><button type="submit" class="btn btn-primary">Search</button></td>
        </tr>
        <tr>
          <td>Instrument : </td>
          <td><input style="width: 100px;" name="filt_instrum" id="filt_instrum" value="{{ request.form.get('filt_instrum','') }}" type="text">
                <span class="glyphicon glyphicon-question-sign" onclick="DispInstrumList();" style="cursor: pointer;"></span></td>
        </tr>
      </tbody></table>
    </form>
  </div></div></td></tr></table>
        <table class='table table-bordered table-verycondensed table-hover' style='margin-left: 10px;width: 95%'>
                <tr><th style='width:20px'></th>
                <th># - Title</th><th style='width:100px'># valid.</th><th style='width:100px'># Matching features</th>
                <th style='width:100px'>CNN Network</th></tr>
  {{ TblBody|safe }}
</table>
<script src='/static/common.js'></script>
<script>
$(function () {  $('[data-toggle="tooltip"]').tooltip()})

function SubmitProjectSelection() {
  var srclst=$(".selproj:checked").map(function(){return $(this).data('prjid');}).get().join(',');
  PostDynForm("?{{ url|safe }}",{src:srclst});
}
  function DispInstrumList(projid){
  $("#PopupDetails .modal-content").html("Loading...");
  $('#PopupDetails .modal-lg').css('width',$(window).width()/2);
  $('#PopupDetails').modal({});
  var url="/search/instrumlist"
  if(typeof (projid)!="undefined")
    url+="?projid="+projid
  $("#PopupDetails .modal-content").load(url);
}
</script>
<div id="PopupDetails" class="modal " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
{% endblock %}