{% extends "layout.html" %}



{% block body %}
  <style>
      #VarsDiv label {
          font-weight: 500;
      }

      #VarsDiv span {
          display: inline-block;
          min-width: 9em;
          text-align: center;
      }
  </style>
  {{ PreviousTxt|safe }}
  <h3>PREDICTION: Choice of features and settings </h3>
  {{ filters_info|safe }}
  <form class="form-horizontal" method="post">
    <input type="hidden" id="learninglimit" name="learninglimit" value="{{ data.learninglimit }}">
    <input type="hidden" id="Taxo" name="Taxo" value="{{ data.Taxo }}">
    <input type="hidden" id="src" name="src" value="{{ data.src }}">
    <input type="hidden" id="PostTaxoMapping" name="PostTaxoMapping" value="{{ data.PostTaxoMapping }}">
    <input type="hidden" name="CritVar" id="CritVar" value="{{ data.CritVar }}">
    <input type="hidden" name="starttask" value="Y">

    <div class="row">
      <div class="col-md-4">

        <p class="text-center">
          <button type="submit" class="btn btn-primary">Start prediction task</button>
        </p>

        <div class="form-group row">
          <div class="text-center">
            <div>
              <label for="usescn" class="control-label" style="font-size:larger">Add deep features</label>
              <span data-container="body" data-toggle="tooltip"
                    data-placement="right" data-html="true" title="
<p style='text-align: left'>Deep learning features will complement the ones you pick and add quality to the prediction.</p>"
                    class="glyphicon glyphicon-question-sign"></span>
              {% if g.SCN %}
              <input type="checkbox" name="usescn" id="usescn" checked value="Y">
              {% else %}
              <span>Not available.</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default col-md-7">
        <p>
          You have chosen {{ g.LsSize }} reference objects to build the Learning Set. In this last step, you can choose
          which features to associate with each of these objects, and
          start a prediction task using the Learning Set.<br>
        <li>Prediction will be better if you exclude features which are not related to the classification,
          e.g. coordinates in the raw image.
        </li>
        <li>Features with a single, constant value, or too many missing values, are useless for prediction and are
          automatically excluded. Some of them are listed here as a reminder.
        </li>
        <li>Missing values will be replaced by the median value for this feature from the reference objects.
        </li>
        <li>Prediction settings are recorded in EcoTaxa for the next prediction.</li>
        </p>
      </div>
    </div>

    <div style="margin-left: 1%; max-width: 96%">

      <label>
        <input type="checkbox" id="all_features" onclick="SelDeselAllFeatures(this);" value="Y">
      </label>
      <div id="VarsDiv">
        {% for r in g.critlist %}
          <span>
            <label>{{ r[0] }}
              {% if (r[2]=="Y") %}
                <input type="checkbox" value="Y" name="var{{ r[0] }}" data-var="{{ r[0] }}">
              {% else %}
                <input type="checkbox" value="" disabled>
              {% endif %}
            </label>
           </span>
        {% endfor %}
      </div>
    </div>

  </form>
  <script>
      $(document).ready(function () {
          $('#VarsDiv').on('click', 'input:enabled', ComputeCritVar);
          if ($('#CritVar').val() !== "") {
              CheckBasedOnText();
          }
          $('#all_features').prop('indeterminate', true);

      }); // Ready

      function ComputeCritVar() {
          var cv = "";
          $('#VarsDiv input:enabled').each(function () {
              if ($(this).prop("checked")) {
                  if (cv !== "")
                      cv += ",";
                  cv += $(this).data("var");
              }
          });
          $('#CritVar').val(cv);
      }

      function CheckBasedOnText() {
          // Restore previous choice which was written in a hidden field
          var cv = $('#CritVar').val();
          var cvl = cv.split(",");
          $('#VarsDiv input:enabled').each(function () {
              if ($(this).prop("checked", cvl.indexOf($(this).data("var")) >= 0)) {
                  if (cv !== "")
                      cv += ",";
                  cv += $(this).data("var");
              }
          });
          $('#VarsDiv input:disabled').each(function () {
              $(this).prop("checked", false);
          });
      }

      function SelDeselAllFeatures(el) {
          const all_feats = $('#VarsDiv input:enabled');
          if ($(el).prop('checked')) {
              all_feats.prop('checked', true);
          } else {
              all_feats.prop('checked', false);
          }
          ComputeCritVar();
      }

      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })


  </script>
{% endblock %}