{% macro selectinputdict(name, values, value='') -%}
    <select name="{{ name }}" id="{{ name }}">
    {% for k,v in values.items() %}
        <option value="{{ k }}"  {{ 'selected' if value==k }}>{{ v }}</option>
    {% endfor %}
    </select>
{%- endmacro %}

{% extends "layout.html" %}

{% block body %}
<style>
.table-condensed tr td {padding-top: 0px  !important;padding-bottom: 0px  !important; } {# On condense encore plus #}
</style>

<form class="form-horizontal" method="post" enctype=multipart/form-data>
  <div class="form-group">
      {{ label("Classification Method")}}
    <div class="col-sm-4">
        {{ selectinputdict("Methode",{'':'','randomforest':"Random Forest",'svm':"SVM"},data.Methode) }}
    </div> <!-- col-sm-4 -->
  </div><!-- /form-group -->

  <div class="form-group">
      {{ label("Apply to ")}}
    <div class="col-sm-4">
        {{ selectinputdict("Perimeter",{'nmc':"All UN Validated Objects",'all':"All Objects"},data.Perimeter) }}
    </div> <!-- col-sm-4 -->
  </div><!-- /form-group -->
<div class="form-group">
      {{ label("Keep log of previous automatic classification")}}
    <div class="col-sm-4">
        {{ selectinputdict("keeplog",{'no':"No",'yes':"Yes"},"no") }}
    </div> <!-- col-sm-4 -->
  </div><!-- /form-group -->


<script>
    function Applyfilter(){
        $('#TblTaxo input').prop( 'checked', false );
        var Limit=parseInt($('#selectlimit').val());
        var LimitType=$('#selecttype').val();
        $('#TblTaxo input').each(function(){
            if((LimitType=='N')&&($(this).data("nbr")>=Limit))
                $(this).prop( 'checked', true );
            if((LimitType=='P')&&($(this).data("pct")>=Limit))
                $(this).prop( 'checked', true );
        });
    }

    function ComputeCritVar() {
        var cv="";
        $('#TblVar input').each(function (){
           if($(this).prop("checked")){
               if(cv!="")
                   cv+=",";
               cv+=$(this).data("var");
           }
        });
        $('#CritVar').val(cv);
    }
    function CheckBasedOnText() {
        var cv=$('#CritVar').val();
        var cvl=cv.split(",");
        //console.log(cvl);
        $('#TblVar input').each(function (){
           if($(this).prop("checked",cvl.indexOf($(this).data("var"))>=0)){
               if(cv!="")
                   cv+=",";
               cv+=$(this).data("var");
           }
        });
    }
    function UncheckNonPertinent(){
        var perimetre=$('#Perimeter').val();
        $('#TblVar tr').each(function (){
           var v=parseInt($(this).find("td:nth-child(3)").text() ) || 0;
           if(v<=75) {# Clean si moins de 25% de données sources remplis #}
               $(this).find("input").prop("checked",false);
           v=parseInt($(this).find("td:nth-child(4)").text() ) || 0;
           if(v<=1) {# Clean si pas assez de valeur distincte #}
               $(this).find("input").prop("checked",false);
           if (perimetre=="all")
            v=parseInt($(this).find("td:nth-child(5)").text() ) || 0;
           else
            v=parseInt($(this).find("td:nth-child(6)").text() ) || 0;
           if(v<=75) {#  Clean si moins de 25% de données cibles remplis #}
               $(this).find("input").prop("checked",false);
        });

        ComputeCritVar();
    }
</script>

<table>
<tr><td valign="top">
{# ----------- Partie Gestion des Taxon --------------------- #}
select Categories with more than <input type="text" id="selectlimit" value="5" size="2">
    <select id="selecttype">
        <option value="N">Objects</option>
        <option value="P">% of objects</option>
    </select>
<input type="button" class="btn" value="Select" onclick="Applyfilter()"><br>
Select <a name="tbltop" href="#tbltop" onclick="$('#TblTaxo input').prop( 'checked', true )">All</a>
    / <a href="#tbltop" onclick="$('#TblTaxo input').prop( 'checked', false );">None</a>
<table class="table table-bordered table-condensed" style="width: auto" id="TblTaxo">
    <tr><th >Select</th><th width="200">Name</th><th >Nbr</th><th >%</th></tr>
    {%   for r in g.TaxoList %}
        <tr><td><input type="checkbox" value="Y" name="taxo{{ r[0] }}" data-nbr="{{ r[2] }}" data-pct="{{ r[3] }}" {{ r[4] }}></td><td>{{ r[1] }}</td><td class="rightfixedfont">{{ r[2] }}</td><td class="rightfixedfont">{{ r[3] }} %</td></tr>
    {% endfor %}
</table>
</td><td width="20"></td><td valign="top">
{# ----------- Partie Gestion des Variable --------------------- #}
Using variables :<br>
<input type="text" name="CritVar" id="CritVar" value="{{ data.CritVar }}" style="width: 400px;"><br>

Select <a name="tbltop2" href="#tbltop2" onclick="$('#TblVar input').prop( 'checked', true );UncheckNonPertinent();ComputeCritVar();">All</a>
    / <a href="#tbltop2" onclick="$('#TblVar input').prop( 'checked', false );ComputeCritVar();">None</a>
    / <a href="#tbltop2" onclick="CheckBasedOnText();" title="Usefull to copy setting from another project" >Text field content</a>
    / <a href="#tbltop2" onclick="UncheckNonPertinent();" title="uncheck distinct<1 and %<25%" >Uncheck non pertinent variable</a>

<table class="table table-bordered table-condensed" style="width: auto" id="TblVar">
    <tr><th rowspan="2">Select</th><th width="200" rowspan="2">Variable</th><th width="100" colspan="2">Source</th><th width="100" colspan="2">Target % Populated</th></tr>
    <tr><th >% Pop.</th><th >Distinct</th><th >All</th><th>Not Valid.</th></tr>
    {%   for r in g.critlist %}
        <tr><td> {% if (r[2]>1) %}
            <input type="checkbox" value="Y" name="var{{ r[0] }}" data-var="{{ r[0] }}" >
            {% endif %}
        </td><td>{{ r[0] }}</td>
        <td class="rightfixedfont">{{ r[1] }}</td><td class="rightfixedfont">{{ r[2] }}</td><td class="rightfixedfont">{{ r[3] }}</td><td class="rightfixedfont">{{ r[4] }}</td></tr>
    {% endfor %}
</table>

</td></tr>
</table>

<div class="form-group">
  {{ label("Custom Settings") }}
<div class="col-sm-4">
    <textarea  class="form-control" id="TxtCustSettings" name="TxtCustSettings"  rows="4">{{ g.TxtCustSettings }}</textarea>
</div>
</div>

    <input type="hidden" name="starttask" value="Y">
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-primary">Start Task</button>
    </div>
  </div>
</form>

   <script>
$(document).ready(function() {
        $('#TblVar input').click(ComputeCritVar);
        CheckBasedOnText();

    }); // Ready

 </script>


{% endblock %}