{% extends "layout.html" %}
{% block headcenter %}
  <h4><a href="/prj/{{ g.prjprojid }}">{{ g.prjtitle }}</a></h4>
{% endblock %}

{% block body %}

<h2>Import data (step 1)</h2>

<div class="help-block">
	<div class="row">
		<div class="col-sm-12">

			<p><a href="#create-project" data-toggle="collapse" class="help">How to create a project</a></p>
			<div id="create-project" class="collapse">
				<p>To create your first project, you must contact the application manager: {{ g.appmanagermailto|safe }}.</p>
				
				<p>Then you will be allowed to create new projects.</p>
			</div>


			<p><a href="#prepare-data" data-toggle="collapse" class="help">How to prepare data</a></p>
			<div id="prepare-data" class="collapse">
			
			In a folder place:
			<dl style="margin-left: 40px;">
				
				<dt>image files</dt>
					<dd>
						<p>Colour and 8-bits greyscale images are supported, in <code>jpg</code>, <code>png</code>,<code>gif</code> (possibly animated) formats.</p>
					</dd>
					
				<dt>a <code><a href="https://en.wikipedia.org/wiki/Tab-separated_values">tsv</a></code>  (TAB separated file) which can be .txt or .tsv extension. File name must start with ecotaxa (ecotaxa*.txt or ecotaxa*.tsv)</dt>
					<dd>
						<p>It contains the metadata for each image. This file can be created in a spreadsheet application (see formats and examples below).</p>
						<ul>
							<li>Line 1 contains column headers</li>
							<li>Line 2 contains data format codes; [f] for floats, [t] for text</li>
							<li>Line 3...n contain data for each image</li>
						</ul>
					</dd>
			</dl>

			<p>
				The metadata and data for each image is organised in various levels (image, object, process, sample, etc.). All column names must be prefixed with the level name (<code>img_***</code>, <code>object_***</code>, etc.). Some common fields, used to filter data, must be named and sometimes formatted in a certain way (required format in blue), which is documented below. But, overall, the only two mandatory fields are <code  class="text-danger">img_file_name</code> and <code class="text-danger">object_id</code> (in red).
			</p>
				<ul>
					<li>IMAGE
					<ul>
						<li><code class="text-danger">img_file_name</code> [t]: name of the image file in the folder (including extension)</li>
						<li><code>img_rank</code> [f] : rank of image to be displayed, in case of existence of multiples (&lt;10) images for one object. Starts at 1.</li>
					</ul></li>

					<li>OBJECT: one object to be classified, usually one organism. One object can be represented by several images. In this <code>tsv</code> file, there is one line per image which means the object data gets repeated on several lines.
					<ul>
						<li><code class="text-danger">object_id</code> [t] : unique object name (will be displayed in Ecotaxa object page)</li>
						<li><code>object_link</code> [f] : URL of an associated website</li>
						<li><code>object_lat</code> [f] : latitude, <span class="text-info">decimal degrees</span></li>
						<li><code>object_lon</code> [f] : longitude, <span class="text-info">decimal degrees</span></li>
						<li><code>object_date</code> [f] : ISO8601 <span class="text-info">YYYYMMJJ</span> UTC</li>
						<li><code>object_time</code> [f] : ISO8601 <span class="text-info">HHMMSS</span> UTC</li>
						<li><code>object_depth_min</code> [f] : minimum depth of object, <span class="text-info">meters</span></li>
						<li><code>object_depth_max</code> [f] : maximum depth of object, <span class="text-info">meters</span></li>
					</ul>
					And, for already classified objects
					<ul>
						<li><code>object_annotation_date</code> [t] : ISO8601 <span class="text-info">YYYYMMJJ</span> UTC</li>
						<li><code>object_annotation_time</code> [t] : ISO8601 <span class="text-info">YYYYMMJJ</span> UTC</li>
						<li><code>object_annotation_category</code> [t] : class of the object</li>
						<li><code>object_annotation_person_name</code> [t] : name of the person who identified the object</li>
						<li><code>object_annotation_person_email</code> [t] : email of the person who identified the object</li>
						<li><code>object_annotation_status</code> [t] : <span class="text-info">predicted</span>, <span class="text-info">dubious</span>, or <span class="text-info">validated</span></li>
					</ul>
					And additional object-related fields
					<ul>
						<li><code>object_***</code> [f] or [t] : other fields relative to the object</li>
					</ul></li>

					<li>ACQUISITION: metadata relative to the image acquisition
					<ul>
						<li><code>acq_id</code> [t] : unique identifier</li>
						<li><code>acq_instrument</code> [t] : name of the instrument (UVP, ZOOSCAN, FLOWCAM, etc.)</li>
						<li><code>acq_***</code> [f] or [t] : other fields relative to the acquisition</li>
					</ul></li>

					<li>PROCESS: metadata relative to the processing of the raw images
					<ul>
						<li><code>process_id</code> [t] : unique identifier</li>
						<li><code>process_***</code> [f] or [t] : other fields relative to the process</li>
					</ul>
					</li>
					<li>SAMPLE: a collection event
					<ul>
						<li><code>sample_id</code> [t] : unique identifier</li>
						<li><code>sample_***</code> [f] or [t] : other fields relative to the sample</li>
					</ul>
        </li>
				</ul>


			<p>You can download example tsv files</p>
			<ul>
				<li><a href="/static/examples/ecotaxa_table_minimum.tsv">Minimal example</a>, for fully manual entry</li>
				<li><a href="/static/examples/ecotaxa_table_without_classification.tsv">Full featured example, with unknown</a> objects only</li>
				<li><a href="/static/examples/ecotaxa_table_with_classification.tsv">Full featured example, with already classified</a> objects</li>
			</ul>
		
			<p>Several such importation folders can be placed alongside each other in a main folder. Pointing at that main folder will import all subfolders recursively. EcoTaxa will read all <code>tsv</code> files and then import the images they point to. When "Skip <code>tsv</code> that have already been imported" is ticked, the names of <code>tsv</code> files are recorded and those already imported are not re-imported. For ongoing projects, this allows to simply put new data alongside the old import folders and have EcoTaxa only import the new ones.</p>
			
			So overall, the hierarchy can look like
			<ul style="list-style: none">
				<li><span class="glyphicon glyphicon-folder-open"> import_folder</span>
				<ul style="list-style: none">
					<li><span class="glyphicon glyphicon-folder-open"> my_data_1</span>
					<ul style="list-style: none">
						<li><span class="glyphicon glyphicon-file"></span> img_1.jpg</li>
						<li><span class="glyphicon glyphicon-file"></span> img_2.jpg</li>
						<li><span class="glyphicon glyphicon-file"></span> img_3.jpg</li>
						<li><span class="glyphicon glyphicon-file"></span> table.tsv</li>
					</ul></li>
					<li><span class="glyphicon glyphicon-folder-open"> my_data_2</span>
					<ul style="list-style: none">
						<li><span class="glyphicon glyphicon-file"></span> description.tsv</li>
						<li><span class="glyphicon glyphicon-file"></span> DCN001.jpg</li>
						<li><span class="glyphicon glyphicon-file"></span> IMG234.png</li>
						<li><span class="glyphicon glyphicon-file"></span> anim.gif</li>
					</ul></li>
				</ul></li>
			</ul>
			
			
			</div>
			
			<p><a href="#zooprocess-help" data-toggle="collapse" class="help">How to import data from zooprocess</a></p>
			<div id="zooprocess-help" class="collapse">
				<p>Use version > 7.21.</p>
				<h5>Importation of previously validated samples <small>(vignettes sorted in "sorted_vignettes” folder and identification loaded in dat1.tsv files)</small></h5>
				<ul>
					<li>Check that ALL metadata are correct</li>
					<li>Select project</li>
					<li>Switch to Advanced mode</li>
					<li>Run "Create tables for Ecotaxa” (from "Other tools” menu for Zooscan users) and run option "ALL sorted vignettes…” to create the Ecotaxa folder in the root of your project. This Ecotaxa folder will contain and TSV tables sorted by samples</li>
					<li>Load the "ecotaxa” folder on the server</li>
				</ul>

			<h5>Importation from unvalidated samples <small>(on-going projects)</small></h5>
				<ul>
					<li>Check that ALL metadata are correct</li>
					<li>Zooscan : TSV tables are automatically created along with PID files in each sample folder during the process of the images</li>
					<li>All instruments: Run "Create tables for Ecotaxa” (from "Other tools” menu for Zooscan users) and run option "ALL unpredicted/validated…” to create the TSV tables in the sample folders along with PID files</li>
					<li>Load the "_work” folder on the server</li>
					<li>When importing, tick the "Skip <code>tsv</code> files" option</li>
				</ul>
			</div>
		
		</div>
	</div>
</div>

<form class="form" method="post" enctype="multipart/form-data">

	<div class="row" style="margin: 5px">
		<div class="col-sm-5">
  <div class="form-group">
				<label class="control-label">Choose a folder or zip file on the server</label>
      <div class="input-group">
					<input type="text" class="form-control" id="ServerPath" name="ServerPath" value="" size="200">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"  data-toggle="modal" data-target="#FileModal">
					<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>
                </span>
				</div>
				<p class="help-block">Contact the project manager to know where and how to upload your data. Once the import is complete, all data folders/files can be safely erased on the server.
				<br>Project manager : {{ g.prjmanagermailto |safe }}</p>
			</div>
		</div>

		<div class="col-sm-2" style="text-align: center">
			<label class="control-label">OR</label>
		</div>

		<div class="col-sm-5">
<div class="form-group">
				<label class="control-label">Upload folder(s) compressed as a zip file</label>
				<input class="form-control" type="file" id="uploadfile" name="uploadfile" size="200">
				<p class="help-block">Only for &lt;&nbsp;100MB zip files.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

  <div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="skiploaded" name="skiploaded" value="Y">Skip <code>tsv</code> files that have already been imported
					</label>
    </div>
  </div>
  <div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="skipobjectduplicate" name="skipobjectduplicate" value="Y">Skip objects that have already been imported
					</label>
    </div>
  </div>

			<p><a href="#advanced" data-toggle="collapse" class="help">Advanced options</a></p>
			<div id="advanced" class="collapse">
				<div class="form-group">
					<label for="port" class="control-label">Optional taxonomy mapping</label>
					<p class="help-block">This allows to change the name of the categories of previously classified objects to match the names in the UniEuk taxonomic framework included in the application.<br>Examples:<br>
					crust_cop = Copepoda<br>
					gelatinous medusae = Cnidaria</p>

          <table><tr><td>Imported name : <input type="text" id="oldname" class="form-control" style="width: 100px;display: inline-block;">
          UniEuk name :&nbsp; </td><td ><div class="input-group" >
            <select id="taxolb" name="taxolb" style="width: 210px" class='taxolb' > </select>
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button"  data-toggle="modal" data-target="#TaxoModal" data-mytargetid="taxolb">
                    <span id=OpenTaxoLB class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
                </span>
          </div><!-- /input-group -->
          </td><td>
            <button class="btn btn-primary " type="button" onclick="TaxoHelperBtAdd();">Add to list</button>
          </td>
          </tr></table>

					<textarea class="form-control" id="TxtTaxoMap" name="TxtTaxoMap" rows="4" placeholder="oldname = UniEuk name"></textarea>
				</div>
			</div>

    <input type="hidden" name="starttask" value="Y">
			<button type="submit" class="btn btn-lg btn-block btn-primary">Start import</button>
    </div>
  </div>

</form>
<br><a href="/prj/simpleimport/{{ g.prjprojid }}">If you have only image and no data file you can use the simple import here.</a>
<script>
function TaxoHelperBtAdd(){
  var s=$('#oldname').val()+"="+$('#taxolb option:selected').text();
  var txt=$('#TxtTaxoMap');
  txt.val( txt.val() +s+ "\n");
}

$(document).ready(function() {
    $('#FileModal').on('show.bs.modal', function () {
        $("#TaxoModalBody").html(""); {# Pour eviter les conflit sur le jstree suite à des ouverture successive car le jstree est dans la modal cachée #}
         $("#FileModalBody").html("Loading...").load("/common/ServerFolderSelect");
    });
    $(".taxolb").select2({
        ajax: {
            url: "/search/taxo",
            dataType: 'json',
            delay: 250,
            data: function (params) {  return { q: params.term, page: params.page };  },
            processResults: function (data) { return { results: data};  },
            cache: true
        },
        minimumInputLength: 3
    }); // Select2 Ajax
    $('#TaxoModal').on('show.bs.modal', function () {
         $("#FileModalBody").html("");
         $("#TaxoModalBody").html("Loading...").load("/search/taxotree?target=taxolb");
    });
  }); // Ready
</script>

<!-- Modal -->
<div class="modal " id="FileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Select a folder or a zip file</h4>
      </div>
      <div class="modal-body">
        <div id="FileModalBody">...</div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal " id="TaxoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Taxonomy Tree</h4>
      </div>
      <div class="modal-body">
        <div id="TaxoModalBody">...</div>
      </div>
    </div>
  </div>
</div>



{% endblock %}