{% extends "layout.html" %}
{% macro PutInLabel(tsk) -%}
  {% set state=tsk.taskstate %}
  {% set id=tsk.id %}
  {% if not tsk.from_job %}
    {% if state=="Question" %}
      <a href="/Task/Question/{{ id }}">
        <button class="btn btn-xs btn-warning">{{ state }}</button>
      </a>
    {% elif state=="Error" %}
      <a href="/Task/Show/{{ id }}">
        <button class="btn btn-xs btn-danger">{{ state }}</button>
      </a>
    {% elif state=="Running" %}
      <a href="/Task/Show/{{ id }}">
        <button class="btn btn-xs btn-info">{{ state }}</button>
      </a>
    {% elif state=="Done" %}
      <a href="/Task/Show/{{ id }}">
        <button class="btn btn-xs btn-success">{{ state }}</button>
      </a>
    {% else %}
      {{ state }}
    {% endif %}
  {% else %}
    {% if state=="Question" %}
      <a href="/Job/Question/{{ id }}">
        <button class="btn btn-xs btn-warning">{{ state }}</button>
      </a>
    {% elif state=="Error" %}
      <a href="/Job/Show/{{ id }}">
        <button class="btn btn-xs btn-danger">{{ state }}</button>
      </a>
    {% elif state=="Running" %}
      <a href="/Job/Show/{{ id }}">
        <button class="btn btn-xs btn-info">{{ state }}</button>
      </a>
    {% elif state=="Done" %}
      <a href="/Job/Show/{{ id }}">
        <button class="btn btn-xs btn-success">{{ state }}</button>
      </a>
    {% elif state=="Pending" %}
      <a href="/Job/Show/{{ id }}">
        <button class="btn btn-xs btn-gris">{{ state }}</button>
      </a>
    {% else %}
      {{ state }}
    {% endif %}
  {% endif %}
{%- endmacro %}

{% block body %}
  <a class='btn btn-default' href=?cleandone=Y{{ seeall }}>Clean All Done</a>
  <a class='btn btn-default' href=?cleanerror=Y{{ seeall }}>Clean All Error</a>
  <a class='btn btn-default' href=?cleanall=Y{{ seeall }}>Clean All (warning !!!)</a>  Task count : {{ len_tasks }}
  <a class='btn btn-default' href=?seeall=Y>See All users tasks </a>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Task type</th>
      <th>Owner</th>
      <th>State</th>
      <th>Step</th>
      <th width="60px">%</th>
      <th>Message</th>
      <th>Creation date</th>
      <th>Last update</th>
    </tr>
    {% for t in tasks %}

      <tr>
        {% if t.from_job %}
          <td><a href="/Job/Show/{{ t.id }}"> {{ t.id }}
            {% else %}
          <td><a href="/Task/Show/{{ t.id }}"> {{ t.id }}
        {% endif %}
        <button class="btn btn-xs btn-primary">View</button>
        </a></td>
        <td>{{ t.taskclass }}
          {% set prj_id = t.project_id() %}
          {% if prj_id %}
            <br/>in <a href="/prj/{{ prj_id }} ">{{ prj_id }}</a>
          {% endif %}
        </td>
        <td><a href="mailto:{{ t.owner_rel.email }}">{{ t.owner_rel.name }}</a></td>
        <td>{{ PutInLabel(t) }}</td>
        <td>{{ t.taskstep }}</td>
        <td>{{ t.progresspct }} %</td>
        <td>{{ t.progressmsg }}</td>
        <td>{{ t.creationdate|datetime }}</td>
        <td>{{ t.lastupdate|datetime }}</td>
      </tr>

    {% endfor %}
  </table>

{% endblock %}