{% macro checkboxinput(name, checkedvalue, value='',extra='') -%}
    <input type="checkbox" name="{{ name }}" id="{{ name }}" value="{{ checkedvalue }}"  {{ 'checked' if value==checkedvalue }} {{ extra|safe }}>
{%- endmacro %}


{% extends "layout.html" %}

{% block body %}
<style>
#divheadinfo,form {margin-left: 5px;}
.DisabledCell {background-color: #BBB;}
#tbl td:nth-child(1) label { vertical-align: top;margin-left: 3px }
#tbl td:nth-child(1) { white-space: nowrap; }
</style>

<form class="form-horizontal" method="post" enctype=multipart/form-data id="formtask">

<a href="#create-project" data-toggle="collapse" class="help" >DOWNLOAD OPTIONS<span class="glyphicon glyphicon-info"></span></a></p>
<div id="create-project" class="collapse panel panel-default">
  <div class="panel-body">
    <ul>
      <li>The data from the selected samples and depths will be prepared according to the selected file format and exported as a unique ZIP archive</li>
      <li>The application will also export an additionnal summary file containing the metadata and status of the data from each project.</li>
      <li>3 data formats are available and only authorized data for the selected format (reduced/detailed/raw) will be exported.
        Contact data owners or project managers to request additionnal permissions (see permission explanation in the LANDING PAGE information of the Particle module).
        The ODV data format permits loading the exported data directly into the <a href="https://odv.awi.de/" target="_blank">Ocean Data View application</a> </li>
    </ul>
  </div>
</div>
<table><tr><td style="vertical-align: top">
  <b>Samples filters :  </b>{{ TxtFiltres }}
<br><b>Samples count :  </b> {{ SampleCount }}

</td>{% if statdata!=False %}
  <td style="padding-left: 20px;padding-right: 10px;vertical-align: top;">Sample statistics : </td><td>
      <table class='table table-hover table-verycondensed table-bordered' style="width: auto;margin-bottom: 3px;">
      <tr><td> Sample count</td>  <td>{{ statdata.nbrsample }}</td>
        <td> Validated objects %</td>  <td>{{ statdata.taxostat.pctobjval }} %</td>
      </tr>
      <tr>
        <td> Visible</td>  <td>{{ statdata.nbrvisible }}</td>
        <td>Samples fully validated</td>  <td>{{ statdata.taxostat.pctval100pct }} %</td>
      </tr>
      <tr>
        <td> Not Visible</td>  <td>{{ statdata.nbrnotvisible }}</td>
        <td>Samples partially validated</td>  <td>{{ statdata.taxostat.pctpartval }} %</td>
      </tr>
      </table>
{% endif %}
</tr></table>


  <input type="hidden" name="backurl" value="{{ backurl }}">
  <table id=tbl class="table table-bordered table-condensed " style="width: 1000px">
    <thead><tr><th>Export format</th><th>Options</th><th>Description</th></tr></thead>
    <tbody>
    <tr>
      <td>
        <input type="radio" name="what" value="RED" {{'checked' if data.what=='RED'}} id="cbred" ><label for="cbred"> Reduced data</label></td>
      <td>
File format <select name="fileformat" >
        <option value="ODV" {{ 'selected' if data.fileformat=='ODV' }} >ODV</option>
        <option value="TSV" {{ 'selected' if data.fileformat=='TSV' }} >TSV</option>
      </select>
        <br><b>Filters :</b>{{ RedFilter }}
        <br><input type="checkbox" name="aggregatefilesr" id="aggregatefilesr" value="Y"> Aggregate files in a single file (TSV Only)
      </td>
      <td>CTD + PARTICLES abundances and biovolumes sorted in 15 reduced classes at vertical steps of 5m<br>
    ZOOPLANKTON selected categories at variable vertical steps<br>
        SUMMARY file (TSV format only) : metadata of exported sample (including pixel size for zooplankton)<br>
    Apply zooplankton and pressure selections from graph<br>
        - if you do not select any plankton category, the export will return all catégories<br>
        - if you  enable "Sum abundance of children categories", the children counts will be added to the selected category
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="what" value="DET" {{'checked' if data.what=='DET'}} id="cbdet" ><label for="cbdet"> Detailed data</label></td>
      <td>
File format <select name="fileformatd" >
        <option value="ODV" {{ 'selected' if data.fileformat=='ODV' }} >ODV</option>
        <option value="TSV" {{ 'selected' if data.fileformat=='TSV' }} >TSV</option>
      </select>
        <br><input type="checkbox" name="excludenotlivingd" value="Y"> Exclude not living
        <br><input type="checkbox" name="aggregatefilesd" id="aggregatefilesd" value="Y"> Aggregate files in a single file (TSV Only)

      </td>
      <td>CTD + PARTICLES abundances and biovolumes sorted in 45 detailed classes at vertical steps of 5m<br>
        ZOOPLANKTON from all categories and summed in parent categories at vertical steps of 5m<br>
        SUMMARY file (TSV format only) : metadata of exported sample (including pixel size for zooplankton)<br>
        Previous screen filter on classification ignored, pressure used

      </td>
    </tr>
          <tr>
      <td><input type="radio" name="what" value="RAW" {{ 'checked' if data.what=='RAW' }} id="cbraw" ><label for="cbraw"> RAW</td>
      <td>
        <input type="checkbox" name="excludenotlivingr" value="Y"> Exclude not living
        <br><input type="checkbox" name="includenotvalidatedr" value="Y"> Include not validated objects
      </td>
      <td>
        PARTICLES (UVP) : imported « BRU » data compressed and sorted in 1m bins<br>
ZOOPLANKTON : The main measurements (Area, Area excluded, Major, Minor and Mean grey) will be exported with the annotation for each object (possibly excluding not_living items)<br>
CTD : as imported<br>
SUMMARY file : metadata of exported sample (including pixel size for zooplankton)<br>


      </td>
    </tr>
    <tr>

</table>
<p>
In order to ease the transfer of large exported datasets, you can chose to export your files to the Ecotaxa FTP that is utilized to import your data and images.
<br>Your exported files on FTP will be visible and available for other users, but automatically deleted after 1 month.
<br>Ask Ecotaxa managers ({{ g.LstUser|safe }}) if you do not have yet the permissions on this FTP
<br> <input type="checkbox" name="putfileonftparea" value="Y"> Save export file on "Exported data" folder on the FTP Area
</p>
<b>45 Particles class limits</b> (Upper limit included + 1 extra class > last limit):  {{ GetPartDetClassLimitListTextResult }}
<br><b>15 Particles class limits</b> :  {{ GetPartRedClassLimitListTextResult }}
<table>
<tr>
<td valign="top">
  {% if SampleCount>0 %}
  <br><br>
    <input type="hidden" name="starttask" value="Y">
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-primary">Start Task</button>
    </div>
  </div>
    {% else %}
    <span style="color: red;font-weight: bold;font-size: x-large">No data to export, change your criteria</span>
  {% endif %}
</td>
</tr>
  </tbody>
</table>
</form>
<script>
$(document).ready(function() {
  UpdateTblBG();
}); // Ready
$('#tbl input[type=radio]').click(UpdateTblBG);
$('#tbl').on('click','.DisabledCell,input:disabled',function (e) {
  e.preventDefault();
  alert("Select the right Export format on the left column first");

});

function UpdateTblBG(){
  $('#tbl tbody tr').each(function () {
    var IsActive=($(this).find('input[type=radio]:checked').length>0);
    if(IsActive){
      $(this).find('td:nth-child(1n+2),select').removeClass('DisabledCell');
    }else{
      $(this).find('td:nth-child(1n+2),select').addClass('DisabledCell');
    }
  });
}

$('#formtask').submit(function (e) {
  if($('#cbred:checked,#aggregatefilesr:checked').length===2)
    if($('[name=fileformat]').val()!=='TSV') {
      alert('Aggregate files in a single file is available only for TSV file format ');
      e.preventDefault();
    }
if($('#cbdet:checked,#aggregatefilesd:checked').length===2)
    if($('[name=fileformatd]').val()!=='TSV') {
      alert('Aggregate files in a single file is available only for TSV file format ');
      e.preventDefault();
    }

});

</script>

{% endblock %}