{% macro checkboxinput(name, checkedvalue, value='',extra='') -%}
    <input type="checkbox" name="{{ name }}" id="{{ name }}" value="{{ checkedvalue }}"  {{ 'checked' if value==checkedvalue }} {{ extra|safe }}>
{%- endmacro %}


{% extends "layout.html" %}

{% block body %}

  
<b>Samples filters :  </b>{{ TxtFiltres }}
<br><b>Samples count :  </b> {{ SampleCount }}
  

<form class="form-horizontal" method="post" enctype=multipart/form-data>
  <table class="table table-bordered table-condensed " style="width: 800px">
    <tr>
      <td><input type="radio" name="what" value="RED" {{'checked' if data.what=='RED'}} >Reduced data</td>
      <td>
File format <select name="fileformat" >
        <option value="ODV" {{ 'selected' if data.fileformat=='ODV' }} >ODV</option>
        <option value="TSV" {{ 'selected' if data.fileformat=='TSV' }} >TSV</option>
      </select>
        <br><b>Filters :</b>{{ RedFilter }}
      </td>
      <td>Particles on 15 class + CTD  - Filtered on depth<br>
        Classification: all available or selected one <br>or sum of childrens for selected one on previous screen
      </td>
    </tr>
    <tr>
      <td><input type="radio" name="what" value="DET" {{'checked' if data.what=='DET'}} >Detailled data</td>
      <td>
File format <select name="fileformatd" >
        <option value="ODV" {{ 'selected' if data.fileformat=='ODV' }} >ODV</option>
        <option value="TSV" {{ 'selected' if data.fileformat=='TSV' }} >TSV</option>
      </select>
        <br><input type="checkbox" name="excludenotliving" value="Y"> Exclude not living
      </td>
      <td>Particles on 45 class + CTD - Filtered on depth<br>
        Classification: all available + cumulative on their parents
        <br>Previous screen filter on classification ignored
      </td>
    </tr>
          <tr>
      <td><input type="radio" name="what" value="RAW" {{ 'checked' if data.what=='RAW' }}>RAW</td>
      <td></td>
      <td>
        Particles: <UL>
        <LI>UVP : RAW compacted Histograms</LI>
        <LI>LISST : Nothing</LI>
        </UL>
        List of particles<br>
        CTD files <br>
        Sample list details

      </td>
    </tr>
    <tr>

</table>
<script>
function ComputeSampleList() {
    var cv="";
    $('#TblVar input').each(function (){
       if($(this).prop("checked")){
           if(cv!="")
               cv+=",";
           cv+=$(this).data("var");
       }
    });
    $('#SampleList').val(cv);
}
function CheckBasedOnText() {
    var cv=$('#SampleList').val();
    var cvl=cv.split(",");
    //console.log(cvl);
    $('#TblVar input').each(function (){
       if($(this).prop("checked",cvl.indexOf($(this).data("var"))>=0)){
           if(cv!="")
               cv+=",";
           cv+=$(this).data("var");
       }
    });
}
</script>


<table>
<tr>


<td valign="top">
  <br><br><br>
    <input type="hidden" name="starttask" value="Y">
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-primary">Start Task</button>
    </div>
  </div>

</td>
</tr>
</table>
</form>
{% endblock %}