{% macro checkboxinput(name, checkedvalue, value='',extra='') -%}
    <input type="checkbox" name="{{ name }}" id="{{ name }}" value="{{ checkedvalue }}"  {{ 'checked' if value==checkedvalue }} {{ extra|safe }}>
{%- endmacro %}


{% extends "layout.html" %}

{% block body %}


<form class="form-horizontal" method="post" enctype=multipart/form-data>
  <table class="table table-bordered table-condensed " style="width: 600px">
    <tr>
      <td><input type="radio" name="what" value="TSV" {{ 'checked' if data.what=='TSV' }}>TSV</td>
      <td>
{{ checkboxinput("objectdata","1",data.objectdata) }} Object Data (median,mean, x, y, ...)<br>
{{ checkboxinput("processdata","1",data.processdata) }} Process Data (software,version, ...)<br>
{{ checkboxinput("acqdata","1",data.acqdata) }} Acquisition Data (Resolution, ...)<br>
{{ checkboxinput("sampledata","1",data.sampledata) }} Sample Data (lat,long, date, ...)<br>
{{ checkboxinput("histodata","1",data.histodata) }} Historical Data <br>
{{ checkboxinput("commentsdata","1",data.commentsdata) }} Comments<br>
{{ checkboxinput("usecomasepa","1",data.usecomasepa) }} Use comma as decimal separator<br>

      </td>
    </tr>
    <tr>
      <td><input type="radio" name="what" value="XML" {{'checked' if data.what=='XML'}} >XML</td>
      <td>NOT YET IMPLEMENTED</td>
    </tr>
      <tr>
      <td><input type="radio" name="what" value="IMG" {{'checked' if data.what=='IMG'}} >Images</td>
      <td>NOT YET IMPLEMENTED</td>
    </tr>
    <tr>
      <td><input type="radio" name="what" value="SUM" {{'checked' if data.what=='SUM'}} >Summary</td>
      <td>NOT YET IMPLEMENTED</td>
    </tr>
</table>

<script>

    function ComputeSampleList() {
        var cv="";
        $('#TblVar input').each(function (){
           if($(this).prop("checked")){
               if(cv!="")
                   cv+=",";
               cv+=$(this).data("var");
           }
        });
        $('#SampleList').val(cv);
    }
    function CheckBasedOnText() {
        var cv=$('#SampleList').val();
        var cvl=cv.split(",");
        //console.log(cvl);
        $('#TblVar input').each(function (){
           if($(this).prop("checked",cvl.indexOf($(this).data("var"))>=0)){
               if(cv!="")
                   cv+=",";
               cv+=$(this).data("var");
           }
        });
    }
</script>

<table>
<tr><td valign="top">
Exported Samples :<br>
<input type="text" name="samplelist" id="SampleList" value="{{ data.samplelist }}" style="width: 400px;"><br>

Select <a name="tbltop2" href="#tbltop2" onclick="$('#TblVar input').prop( 'checked', true );ComputeSampleList();">All</a>
    / <a href="#tbltop2" onclick="$('#TblVar input').prop( 'checked', false );ComputeSampleList();">None</a>
    / <a href="#tbltop2" onclick="CheckBasedOnText();" title="Usefull to copy setting from a previous export" >Text field content</a>

<table class="table table-bordered table-condensed" style="width: auto" id="TblVar">
    <tr><th >Select</th><th width="200">Sample</th></tr>
    {%   for r in g.SampleList %}
        <tr><td><input type="checkbox" value="Y" name="var{{ r[0] }}" data-var="{{ r[1] }}" ></td><td>{{ r[1] }}</td></tr>
    {% endfor %}
</table>
</td>
<td valign="top">
  <br><br><br>
    <input type="hidden" name="starttask" value="Y">
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-primary">Start Task</button>
    </div>
  </div>

</td>
</tr>

</table>



</form>

   <script>
$(document).ready(function() {
        $('#TblVar input').click(ComputeSampleList);
        CheckBasedOnText();

    }); // Ready
 </script>


{% endblock %}