{% extends "layout.html" %}
{% block headcenter %}
  <h4><a href="/part/prj/{{ g.prjprojid }}">{{ g.prjtitle }}</a></h4>
{% endblock %}

{% block body %}
<div style="margin: 3px;">

<h2>Particle ZooScan folder Importation Task</h2>
<p> This task does the following operations :</p>
  <ul>
    <li>Parse the meta/xxxx_header_xxx.txt file to get the list of available sample and show list of availables and already imported ones</li>
    <li>Create sample if not exists</li>
    <li>Import metadata in the sample</li>
    <li>Generate the Raw Particle histogram from BRU files</li>
    <li>Generate the Detailed and reduced Particle histogram</li>
    <li><a href="#general-help" data-toggle="collapse" class="help">Import CTD</a></li>
  </ul>
  <p>The purpose of "Load only metadata" checkbox is to just reload metadata of sample</p>


<div id="general-help" class="collapse panel panel-default" style="width: 800px;margin-left: 50px;">
  <div class="panel-body">
<b>IMPORTANT NOTE on the format  of CTD data files to be imported:</b><br>
This Particle module is not an application designed to handle diverse CTD file formats. If you want to import CTD data along with particle/zooplankton data, you must format the files according to the following rules :<br>
- One file per sample/profile<br>
- File location : ctd_data_cnv folder of the « Zooprocess » project<br>
- Filename : profileid.ctd (the same profileid as the one documented in the *_header_*.txt file)<br>
- Separator : Tab<br>
- File encoding : Latin1<br>
- Column titles : We have defined a list of standard column names. We DO RECOMMEND to respect this standard to allow displaying your data with the data from other projects. You may anyhow use other names for other parameters. The Pressure column is mandatory for vertical profiles. The list of pre-defined column names is :
<p style=" white-space: pre; margin-left: 50px; ">Chloro Fluo [mg Chl/m3]
Conductivity [mS/cm]
Cpar [%]
Depth [salt water, m]
Fcdom factory [ppb QSE]
In situ Density Anomaly [kg/m3]
Neutral Density [kg/m3]
Nitrate [µmol/l]
Oxygen [µmol/kg]
Oxygen [ml/l]
PAR [µmol m-2 s-1]
Part backscattering coef 470 nm [m-1]
Pot. Temperature [degC] (any ref.)
Potential Density Anomaly [kg/m3]
Potential Temperature [degC]
Practical Salinity [psu]
Practical Salinity from Conductivity
<b>Pressure in Water Column [db] => MANDATORY for DEPTH PROFILES</b>
QC Flag
Sound Speed c [m/s]
SPAR [µmol m-2 s-1]
Temperature [degC]
<b>Time [yyyymmddhhmmssmmm] => MANDATORY FOR TIME DISPLAY</b>
</p>
  </div>
</div>


<p>Import folder : {{ data.DossierUVP }}</p>
<form class="form" method="post" >
<style>
{#  On centre les coche de selection#}
  #tblsample td:nth-child(1) {text-align: center}
</style>
<h3>New samples to import</h3>
<table id="tblsample" class="table table-bordered table-condensed" style="width: auto;">
  <tr>
    <th style="text-align: center;">Select<br>
      <input type="checkbox" id="checkall" onclick="$('#tblsample td input').prop('checked',$(this).prop('checked'))" checked>
    </th>
    <th>profileid</th>
    <th>filename</th>
    <th>stationid</th>
    <th>firstimage</th>
    <th>endimg</th>
    <th>comment</th>
  </tr>
{% for r in data.profilelistinheader if r['psampleid'] == None %}
  <tr>
    <td><input type="checkbox" name="new_{{ loop.index }}" value="{{ r['profileid'] }}" checked></td>
    <td>{{ r['profileid'] }}</td>
    <td>{{ r['filename'] }}</td>
    <td>{{ r['stationid'] }}</td>
    <td>{{ r['firstimage'] }}</td>
    <td>{{ r['endimg'] }}</td>
    <td>{{ r['comment'] }}</td>
  </tr>

  {% endfor %}
</table>
<h3>Already imported samples to Update</h3>
<table id="tblsample2" class="table table-bordered table-condensed" style="width: auto;">
  <tr>
    <th style="text-align: center;">Select<br>
      <input type="checkbox" id="checkall" onclick="$('#tblsample2 td input').prop('checked',$(this).prop('checked'))" >
    </th>
    <th>profileid</th>
    <th>filename</th>
    <th>stationid</th>
    <th>firstimage</th>
    <th>endimg</th>
    <th>ID</th>
    <th>Raw Part. Histo</th>
    <th>Det Part. Histo</th>
    <th>Reduced Part. Histo</th>
    <th>Taxonomy Histo</th>
    <th>comment</th>
  </tr>
{% for r in data.profilelistinheader if r['psampleid'] != None %}
  <tr>
    <td><input type="checkbox" name="new_{{ loop.index }}" value="{{ r['profileid'] }}" ></td>
    <td>{{ r['profileid'] }}</td>
    <td>{{ r['filename'] }}</td>
    <td>{{ r['stationid'] }}</td>
    <td>{{ r['firstimage'] }}</td>
    <td>{{ r['endimg'] }}</td>
    <td>{{ r['psampleid'] }}</td>
    <td>{{ r['histobrutavailable'] }}</td>
    <td>{{ r['nbrlinedet'] }}</td>
    <td>{{ r['nbrlinereduit'] }}</td>
    <td>{{ r['nbrlinetaxo'] }}</td>
    <td>{{ r['comment'] }}</td>
  </tr>

  {% endfor %}
</table>

<input type="checkbox" name="onlymeta" value="Y"> Load only metadata.<br>
    <input type="hidden" name="starttask" value="Y">
			<button type="submit" class="btn btn-lg  btn-primary" style="width: 400px;margin: 5px 20px;">Start import</button>

</form>

<script>
function TaxoHelperBtAdd(){
  var s=$('#oldname').val()+"="+$('#taxolb option:selected').text();
  var txt=$('#TxtTaxoMap');
  txt.val( txt.val() +s+ "\n");
}

$(document).ready(function() {
    $('#FileModal').on('show.bs.modal', function () {
        $("#TaxoModalBody").html(""); {# Pour eviter les conflit sur le jstree suite à des ouverture successive car le jstree est dans la modal cachée #}
         $("#FileModalBody").html("Loading...").load("/common/ServerFolderSelect");
    });
    $(".taxolb").select2({
        ajax: {
            url: "/search/taxo",
            dataType: 'json',
            delay: 250,
            data: function (params) {  return { q: params.term, page: params.page };  },
            processResults: function (data) { return { results: data};  },
            cache: true
        },
        minimumInputLength: 3
    }); // Select2 Ajax
    $('#TaxoModal').on('show.bs.modal', function () {
         $("#FileModalBody").html("");
         $("#TaxoModalBody").html("Loading...").load("/search/taxotree?target=taxolb");
    });
  }); // Ready
</script>


</div>
{% endblock %}