  {% set mail_status = {True:_("Verified"),False:_("Waiting verification"), None:_("Not verified")}%}<div class="form-box"><label for="mail_status">{{_('Email status')}} <span class="ml-1 inline">{{mail_status[user.mail_status]}}</span></label>
</div><div class="form-box">
  <label for="status">{{ _('Status') }}</label>
  <div class="form-group" role="group">
    {% for st in ((1,_("Active")),(0,_("Inactive")),(2,_("Pending")),(-1,_("Blocked"))) %}
    {{ form_group_radio('status_' + loop.index|string(),'status',st[0],st[1],user.status,required=True)}}
    {% endfor %}
  </div>
</div>
<div class="form-box">
  <label for="status_admin_comment">{{_('Comment about required modifications')}}</label>
  <textarea id="status_admin_comment" name="status_admin_comment" rows=2 maxlength="250" class="w-full form-input">{{ '' if user.status_admin_comment == 'None' else user.status_admin_comment}}</textarea>
  </div>
