<div class=" w-full  tab-content">
  <div class="form-box md:w-2/3" >
    <div class="label" data-for="can_do">{{_('Roles')}} </div>
    <select id="can_do" name="can_do" multiple class="form-multiselect">
      <option value="">Default</option>
      {% for k,v in roles %}
      <option value="{{ k }}" {{ 'selected' if user.can_do and k|int in  user.can_do }}>{{ v }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-box">
  </div>{% include "v2/admin/_activate_status.html"%}
    </div>
