{% set tableid ='users-list'%}
{% if not partial %}
<div class="container mx-auto px-4 block" data-block="users">
  <div class="w-100 relative h-auto mx-auto py-4 block text-left " id="{{ tableid }}-header">
    <a  class="button is-action float-left clear-left" href="/gui/admin/users/create">{{_('Create a user')}} </a>

    {% from './v2/macros/macros.html' import modal with context %}

    {{ modal(id='help-user-access',modal_title=modal_title,type='modal-help',position='modal-aside modal-right',summary_pos={'float':'right','clear':'right'},data = {'file':'help_users.html'}) }}

  </div>
  {% endif%}

    <div id="{{ tableid }}" data-from="userslist" class="w-full shadow-1 mb-8 js js-datatable  userslist"  data-current="{{current_user.id|string}}" data-is={{isadmin}} data-paging=false data-sortable=true data-searchable=true>
<div id="wait-please" data-wait="{{_('Please wait')}}" data-loaded="{{_( 'Data loaded. Displaying...')}}"> {{ _('Please wait')}}...</div>
<table class="hide"></table>
  </div>
  </div>
