{% extends "./v2/admin/layout.html" %}
{% from "./v2/users/_modalhelp.html" import  modaluser with context %}

{% block body %}
<div class="container mx-auto">
    {% set modal_title = _("How to edit a user account") if user.id and user.id>0 else _("How to create a user account")%}
    {{modaluser(modal_title)}}
  {% set legend = _('user') + ' ' + user.id|string() if user.id else _('new user') %}
  {% set incadmin = "v2/admin/_userroles.html"%}
  {% set redir ="gui/admin/users/"%}
{% include('v2/users/_user.html')%}
</div>
{% if redir and redir !='' %}
<span class="js js-redir" data-redir="{{redir}}"></span>
{%endif%}
{% endblock %}
