// Useful 
// https://sass-lang.com/guide
// http://ipssidm.com/raisons-dabandonner-css-classique-sass/
// https://www.ionos.fr/digitalguide/sites-internet/developpement-web/sass-tutoriel/
// https://www.w3schools.com/sass/

@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600";

body {
  font-family: 'Source Sans Pro', sans-serif, Helvetica, Arial;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

$free_cols_cell-width: 200px;


.list-group {
  flex-wrap: wrap;
  display:flex;
}

// START HERE TO CUSTOMIZE the Eco properties
$EcoTaxaBorderColor : rgb(170,170,170); // border of cells

$EcoTaxaLightPinkColor : rgb(255, 218, 223);
$EcoTaxaLightBlueColor : lightblue;
$EcoTaxaLightGreenColor : rgb(180, 233, 180);

$EcoTaxaUnclassifiedColor: lightgrey;
$EcoTaxaValidatedColor: #5cb85c; // RGBA(92,184,92,255)
$EcoTaxaDubiousColor: #f0ad4e; // rgba(240,173,78,255)
$EcoTaxaPredictedColor:#5bc0de; // rgba(91,192,222,255)

$EcoTaxaSampleColor: $EcoTaxaLightPinkColor;
$EcoTaxaAcquAndProcColor: $EcoTaxaLightBlueColor;
$EcoTaxaObjectColor: $EcoTaxaLightGreenColor;

$EcoTaxaBadgeInsideColor:white;
$EcoTaxaBadgeBackgroundColor:grey;

@mixin free-cols($my-back-color : lightgrey) {
  border: 1px solid;
  border-color: $EcoTaxaBorderColor;
  background-color: $my-back-color;
  min-width: $free_cols_cell-width;
}

.EcoTaxaBasicInformation {
  @extend .col-sm-4;
  text-align: center;
  //display: flex;
  align-items: center;
  justify-content: center;
}

.EcoTaxaSampleFields {
  @include free-cols($EcoTaxaSampleColor);
}

.EcoTaxaAcquAndProcFields {
  @include free-cols($EcoTaxaAcquAndProcColor);
}

.EcoTaxaObjectFields {
  @include free-cols($EcoTaxaObjectColor);
}

.EcoTaxaExportButtonToTSV {
  @extend .btn;
  @extend .btn-primary;
}

@mixin EcoTaxaTableColors($unclassified : $EcoTaxaUnclassifiedColor, // default color for Unclassified
  $validated : $EcoTaxaValidatedColor, // default color for Validated
  $dubious : $EcoTaxaDubiousColor, // default color for Dubious
  $predicted : $EcoTaxaPredictedColor) // default color for Predicted
{
  border: 1px solid;
  border-color: $EcoTaxaBorderColor;
  background-color: lightgrey;
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;
  @extend .col-sm-6;

  // td:nth-of-type(1) is the title column which stays grey
  td:nth-of-type(2) {
    background: $unclassified;
  }

  td:nth-of-type(3) {
    background: $validated;
  }

  td:nth-of-type(4) {
    background: $dubious;
  }

  td:nth-of-type(5) {
    background: $predicted;
  }
}

.EcoTaxaProjectUsersTable {
  @include EcoTaxaTableColors($EcoTaxaLightPinkColor, $EcoTaxaLightBlueColor, $EcoTaxaLightGreenColor);
}

.EcoTaxaSamplesTable {
  @include EcoTaxaTableColors; // will take default values
}

.EcoTaxaTaxaTable {
  @include EcoTaxaTableColors($EcoTaxaValidatedColor, $EcoTaxaDubiousColor, $EcoTaxaPredictedColor);
}

.EcoTaxaListGroupHorizontal {
  @extend .list-group-horizontal;  
  @extend .list-group;
}

.EcoTaxaFocusIntro {
  @extend .bg-light;
  @extend .p-5;
  @extend .rounded-lg !optional;
  @extend .m-3;
  @extend .text-left !optional;
}

.EcoTaxaBadge {
  @extend .badge;
  @extend .badge-important;
  @extend .badge-primary !optional;
}

// ! known problem about badges : DO NOT TOUCH
// https://answers.themler.io/questions/90184/problem-with-bootstrap-badges
.badge {
  min-width: 28px;
  border-radius: 10px;
  color: EcoTaxaBadgeInsideColor;
  background-color: #999999 !important;
}

.badge-important {
  background-color: EcoTaxaBadgeBackgroundColor !important;
}

/* cannot make it work (for the moment) with the "nested mechanism"
div {
  @extend .app;
  @extend .container;
  div {
    @extend .row;

    div {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    
      @extend .col-sm-6;
    }
  }
}
*/