{% import "js_macros.html" as js %}

<style>
  {#Permet de reduire la taille et l'espace du texte du dropdown Taxo Sample#}
  #select2-sampleid-results li {
      font-size: 12px;
      padding: 3px;
  }

  #TabB .select2-selection__rendered {
      font-size: 12px;
  }
</style>

{# ------- Sample ------------#}
<div class="filter ">
  <div class="form-group-sm">
    <label class="title">Sample</label>
    {% if data.inexplore==True %}
      <span title="Available only when a project is selected" data-toggle="tooltip" data-placement="right"
            class="glyphicon glyphicon-info-sign"></span>
    {% endif %}
    <a class="pull-right label label-default" style="padding: 1px 3px 3px 3px; margin-top: 5px;font-size: 90%;" href=#
       onclick='ClearSamples();return false;'>Clear</a>
    <a class="pull-right label label-info"
       style="padding: 1px 3px 3px 3px; margin-top: 5px;margin-right:5px;font-size: 90%;" href=#
       onclick='AdvancedSamples();return false;'>Advanced</a>
    <select class="form-control" id="sampleid" name="sampleid" style="width: 100%" multiple
            autocomplete="off"> {{ data.sample_for_select|safe }}</select>
  </div>
</div>
{# ------- Depth ------------#}
<div class="filter ">
  <div class="form-group-sm">
    <label class="title">Depth</label>
    <span
        title="Positive values. Both values are required. Each object has a min and max depths. Both values must be in the selected range for the object to be displayed."
        data-toggle="tooltip" data-container="body" data-placement="right" class="glyphicon glyphicon-info-sign"></span>
    <a class="pull-right label label-default" style="padding: 1px 3px 3px 3px; margin-top: 5px;font-size: 90%;" href=#
       onclick='ClearDepths();return false;'>Clear</a>

    <div class="form-inline">
      <div class="input-group" style="width: 49%">
        <div class="input-group-addon"><span class="glyphicon glyphicon-triangle-bottom"></span></div>
        <input class="form-control" type="text" id="filt_depthmin" autocomplete="off" value="{{ data.depthmin }}"
               placeholder="Min [m]">
      </div>
      <div class="input-group" style="width: 49%">
        <div class="input-group-addon"><span class="glyphicon glyphicon-triangle-top"></span></div>
        <input class="form-control" type="text" id="filt_depthmax" autocomplete="off" value="{{ data.depthmax }}"
               placeholder="Max [m]">
      </div>
    </div>
  </div>
</div>
{# ------- Position ------------#}
<div class="filter ">
  <div class="form-group-sm">
    <label class="title">Location</label>
    <a class="pull-right label label-default" style="padding: 1px 3px 3px 3px; margin-top: 5px;font-size: 90%;" href=#
       onclick='ClearCoord();return false;'>Clear</a>

    <table>
      <tr>
        <td><input class="form-control" type="text" id="filt_MapOutW" name="filt_MapOutW" value="{{ data.MapW }}"
                   placeholder="West"></td>
        <td><input class="form-control" type="text" id="filt_MapOutN" name="filt_MapOutN" value="{{ data.MapN }}"
                   placeholder="North">
          <input class="form-control" type="text" id="filt_MapOutS" name="filt_MapOutS" value="{{ data.MapS }}"
                 placeholder="South"></td>
        <td><input class="form-control" type="text" id="filt_MapOutE" name="filt_MapOutE" autocomplete="off"
                   value="{{ data.MapE }}" placeholder="East"></td>
      </tr>
    </table>

    <button type="button" class="btn btn-sm btn-default btn-block active" style="margin-top: 3px;"
            onClick="OpenMap({{ g.Projid }});">Open map
    </button>
  </div>
</div>
{# ------- Dates ------------#}
<div class="filter ">
  <div class="form-group-sm">
    <label class="title">Date</label>
    <a class="pull-right label label-default" style="padding: 1px 3px 3px 3px; margin-top: 5px;font-size: 90%;" href=#
       onclick="ClearDates();return false;">Clear</a>
    <input class="form-control" type="text" style="width: 100%" id="filt_fromdate" name="filt_fromdate"
           value="{{ data.fromdate }}" autocomplete="off" placeholder="Begin">
    <input class="form-control" type="text" style="width: 100%" id="filt_todate" name="filt_todate"
           value="{{ data.todate }}" autocomplete="off" placeholder="End">
    <select class="form-control" id="month" name="month" style="width: 100%" multiple autocomplete="off">
      {{ data.month_for_select|safe }}
    </select>
  </div>
</div>
{# ------- Times ------------#}
<div class="filter ">
  <div class="form-group-sm">

    <label class="title">Time</label>
    <input type="checkbox" value="Y" id="filt_inverttime" name="filt_inverttime"
           autocomplete="off" {{ "checked" if data.inverttime=='1' }}> <label for="filt_inverttime">invert</label>
    <a class="pull-right label label-default" style="padding: 1px 3px 3px 3px; margin-top: 5px;font-size: 90%;" href=#
       onclick='ClearTimes();return false;'>Clear</a>
    <form class="form-inline">
      <input class="form-control" type="text" style="width: 49%" id="filt_fromtime" name="filt_fromtime"
             autocomplete="off" value="{{ data.fromtime }}" placeholder="Begin">
      <input class="form-control" type="text" style="width: 49%" id="filt_totime" name="filt_totime" autocomplete="off"
             value="{{ data.totime }}" placeholder="End">
    </form>
    <div style="margin: 7px" id="time-slider-range"></div>
    <select class="form-control" id="daytime" name="daytime" style="width: 100%" multiple autocomplete="off">
      {{ data.daytime_for_select|safe }}
    </select>
  </div>
</div>
{# ------- Instrument ------------#}
{% if data.inexplore==True %}
  <div class="filter ">
    <div class="form-group-sm">
      <label class="title">Instrument</label> <span class="glyphicon glyphicon-question-sign"
                                                    onclick="DispInstrumList({{ g.Projid }});"
                                                    style="cursor: pointer;"></span>
      <a class="pull-right label label-default" style="padding: 1px 3px 3px 3px; margin-top: 5px;font-size: 90%;" href=#
         onclick='ClearInstrum();return false;'>Clear</a>
      <input class="form-control" type="text" id="filt_instrum" name="filt_instrum" value="{{ data.instrum }}"
             placeholder="Instrument">
    </div>
  </div>
{% endif %}
{# ------- Annotator / Freefilter ------------#}
{% if data.inexplore!=True %}
  <div class="filter ">
    <div class="form-group-sm">
      <label class="title">Annotator / Free filters</label>
      <span
          title="In Text field, you can use ^ for 'starts with' and $ for 'ends with'.
E.g. : If 'oo' returns 'pool', 'goose', 'zoo' and 'oops'
then '^oo' only matches 'oops',
and 'oo$' only matches 'zoo'
while '^oo$' matches nothing."
          data-toggle="tooltip" data-container="body" data-placement="right"
          class="glyphicon glyphicon-info-sign"></span>
      <a class="pull-right label label-default"
         style="padding: 1px 3px 3px 3px; margin-top: 5px;font-size: 90%;" href=#
         onclick='ClearAnnotFree();return false;'>Clear</a>
      <a class="pull-right label label-info"
         style="padding: 1px 3px 3px 3px; margin-top: 5px;font-size: 90%;margin-right: 5px;"
         href=# onclick='AdvancedAnnot();return false;'>Advanced</a>
      <select class="form-control" id="filt_annot" name="filt_annot" style="width: 100%"
              multiple autocomplete="off">{{ data.filt_annot_for_select|safe }}</select>
    </div>
  </div>
  <div>
    <input class="form-control" type="text" style="width: 100%" id="filt_validfromdate"
           name="filt_validfromdate" value="" autocomplete="off"
           placeholder="Validation date begin">
    <input class="form-control" type="text" style="width: 100%" id="filt_validtodate"
           name="filt_validtodate" value="" autocomplete="off"
           placeholder="Validation date end">
  </div>
  <form class="form-inline">
    <select class="form-control" id="filt_freenum" name="filt_freenum" style="width: 49%"
            autocomplete="off">
      {{ data.filt_freenum_for_select|safe }}
    </select>
    <input class="form-control" type="text" style="width: 24%" id="filt_freenumst"
           name="filt_freenumst" value="{{ data.freenumst }}" autocomplete="off"
           placeholder=">=">
    <input class="form-control" type="text" style="width: 24%" id="filt_freenumend"
           name="filt_freenumend" value="{{ data.freenumend }}" autocomplete="off"
           placeholder="<=">
  </form>
  <form class="form-inline">
    <select class="form-control" id="filt_freetxt" name="filt_freetxt" style="width: 59%"
            autocomplete="off">
      {{ data.filt_freetxt_for_select|safe }}
    </select>
    <input class="form-control" type="text" style="width: 39%" id="filt_freetxtval"
           name="filt_freetxtval" value="{{ data.freetxtval }}" autocomplete="off"
           placeholder="contains">
  </form>
{% endif %}
<script>
    function OpenMap(projid) {
        $("#mappanel").remove();
        {# Efface l'eventuel objet map affiché dans  explore #}
        $("#PopupDetails .modal-content").html("Loading...");
        $('#PopupDetails .modal-lg').css('width', $(window).width() - 40);
        $('#PopupDetails').modal({});
        var url = "/search/mappopup/?a=b";
        if (typeof (projid) != "undefined")
            url += "&projid=" + projid;
        jqProjid = $("#projid");
        if ((typeof (jqProjid.val()) != "undefined") && (jqProjid.val() != null))
            url += "&projid=" + String(jqProjid.val());
        jqTaxo = $("#taxolb");
        {# dans explore #}
        if ((typeof (jqTaxo.val()) != "undefined") && (jqTaxo.val() != null))
            url += "&taxoid=" + String(jqTaxo.val());
        jqTaxo = $("#taxofilter");
        {# dans classif manu #}
        if ((typeof (jqTaxo.val()) != "undefined") && (jqTaxo.val() != null))
            url += "&taxoid=" + String(jqTaxo.val());

        if ($("#taxochild").prop("checked"))
            url += "&taxochild=1";
        if ($("#taxofilterchild").val() == "Y")
            url += "&taxochild=1";
        $("#PopupDetails .modal-content").load(url);
    }

    function ClearCoord() {
        $("#filt_MapOutN,#filt_MapOutW,#filt_MapOutE,#filt_MapOutS").val("");
    }

    function ClearDates() {
        $("#filt_fromdate,#filt_todate").val("");
        $("#month").val(null).trigger("change");
    }

    function ClearDepths() {
        $("#filt_depthmin,#filt_depthmax").val("");
    }

    function ClearTimes() {
        $("#filt_fromtime,#filt_totime").val("");
        $("#filt_inverttime").prop("checked", false);
        $("#daytime").val(null).trigger("change");
    }
    {% if data.inexplore==True %}
        function ClearInstrum() {
            $("#filt_instrum").val("");
        }
        function DispInstrumList(projid) {
            $("#PopupDetails .modal-content").html("Loading...");
            $('#PopupDetails .modal-lg').css('width', $(window).width() / 2);
            $('#PopupDetails').modal({});
            var url = "/search/instrumlist"
            if (typeof (projid) != "undefined")
                url += "?projid=" + projid
            $("#PopupDetails .modal-content").load(url);
        }
    {% endif %}
    function ClearSamples() {
        $("#sampleid").val(null).trigger("change");
    }

    function AdvancedSamples() {
        if ($('#projid').val() == null) return;
        $("#PopupDetails .modal-content").html("Loading...");
        $('#PopupDetails .modal-lg').css('width', 800);
        $('#PopupDetails').modal({});

        var url = "/search/samples?format=P&q=&projid=" + $('#projid').val();
        $("#PopupDetails .modal-content").load(url, function () {
            var lst = "";
            var sampleid = $('#sampleid');
            lst = $.map(sampleid.find('option:selected'), function (element) {
                return $(element).text()
            }).join(', ');
            $('#txtlstsample').val(lst);
            SampleTxtToCB();

        });

    }

    function UpdateTimeSliderColor() {
        if ($("#filt_inverttime").prop("checked")) {
            $("#time-slider-range .ui-slider-range").css('background-color', '#fff')
            $("#time-slider-range").css('background-color', '#555')
        } else {
            $("#time-slider-range .ui-slider-range").css('background-color', '#555')
            $("#time-slider-range").css('background-color', '#fff')
        }
    }

    $(document).ready(function () {
        $("#sampleid").select2({
            ajax: {
                url: "/search/samples",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {q: params.term, projid: $('#projid').val()};
                },
                processResults: function (data, page) {
                    return {results: data};
                },
                cache: true
            },
            dropdownCssClass: "width400"
            , placeholder: "Sample"
        }); // Select2 Ajax
        $('#month').select2({placeholder: "Month"});
        $('#daytime').select2({placeholder: "Day time"});
        $("#filt_fromdate,#filt_todate").datepicker({
            showButtonPanel: true, changeMonth: true, changeYear: true, dateFormat: "yy-mm-dd",
        });
        $("#time-slider-range").slider({
            range: true,
            min: 0,
            max: 1439,
            values: [0, 1439],
            slide: function (event, ui) {
                v = ui.values[0];
                v = Math.floor(v / 60) + ":" + (("00" + (v % 60)).substr(-2));
                $("#filt_fromtime").val(v);
                v = ui.values[1];
                v = Math.floor(v / 60) + ":" + (("00" + (v % 60)).substr(-2));
                $("#filt_totime").val(v);
            }
        });
        $("#filt_inverttime").change(function () {
            UpdateTimeSliderColor();
        });
        UpdateTimeSliderColor();
        $("#filt_freetxt").select2({
            ajax: {
                url: "/prj/GetFieldList/{{ g.Projid }}/t",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {q: params.term, page: params.page};
                },
                processResults: function (data, page) {
                    return {results: data};
                },
                cache: true
            }, placeholder: "Text field", dropdownCssClass: "width240"
        });
        $('#filt_validfromdate,#filt_validtodate').datetimepicker({format: 'Y-m-d H:i'});
        $("#filt_annot").{{ js.select2_user() }}; // Select2 Ajax
        $("#filt_freenum").select2({
            ajax: {
                url: "/prj/GetFieldList/{{ g.Projid }}/n",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {q: params.term, page: params.page};
                },
                processResults: function (data, page) {
                    return {results: data};
                },
                cache: true
            }, placeholder: "Num. field", dropdownCssClass: "width240"
        });


    });

    function ClearAnnotFree() {
        $("#filt_freenumst,#filt_freenumend,#filt_freetxtval").val("");
        $("#filt_annot,#filt_freenum,#filt_freetxt").val(null).trigger("change");
    }


    function ClearAllFilterCriteria() {
        ClearCoord();
        ClearDates();
        ClearTimes();
        ClearSamples();
        ClearInstrum();
        ClearDepths();
        ClearAnnotFree();
    }

    function GetAllSelected(jq_elem) {
        return $.map(jq_elem.find('option:selected'),
            function (elem) {
                return $(elem).text()
            }).join(', ')
    }

    function GetFiltersFromTab(req, labels, clearers) {
        // Look in DOM for filt_ fields and complete the request
        req['MapN'] = $("#filt_MapOutN").val();
        req['MapW'] = $("#filt_MapOutW").val();
        req['MapE'] = $("#filt_MapOutE").val();
        req['MapS'] = $("#filt_MapOutS").val();
        if ((req['MapN'] != "") && (req['MapW'] != "") && (req['MapE'] != "") && (req['MapS'] != "")) {
            // OK it's consistent
        } else {
            delete req['MapN'];
            delete req['MapW'];
            delete req['MapE'];
            delete req['MapS'];
        }

        req['depthmin'] = $("#filt_depthmin").val();
        req['depthmax'] = $("#filt_depthmax").val();
        if ((req['depthmin'] != "") && (req['depthmax'] != "")) {
            // OK it's consistent
        } else {
            delete req['depthmin'];
            delete req['depthmax'];
        }

        var jqfreenum = $("#filt_freenum");
        req['freenum'] = jqfreenum.val();
        req['freenumst'] = $("#filt_freenumst").val();
        req['freenumend'] = $("#filt_freenumend").val();
        if ((req['freenum'] !== "") && ((req['freenumst'] !== "") || (req['freenumend'] !== ""))) {
            labels['freenum'] = jqfreenum.find("option:selected").text() +
                " in(" + req['freenumst'] + "-" + req['freenumend'] + ")";
            clearers['freenum'] = "$(\"#filt_freenum,#filt_freenumst,#filt_freenumend\").val(null).trigger(\"change\")";
        } else {
            delete req['freenum'];
            delete req['freenumst'];
            delete req['freenumend'];
        }

        var jqfreetxt = $("#filt_freetxt");
        req['freetxt'] = jqfreetxt.val();
        req['freetxtval'] = $("#filt_freetxtval").val();
        if ((req['freetxt'] != "") && (req['freetxtval'] != "")) {
            labels['freetxt'] = jqfreetxt.find("option:selected").text() + " contains " + req['freetxtval'];
            clearers['freetxt'] = "$(\"#filt_freetxt,#filt_freetxtval\").val(null).trigger(\"change\")";
        } else {
            delete req['freetxt'];
            delete req['freetxtval'];
        }

        var sampleid = $('#sampleid');
        if (sampleid.val() != null) {
            req['samples'] = String(sampleid.val());
            labels['samples'] = GetAllSelected(sampleid);
        }

        {% if data.inexplore==True %}
            var instrum = $("#filt_instrum");
            if (instrum.val() !== "") {
                req['instrum'] = instrum.val();
            }
        {% endif %}

        var jqmonth = $('#month');
        if (jqmonth.val() != null) {
            req['month'] = String(jqmonth.val());
            labels['month'] = GetAllSelected(jqmonth);
        }

        var jqannot = $('#filt_annot');
        if (jqannot.val() != null) {
            req['filt_annot'] = String(jqannot.val());
            labels['filt_annot'] = GetAllSelected(jqannot);
            clearers['filt_annot'] = "$(\"#filt_annot\").val(null).trigger(\"change\")";
        }

        req['fromdate'] = $("#filt_fromdate").val();
        if (req['fromdate'] !== "") {
        } else delete req['fromdate'];

        req['todate'] = $("#filt_todate").val();
        if (req['todate'] !== "") {
        } else delete req['todate'];

        req['fromtime'] = $("#filt_fromtime").val();
        req['totime'] = $("#filt_totime").val();
        if ((req['fromtime'] !== "") && (req['totime'] !== "")) {
        } else {
            if (req['fromtime'] !== "") {
            } else delete req['fromtime'];
            if (req['totime'] !== "") {
            } else delete req['totime'];
        }

        req['inverttime'] = $("#filt_inverttime").prop("checked") ? "1" : "";
        if (req['inverttime'] === "1") {
            clearers['inverttime'] = "$(\"#filt_inverttime\").prop(\"checked\",false)";
        } else delete req['inverttime'];

        var jqdaytime = $('#daytime');
        if (jqdaytime.val() != null) {
            req['daytime'] = String(jqdaytime.val());
            labels['daytime'] = GetAllSelected(jqdaytime);
        }

        req['validfromdate'] = $("#filt_validfromdate").val();
        if (req['validfromdate'] !== "") {
            clearers['validfromdate'] = '$(\"#filt_validfromdate\").val(\"\")';
        } else delete req['validfromdate'];

        req['validtodate'] = $("#filt_validtodate").val();
        if (req['validtodate'] !== "") {
            clearers['validtodate'] = '$(\"#filt_validtodate\").val(\"\")';
        } else delete req['validtodate'];

    }

    function AdvancedAnnot() {
        if ($('#projid').val() == null) return;
        $("#PopupDetails .modal-content").html("Loading...");
        $('#PopupDetails .modal-lg').css('width', 800);
        $('#PopupDetails').modal({});

        var url = "/search/annotators/" + $('#projid').val();
        $("#PopupDetails .modal-content").load(url, function () {
            var lst = "";
            var sampleid = $('#filt_annot');
            lst = $.map(sampleid.find('option:selected'), function (element) {
                return $(element).val()
            }).join(', ');
            $('#txtlstsample').val(lst);
            SampleTxtToCB();

        });

    }

</script>