
<style>
{#Permet de reduire la taille et l'espace du texte du dropdown Taxo Sample#}
#select2-sampleid-results li {font-size: 12px; padding: 3px;}
#TabB .select2-selection__rendered {font-size: 12px; }
</style>

<table width="100%">
  <tr><td><b>Sample</b> </td><td align="right"><a href='javascript:ClearSamples();'>Clear</a>
   </td></tr>
</table>

<p style="border-bottom: 1px solid #ddd;padding-bottom: 4px;">
<select id="sampleid" name="sampleid" style="width: 250px"  multiple> </select>
</p>
<p>Depth <span id="spaninfodepth" style="color: blue;" class="glyphicon glyphicon-info-sign"></span>
    Min: <input type="text" id="filt_depthmin" style="width:50px;" autocomplete="off">
    Max: <input type="text" id="filt_depthmax" style="width:50px;" autocomplete="off">
    <a href='javascript:ClearDepths();' title="Clear"><span class="glyphicon glyphicon-erase"></span></a>
</p>
<table class="table" >
  <tr><td colspan="2" align="Center">N <input type="text" size="7" id="filt_MapOutN" name="filt_MapOutN" autocomplete="off"></td></tr>
  <tr>
    <td>W <input type="text" size="7" id="filt_MapOutW" name="filt_MapOutW" autocomplete="off"></td>
    <td>E <input type="text" size="7" id="filt_MapOutE" name="filt_MapOutE" autocomplete="off"></td></tr>
  <tr><td colspan="2" align="Center">S <input type="text" size="7" id="filt_MapOutS" name="filt_MapOutS" autocomplete="off"></td></tr>
  <tr><td colspan="2" align="Center">
    <button type="button" class="btn btn-primary" onClick="OpenMap({{ g.Projid }});">Open Map</button>
    <button type="button" class="btn " onClick="ClearCoord();">Clear</button>
  </td></tr>
</table>

<table width="100%" style="border-top: 1px solid #ddd;padding-top: 4px;">
  <tr><td><b>Date</b> </td><td align="right"><a href='javascript:ClearDates();'>Clear</a>
   </td></tr>
</table>
<label for="filt_fromdate">From </label> <input type="text" style="width: 80px" id="filt_fromdate" name="filt_fromdate" autocomplete="off">
<label for="filt_todate"> to </label> <input type="text" style="width: 80px" id="filt_todate" name="filt_todate" autocomplete="off">

<table width="100%" style="border-top: 1px solid #ddd;padding-top: 4px;">
  <tr><td><b>Time</b>
  </td><td align="right"><a href='javascript:ClearTimes();'>Clear</a>
   </td></tr>
</table>
<div id="time-slider-range"></div>
<label for="filt_fromtime">From </label> <input type="text" style="width: 45px" id="filt_fromtime" name="filt_fromtime" autocomplete="off">
<label for="filt_totime"> to </label> <input type="text" style="width: 45px" id="filt_totime" name="filt_totime" autocomplete="off">
<label for="filt_inverttime"> Invert </label> <input type="checkbox" value="Y" style="width: 45px" id="filt_inverttime" name="filt_inverttime" autocomplete="off">


<script>
function OpenMap(projid) {
    $("#PopupDetails .modal-content").html("Loading...");
    $('#PopupDetails .modal-lg').css('width',$(window).width()-40);
    $('#PopupDetails').modal({});
    var url="/search/mappopup/"
    if(typeof (projid)!="undefined")
      url+="?projid="+projid
    $("#PopupDetails .modal-content").load(url);
}
function ClearCoord() {
  $("#filt_MapOutN,#filt_MapOutW,#filt_MapOutE,#filt_MapOutS").val("");
}
function ClearDates(){
  $( "#filt_fromdate,#filt_todate" ).val("");
}
function ClearDepths(){
  $( "#filt_depthmin,#filt_depthmax" ).val("");
}
function ClearTimes(){
  $("#filt_fromtime,#filt_totime" ).val("");
  $("#filt_inverttime").prop("checked",false);
}
function ClearSamples(){
  $( "#sampleid" ).val(null).trigger("change");
}
function UpdateTimeSliderColor(){
    if($("#filt_inverttime").prop("checked")) {
       $("#time-slider-range .ui-slider-range").css('background-color','#fff')
       $("#time-slider-range").css('background-color','#337ab7')
    } else    {
       $("#time-slider-range .ui-slider-range").css('background-color','#337ab7')
       $("#time-slider-range").css('background-color','#fff')
    }
}

$(document).ready(function() {
  $('#spaninfodepth').popover({html: true, trigger: 'hover', placement: "bottom",content:"Positive values, both values are required. Both Detph min&max of objects must be in the filter range to be selected"});

    $("#sampleid").select2({
        ajax: {
            url: "/search/samples",
            dataType: 'json',
            delay: 250,
            data: function (params) {  return { q: params.term  ,projid:$('#projid').val() };  },
            processResults: function (data, page) { return { results: data};  },
            cache: true
        },
    }); // Select2 Ajax

      $( "#filt_fromdate,#filt_todate" ).datepicker({
      showButtonPanel: true,changeMonth: true,changeYear: true,dateFormat:"yy-mm-dd",
    });

    $( "#time-slider-range" ).slider({
      range: true,
      min: 0,
      max: 1439,
      values: [ 0, 1439 ],
      slide: function( event, ui ) {
        v=ui.values[ 0 ];
        v=Math.floor(v/60)+":"+(("00"+(v% 60)).substr(-2));
        $( "#filt_fromtime" ).val(  v);
        v=ui.values[1];
        v=Math.floor(v/60)+":"+(("00"+(v% 60)).substr(-2));
        $( "#filt_totime" ).val( v );
      }
    });
    $("#filt_inverttime").change(function(){UpdateTimeSliderColor();});
    UpdateTimeSliderColor();
});
</script>