{% macro selectinput(name, values, value='') -%}
    <select name="{{ name }}" id="{{ name }}">
    {% for v in values %}
        <option value="{{ v }}"  {{ 'selected' if value==v }}>{{ v }}</option>
    {% endfor %}
    </select>
{%- endmacro %}
{% macro checkboxinput(name, checkedvalue, value='',extra='') -%}
    <input type="checkbox" name="{{ name }}" id="{{ name }}" value="{{ checkedvalue }}"  {{ 'checked' if value==checkedvalue }} {{ extra|safe }}>
{%- endmacro %}

{% extends "layout.html" %}
{% block headcenter %}
<table width="100%"><tr><td width="160px">
<br>
 <span id="taxoclearspan">{{ g.taxoclearspan|safe }}</span>
</td><td><span style="font-size: 18px;">Exploration</span><br>
<span id="headersubtitle" style="color:#FF6600;"> </span><br>

</td></tr></table>


{% endblock %}

{% block body %}<div id="topbar" >
<table><tr><td>

    Img /page : {{ selectinput("ipp",['50','100','200','500','1000'],data.ipp) }}
    Zoom : {{ selectinput("zoom",['10','20','30','40','50','60','70','80','90','100'],data.zoom) }}
</td><td style="font-size: 12px; padding:0px 2px 4px 5px;">Magnifier:</td>
<td style="font-size: 12px">
    {{ checkboxinput("magenabled","1",data.magenabled,"style='margin:0px;'") }}
</td><td>&nbsp;
    <button type="button" class="btn btn-sm btn-primary" onclick="LoadRightPane();">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update View</button>
{{ top|safe }}
</td></tr></table>
    </div>
{% include "common/taxopopup.html" %}

<div id="bodycontainer">
  <script>
$(document).ready(function() {
    $("#taxolb").select2({
        ajax: {
            url: "/search/taxo",
            dataType: 'json',
            delay: 250,
            data: function (params) {  return { q: params.term, page: params.page };  },
            processResults: function (data, page) { return { results: data};  },
            cache: true
        },
        minimumInputLength: 3
    }); // Select2 Ajax
    $('#TaxoModal').on('show.bs.modal', function (e) {
         $("#TaxoModalBody").html("Loading...");
         $("#TaxoModalBody").load("/search/taxotree");
    });
    }); // Ready
 </script>
<style> {# On agrandi la taile de la drop down de la popup #}
    UL#select2-taxolb-results {max-height: 500px; }
</style>

       <div id="column-left"  class="panel panel-default" style="position: fixed;	top: 125px;	left: 2px;	bottom: 0px;	width: 280px;
                overflow-y: auto; overflow-x: hidden;  margin-bottom: 0px; " >
        <div class="bodyleft" style="margin-left: 2px; width: 251px;">
        <a href='?'>Clear all filter &amp; update view/refresh</a><br>
 {# Gestion de la selection de Taxonomie Via un Select2 Ajax multiple #}

<table width="100%">
  <tr><td><b>Taxonomy Filter</b> </td><td align="right"><a href='javascript:ClearTaxo();'>Clear</a>
   </td></tr>
</table>

 <div class="row">
     <div class="col-lg-12">
        <div class="input-group">
            <select id="taxolb" multiple="multiple" style="width: 210px"  autocomplete="off"> {{ data.taxo_for_select|safe }} </select>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"  data-toggle="modal" data-target="#TaxoModal">
                    <span id=OpenTaxoLB class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
                </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
Include taxonomy childs {{ checkboxinput("taxochild","1",data.taxochild,"style='margin:0px;'") }}
<div class="FilterToggle" style="display:none;cursor:pointer;">
    <span onclick="$('.FilterToggle').toggle();"><span class="glyphicon glyphicon-triangle-right"></span>Show filters</span>
</div>
<div class="FilterToggle">

<table width="100%">
  <tr><td><span style="cursor:pointer;" class="glyphicon glyphicon-triangle-bottom" onclick="$('.FilterToggle').toggle();"></span>
      <b>Project</b> </td><td align="right"><a href='javascript:ClearProjects();'>Clear</a>
   </td></tr>
</table>
<p style="border-bottom: 1px solid #ddd;padding-bottom: 4px;">
<select id="projid" name="projid" style="width: 250px"  multiple autocomplete="off"> {{ data.projects_for_select|safe }}</select>
</p>


        {{ leftb|safe }}
        <br>
</div> {#FilterToggle    #}
        <p align="center" style="border-top: 1px solid #ddd;padding-top: 4px;">
        <button type="button" class="btn btn-sm btn-primary" onclick="LoadRightPane();">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Apply Filter / Update View</button>
        </p>
        <p><button type="button" class="btn btn-sm btn-info" onclick="LoadRightPane(true);">
            Apply filter by page reload (copiable URL)</button></p>


<link rel="stylesheet" href="/static/jstree/themes/default/style.min.css" />
<script src="/static/jstree/jstree.min.js"></script>

<style>
    .tree li a {
    padding-right:20px !important;
    background:url(icons/Star-icon.png) top right no-repeat;
}
.tree li.clicked a {
    padding-right:20px !important;
    background:url(icons/Star-icon.png) top right no-repeat #BEEBFF;
}
.tree li a.hover,
.tree li a:hover {
    padding-right:20px !important;
    background:url(icons/Star-icon.png) top right no-repeat #D8F0FA;
}
</style>


  <div id="jstreeexp">
      <ul>
    <li>Root node 1</li>
    <li>Root node 2</li>
  </ul>
  </div>

<script>

    $(function () {
        $('#jstreeexp').jstree({
            'core': {
                "animation" : 0,
                "themes" : { "stripes" : false, "icons": false  },
                'data': {
                    'dataType': 'JSON',
                    'url': '/search/taxotreejson',
                    'data': function (node) {
                        return {'id': node.id};
                    }
                }
            }
        });

        $("#jstreeexp").delegate(".TaxoSel",'click',
                function(o){
                    o.preventDefault();
                    var id= $(o.target).closest("li").attr("id");
                    var valeur= $(o.target).prev().html();
                   $('#SelectedID').html(id);
                   $('#SelectedName').html(valeur);
                   $('#taxolb').append($('<option>', {    value: id,    text: valeur}));
                    var sel=$("#taxolb").val();
                    if(sel==null) sel=[];
                    sel.push(id);
                    $('#taxolb').val(sel);
                    $('#taxolb').change();
                });

        $("#jstree").bind("select_node.jstree", function (e, data) {
            $("#jstree").jstree('open_node', data.node);
        })

    });
</script>



        </div>
    </div>
{#          <div id="column-right" style="position: absolute;top: 150px;left: 270px;bottom: 0px;right: 1px;overflow: auto;"> #}
<style>
.lazy {margin: 10px 5px 0px 5px; }
.ddet {text-align:left;  font-size: 10px; margin-top: -3px;margin-bottom: -1px;  text-decoration: underline; color:#00c;}
#dispfieldlist li a {    padding-top:0px;}
.ui-selected { background: #FFFF00; color: white; }
.ra3 {float:right; margin-right: 3px;}
table.classiftab td {padding: 2px 3px 0px 3px ;  border-width:1px;border-style:solid;border-color:#c5c5c5;font-size: 12px;}
table.imgtab {margin-bottom: 5px;}
table.imgtab td {vertical-align:bottom;text-align: center;
   border-width:1px;   border-style:solid; border-color:#c5c5c5; background-color: #e6e6e6;  }
#column-right {margin-left: 290px;}
#divheadinfo {position:fixed;top:0px;left: 1px;width:100%; height:80px;z-index:12; background-color: #fff;}
#topbar {position:fixed;top:80px;left: 1px;width:100%; height:40px;z-index:10; background-color: #fff;}
body {margin-top: 125px;}
{#Permet de fixer la largeur de la dropdown Taxo Annotation#}
.width240{ width: 240px !important; }
{#Permet de fixer la largeur de la dropdown Sample#}
.width400{ width: 400px !important; }
{#Permet de reduire la taille et l'espace du texte du dropdown Taxo Annotation#}
#select2-taxolbanno-results li {font-size: 12px; padding: 3px;}
.popover {max-width: 500px;}

</style>
<script>
var PrevTxtFilter="INITIAL"
function LoadRightPane(NoAjax){
    var TxtFilter=""
    req={taxo:$("#taxolb").val(),resultwidth:$("#column-right").width(),windowheight:$(window).height()};
    var taxofilterarray = [];
    $('#taxolb :selected').each(function(i, selected){ taxofilterarray[i] = $(selected).text();    });
    req['taxochild']=$("#taxochild").prop("checked")?"1":"0";
    if(taxofilterarray.length>0) {
        TxtFilter += " Taxo=" + (taxofilterarray.join(","));
        if (req['taxochild'] == "1") TxtFilter += "(with childs)";
    }
    req['ipp']=$("#ipp").val();
    req['zoom']=$("#zoom").val();
    req['magenabled']=$("#magenabled").prop("checked")?"1":"0";

    req['MapN']=$("#filt_MapOutN").val();
    req['MapW']=$("#filt_MapOutW").val();
    req['MapE']=$("#filt_MapOutE").val();
    req['MapS']=$("#filt_MapOutS").val();
    if((req['MapN']!="")&&(req['MapW']!="")&&(req['MapE']!="")&&(req['MapS']!=""))
        TxtFilter+=" Position=("+req['MapN']+","+req['MapW']+","+req['MapE']+","+req['MapS']+")"

    req['depthmin']=$("#filt_depthmin").val();
    req['depthmax']=$("#filt_depthmax").val();
    if((req['depthmin']!="")&&(req['depthmax']!=""))
        TxtFilter+=" Depth in("+req['depthmin']+"-"+req['depthmax']+")";
    if($('#sampleid').val()!=null)
      req['samples']=String($('#sampleid').val())
    else req['samples']="";
    if(req['samples']!="")
        TxtFilter+=" Samples="+$.map( $('#sampleid  option:selected'), function (element) { return $(element).text() }).join(', ');
    if($('#projid').val()!=null)
      req['projid']=String($('#projid').val())
    else req['projid']="";
    if(req['projid']!="")
        TxtFilter+=" Project="+$('#projid').val().join(', ');
    req['fromdate']=$("#filt_fromdate").val();
    if(req['fromdate']!="")
        TxtFilter+=" Date >= "+req['fromdate'];
    req['todate']=$("#filt_todate").val();
    if(req['todate']!="")
        TxtFilter+=" Date <= "+req['todate'];

    req['fromtime']=$("#filt_fromtime").val();
    if(req['fromtime']!="")
        TxtFilter+=" Time >= "+req['fromtime'];
    req['totime']=$("#filt_totime").val();
    if(req['totime']!="")
        TxtFilter+=" Time <= "+req['totime'];
    req['inverttime']=$("#filt_inverttime").prop("checked")?"1":"";
    if(req['inverttime']=="1")
        TxtFilter+=" Time Invert ";


    $(".zoomtracker,.zoomstatus,.magnifyarea,.cursorshade").remove();
    if(TxtFilter!="")
        TxtFilter="Filter: "+TxtFilter
    if(NoAjax==true) {
        delete req["resultwidth"];
        delete req["windowheight"];
        var urlparam={};
        for	(var k in req)
{#            if(req[k]!=="") // Il faut tous les laisser pour pouvoir forcer leur effacement par rapport aux users settings  #}
                urlparam[k]=req[k];
        window.location="?"+$.param(urlparam);
        return;
    }
    $("#column-right").html("Loading...")
    $("#column-right").load("/explore/LoadRightPane",req);
    $('#headersubtitle').html(TxtFilter);
}


$(document).ready(function() {
    if ("{{data.sortorder}}"=="desc")
        SortToggle();
    $('#statuslabelspan').popover({html:true,trigger:'hover',placement:"left",container: 'body'});
    $('#statusfilter').data('content',$('#statuslabelspan').data('content'))
    $('#statusfilter').popover({html:true,trigger:'hover',placement:"left",container: 'body'});
    $("#taxofilter").val("");


    $("#projid").select2({
        ajax: {
            url: "/search/exploreproject",
            dataType: 'json',
            delay: 250,
            data: function (params) {  return { q: params.term   };  },
            processResults: function (data, page) { return { results: data};  },
            cache: true
        },
        dropdownCssClass:"width400"
    }); // Select2 Ajax


});
function ClearProjects(){
  $( "#projid" ).val(null).trigger("change");
}
function ClearTaxo(){
  $( "#taxolb" ).val(null).trigger("change");
}


function PostAddImages(){
        $(document).scrollTop(0);
        // Required to  have Select2 component working on Bootstrap Popup
        $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        // Add Zoom
        jQuery('div#column-right img.lazy').Lazy({bind: 'event',afterLoad: function(element) {
            if($('#magenabled').prop("checked")==false)
                return; // Si il y a une checkbox magenabled et qu'elle est decochée on ne met pas le zoom
            AddZoom(element);}});
        // Enable the popover
        var option={'trigger':'hover','html':true};
        $('div.subimg').popover(option);
        $('.ddets').click(function(e){
            e.stopPropagation();
            var url="/objectdetails/"+$(e.target).closest('td').find('img').prop('id').substr(1)+"?w="+($(window).width()-400)+"&h="+($(window).height()-40)+"&ajax=1";
            var options={}
            $("#PopupDetails .modal-content").html("Loading...");

            $('#PopupDetails .modal-lg').css('width',$(window).width()-40);
            $('#PopupDetails').modal(options);
            $("#PopupDetails .modal-content").load(url);
            });
$('#PopupDetails').on('hidden.bs.modal', function (e) {
    $("#PopupDetails .modal-content").html("CLEAN");
    $(".zoomContainer").remove();
})

}  //PostAddImages

function ClearAllFilterCriteria(){
    ClearCoord();
    ClearDates();
    ClearTimes();
    ClearSamples();
    ClearDepths();
    LoadRightPane();
}


</script>
        <div id="column-right" >
            RIGHT
            {% if right=='dodefault' %}
                <script>
                $(document).ready(function() {
                        LoadRightPane();
                       }); // Ready
                 </script>
                Loading ....
            {% else %}
                {{ right|safe }}
            {% endif %}
		</div>
    </div> {# Container #}



<div id="PopupDetails" class="modal " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

{% endblock %}