{% extends "v2/layout.html" %}
{% from "v2/macros/macros.html" import modal %}
{% block headcenter %}
  <h4><a href="/prj/{{ g.prjprojid }}">{{ g.prjtitle }}</a></h4>
{% endblock %}

{% block body %}
  <div class="container mx-auto">
    <h2>{{_('Import data (step 2 of 2)')}}</h2>


    <h3>{{_('Question reason')}}</h3>
    {{ job.progress_msg |nl2br|safe }}

    <h3>{{_('Taxonomy manual mapping')}}</h3>
    <form method="post" action="{{request.path}}">
      {% if (taxo|length())>0 %}
        <p class="help-block">If you <em>really</em> cannot find a suitable category
        <ol>
          <li>{{_('Create it in the Taxonomy management')}} <a href="/taxo/browse/?fromtask={{ job.id }}" class="button is-default small-caps" title="{{_('Taxonomy management')}}">{{_('HERE')}}</a></li>
          <li>{{_('Map your category into one of the temporary categories for now (<code>temporary_1</code>, <code>temporary_2</code>,
            etc.)')}}
          </li>
          <li>{{_('then contact your project manager and request the creation of the category')}}</li>
        </ol>{{_('
        Once the category is created, you will be able to move your objects from <code>temporary_*</code> to the newly
        created category.')}}
        </p><div class="mt-4">{{modal('taxomodal',btn={'class':'hidden'})}}
          {% for T in taxo %}<input type="hidden" name="orig{{ loop.index }}" value="{{ T }}">
                <div class="flex flex-row w-full lg:w-[50%] mb-1">
                <div class="basis-1/2 md:basis-1/3 ">{{ T }} : </div><div class="flex flex-row flex-grow">
                <select id="taxolb{{ loop.index }}" name="taxolb{{ loop.index }}"  class='form-select basis-10/12 inline mr-1 js js-autocomplete taxolb'  data-type="taxo" data-create=true autocomplete="off"> </select>
                <button class="button inline" type="button" data-request="taxotree" data-target="taxomodal" data-targetid="taxolb{{ loop.index }}"><i class="icon icon-list-bullet"></i></button>

                        </div></div><!-- /input-group -->

          {% endfor %}</div>
      {% endif %}


      {% if (users|length())>0 %}
        <h3>Users manual mapping</h3>
        {% for U in users %}
          <div class="flex flex-row w-full lg:w-[50%]">
          <div class="basis-1/2 md:basis-1/3">
            {{ U }}:
            </div><div class="basis-1/2 md:basis-2/3"><select id="userlb{{ loop.index }}" name="userlb{{ loop.index }}"
                      class='form-select userlb w-48 ml-1 inline-block js js-autocomplete' data-type="user"> </select>  <input type="hidden" name="origuser{{ loop.index }}" value="{{ U }}">
            </div></div>

        {% endfor %}

      {% endif %}
      <input type="hidden" name="starttask" value="Y">
          <button type="submit" class="button is-primary block mt-2">Continue</button>
        </form>
  </div>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui/jquery-ui.min.css') }}">
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
  <script>

      $(document).ready(function () {
          $('#TaxoModal').on('show.bs.modal', function (e) {
              var button = $(e.relatedTarget); // Button that triggered the modal
              var targetid = button.data('mytargetid');
              $("#TaxoModalBody").html("Loading...");
              $("#TaxoModalBody").load("/search/taxotree?target=" + targetid);
          });
      }); // Ready
  </script>


  {% include "taxo_modal_div.html" %}


{% endblock %}
