<details>
  <summary class="font-semibold">{{_('Advanced options')}}</summary>
  <div id="advanced" >
      <label for="port" class="form-label" data-request="help" data-what="help_taxonomy_mapping">{{_('Optional taxonomy mapping')}}<i data-for="help_taxonomy_mapping" data-request="help"></i></label>
      <div class="info text-sm">{{_('This allows to change the name of the categories of previously classified objects to match the names in the UniEuk taxonomic framework included in the application.')}}
        <div>{{_('Examples:')}}<br>{{ _('crust_cop = Copepoda')}}<br>{{_('gelatinous medusae = Cnidaria (Hydrozoa) ')}}</div></div>
      <div class="form-box flex flex-row taxoline">
<div class="flex-1"><label class="block"> {{_('Imported name')}} :</label>{{ inputdict('taxolb','taxolb',value = '', label=_('Imported name'),type='taxo', placeholder=_('imported name'),autocomplete=True ) }}
</div>
<div class="flex-1"><label class="flex flex-row block"><span>UniEuk name :</span><span class="align-end">
    {% set modal_title = _('taxo pick') %}
    {% set data = {'form':'#formupload','key':'taxo', 'header': './v2/taxonomy/_taxotree.html'} %}
    {% set btn = {'class':'button is-pick','title':modal_title,'icon':'icon-bars-4-sm','text': _('taxonomy') ,'data':' data-request=taxotree data-target=unique '}%}
    {{ modal('taxotree',  btn = btn,modal_title = modal_title, data=data) }}
  </span></label><input type="text" id="newname" class="form-input py-3"> </div>
  </div>
  <button class="btn btn-secondary text-sm float-right " type="button"><i class="icon icon-plus-sm"></i>Add to list</button>
    </div>
      </details>
