{% extends "./v2/layout.html" %}
{% from "./v2/macros/macros.html" import form_group_radio , modal with context %}
{% from "./v2/project/macros.html" import display_filters , header_project_job with context %}
{%-set shared="export-taxoline"-%}
{%- macro make_part_form(type_export,datas)-%}
{%-for name,option in formoptions[type_export].items() -%}
{%- if name in datas.keys() -%}<div class="form-box" data-name={{name}}>
  {% if datas[name][1] == True %}  <span class="mr-2 italic font-normal">{{option.label}} </span>
  <input type="hidden" name="{{name}}" value={{formdatas[type_export].datas[name][0]}}>
    {%- for opt in option.options -%}
    {%-if opt.value == datas[name][0] -%}<span class="bg-stone-50 p-2 rounded-sm font-semibold ">{{opt.label}}</span>{%-endif-%}
    {%-endfor-%}
  {%-else -%}
  {%- if option.format=="checkbox" and "options" not in option.keys() -%}<label for="{{name+'_'+type_export}}" class="inline-block">{{option.label}} {%-if "help" in option -%}<i class="icon-help" data-for="{{'help_export_'+type_export+'#'+option.help}}" data-request="help" data-what="help"></i>{%-endif-%} <input type="checkbox" id="{{name+'_'+type_export}}" name="{{name}}" class="form-checkbox ml-2" value=1></label>
  {%-elif "options" in option.keys() -%}<div class="label inline-block mr-2 w-auto">{{option.label}} {%-if "help" in option -%}<i class="icon-help" data-for="{{'help_export_'+type_export+'#'+option.help}}" data-request="help" data-what="help"></i>{%-endif-%}</div><div class="form-group inline-block w-auto" {{'data-action=discard data-trigger='+name+' data-target='+option.discard if "discard" in option else ''}}>
    {%-if "options" in option.keys() -%} {%- for opt in option.options -%}
      {%- set extra =' data-checked=true' if opt.value== datas[name] else '' -%}
      {{ form_group_radio(name+'_'+type_export+'_'+loop.index|string(),name,opt.value,opt.label,datas[name][0],required=(loop.index==1),help='',extra=extra,radio= option.format=="radio")}}
      {%- endfor -%}{%-endif-%}
  </div>
  {%- elif option.format=='textarea'-%}
  <label>{{option.label}}{%-if "help" in option -%}<i class="icon-help" data-for="{{'help_export_'+type_export+'#'+option.help}}" data-request="help" data-what="help"></i>{%-endif-%}</label>
  <textarea class="form-textarea" name="{{name}}" placeholder="{{opt.placeholder if 'placeholder' in option}}" rows="4">{%- if (name=="formulae" and target_obj  and target_obj.formulae is defined and target_obj.formulae!="" and target_obj.formulae!=None) -%}
{{target_obj.formulae}}
{%-else-%}{{datas[name][0] if name in datas}}{%-endif-%}</textarea>
  {%- elif option.format=='taxoline'-%}
{%-set comment = option.comment if "comment" in option else None-%}
<div data-shared="{{shared}}"></div>
 {%-endif-%}{%-endif-%}
</div>{%-endif-%}{%-endfor%}
{%-endmacro-%}
{% block body %}
<div class="container mx-auto">
  <div class="w-100 mx-auto block pt-4 text-left relative" id="project-subset-header">
  {% set data = {'file':'_help_job_export'} -%}
  {%- set title=_('Export')  %}
{{header_project_job(title ,data, _('How to export data'), nav={"links":export_links,"query":"?target_type=collection&collection_id="+collection_id|string if collection_id|string!="0" and target_type=="collection" else "?projid="+projid|string})}}
	<em class="block text-sm mt-2">{{_('Global export rules')}} <i data-for="help_global_export_rules" data-request="help" data-what="help"></i></em>
</div>
<form method="post" class="js js-submit js-tabs" action="{{request.path}}" data-event="click"  data-toggle=true  data-toggledisable=true data-toggleshared=true enctype=multipart/form-data>
    <div class="block mb-4">{{display_filters(filters)}}</div>
    <div class="fieldset-wrapper w-full flex flex-row"><input type="hidden" name="collection_id" value="{{collection_id}}"><input type="hidden" name="projid" id="projid" value="{{projid}}">
      {% for type_export,formdata in formdatas.items() %}
    <fieldset class="w-full md:w-1/2 my-0 py-0 tab {{'tab-one' if formdatas.items()|length>1}} {{'active' if export_type == type_export }}"><legend class="text-center tab-control title-nav"  data-what="{{type_export}}" >{{formdata.title}} </legend>
      <div class="tab-content {{'pt-8' if export_type==None}}" id="{{type_export}}"  data-path="{{formdata.path}}"><em class="pb-4 block">{{formdata.legend}} <i data-for="help_export_{{type_export}}" data-request="help" data-what="help"></i></em>
      {{make_part_form(type_export,formdata.datas)}}
    </div></fieldset>{%-endfor-%}
         <div id="{{shared}}" class="hide">{%include('/v2/taxonomy/_import_taxo_mapping.html')%}</div>
  </div>
      <div class="form-box mb-8 w-auto float-left clear-right">
          <button type="submit" class="button is-primary ">{{_('Start Task')}}</button>
          <a href ="{{url_for("gui_collection_classify",collection_id=collection_id) if collection_id|string!="0" else  url_for("gui_prj_classify",projid=projid)}}" class="button is-secondary inverse">{{_('Cancel')}}</a>
            </div>
        </form>
        </div>
{% endblock %}
