{% extends "./v2/layout.html" %}
{% from "./v2/macros/macros.html" import modal, alertbox with context %}
{% block body %}
  <div class="container mx-auto" >
    {{ alertbox(type='warning', message="jobmonitor", inverse=True, dismissible = True, codeid= False)}}
    {% set data = {'file':'_help_job_monitor'} %}
    {{ modal(id='help-monitor-job',modal_title= _("Job monitor."), type='modal-help',position='modal-aside modal-right ',summary_pos={'float':'right','clear':'right'},data = data) }}

  <div class="w-auto"><div id="spinner-icon" class="hidden mx-auto my-8"><img src="{{ url_for('static', filename='AjaxLoading.gif') }}"></div>
  <div id="statusdiv"></div>
  <div id="progressbar" class="hidden h-8 w-96"></div>
</div>

  </div>
  <script>
  window.addEventListener('load', () => {
    const jobid = {{ jobid }};
    console.log('monitor ', jobid)
    let   options = {};
      options.headers = options.headers || {};
      options.headers['X-Requested-With'] = 'XMLHttpRequest';
      if (!options.credentials) options.credentials = 'same-origin';
    let intervalHandle;
        const spinner = document.getElementById('spinner-icon');
    const statusdiv = document.getElementById("statusdiv");
      let stop = false;
      const progress_bar = (show,percent=0,description=``) => {

        if (!percent) percent = 0;
        if(!description) description ="In progress";

        const progressbar = document.getElementById('progressbar');
        if (show === false)  {
         if(spinner) spinner.remove();
        }
        else {
         if(spinner) spinner.classList.remove('hidden');
          progressbar.classList.remove('hidden');
          progressbar.innerHTML=description;
                }

      }
      const display_errors= (errors) => {}
      const display_next = async (url) => {

          fetch(url, options).then(response => response.text()).then(response => {
        statusdiv.insertAdjacentHTML('beforeend', response);
            });

      }
          let html = [];
      const check_job_status = () => {
          fetch("/gui/job/status/" + jobid, options).then(response => response.json()).then(job => {
            if(job.errors.length) {
            clearInterval(intervalHandle);
              progress_bar(false);
            display_errors(job.errors);
          }
          if (stop === true) return;

          if (job) {

              switch(job.state) {
                case "A":
                  // question
                  stop = true;
                  display_next("/gui/job/question/" + job.id);
                  progress_bar(false);
                  clearInterval(intervalHandle);
                break;
                case "F":
                stop = true;
                progress_bar(false);
                spinner.remove();
                clearInterval(intervalHandle);
                if(job.finalaction) {
                  html.push(job.finalaction);
                }
              display_next("/gui/job/show/"+job.id+'?monitor=true');

                break;
                case "E":
                stop = true;
                progress_bar(false);
                spinner.remove();
                clearInterval(intervalHandle);
                break;
                case "P":
                // pending
                break;
              }
              progress_bar(true,job.progress_pct,job.progress_msg);
        }
            statusdiv.innerHTML = html.join('');
        if(stop === false) setTimeout(check_job_status,1000);
      });
          }
       check_job_status();
        });
  </script>
{% endblock %}
