{%-set collection_id = collection_id if collection_id else target_coll.id if (target_coll and target_coll.id) else 0 -%}
{%-set collection_id = job.params.collection_id if (collection_id==0 and job.params and "collection_id" in job.params) else collection_id-%}
{%-set collection_id = job.params.req.collection_id if (collection_id==0 and job.params.req and "collection_id" in job.params.req) else collection_id-%}
{%-if not collection_id or collection_id==0-%}{%- set projid = target_proj.projid if (target_proj and target_proj.projid) else 0 -%}
{%  set projid = job.params.prj_id if (projid==0 and job.params and "prj_id" in job.params) else projid %}
{%  set projid = job.params.req.project_id if (projid==0 and job.params and job.params.req and "project_id" in  job.params.req) else projid %}
{%-endif-%}
{%if not partial%}
{% extends "./v2/layout.html" %}
{% endif%}
{% set state2label = dict({'P': 'Pending',
'E': 'Error',
'R': 'Running',
'A': 'Question',
'F': 'Finished'}) %}
{%-macro color_state(state)-%}
{%- if state=="E"-%}
is-error
{%- elif state=="A"-%}
is-question
{%- elif state=="P"-%}
is-pending
{%- elif state=="R"-%}
is-running
{%- elif state=="F"-%}
is-done
{%-endif-%}
{%-endmacro-%}
{% block body %}
<div id="job_monitor" class="container mx-auto mt-8">
    {% if job and job.id  %}
<div class="pt-0 pb-8 mx-2">
  {%set texterrors =_('This task has errors. Check the error messages below, fix these errors, go back to your project and restart your job.') %}
  <div data-id="{{job.id}}" data-request="monitor" data-event="load" data-state="{{job.state}}" data-errors={{texterrors}} {{'data-out=true' if job.outfile else ''}} data-populate='{"errors":"job-errors","state":"job-state","taskstep":"job-taskstep","questiondata":"job-questiondata","answerdata":"job-answerdata"}'>
  {%- if job.state !="E" and job.state!="F" -%}<div id="spinner-icon" class="hide mx-auto my-8"></div>
  {%elif job.state =='E' %}<div class="alert danger "><p>{{texterrors}}</p></div>
  {%elif job.state !='E' %}<div id="responsediv" class="{{'hide' if job.state!='F'}} mr-2 ">{{finalaction|safe}}</div>{%-endif%}
  </div>
  <div class="mt-8 flex flex-col mb-2 sm:flex-row  sm:mb-0">
    <a href="{{ url_for('gui_job_cleanup', jobid=job.id)}}" class="button is-danger inverse mb-2 sm:mb-0">{{_('Clean task data')}}</a>
    <a href="{{url_for('gui_list_jobs')}}" class="button sm:ml-4  mb-2 sm:mb-0">{{_('Back to tasks list')}}</a>
    {%if collection_id and collection_id != 0  %}<a href="{{url_for('gui_collection_classify',collection_id=collection_id)}}" class="button sm:ml-4 ">{{_('Back to collection')}} {{collection_id}}</a>
    {%- else-%}<a href="{{url_for('gui_prj_classify',projid=projid)}}" class="button sm:ml-4 ">{{_('Back to project')}} {{projid}}</a>{%-endif-%}
</div>

  </div>
  <table class="table-table jobs md:table-condensed" >
   <tr>
      <th>{{_('Task ID')}}</th>
      <td>{{ job.id }}</td>
    </tr>
    <tr>
      <th >{{_('Class')}}</th>
      <td>Task{{ job.type }}</td>
    </tr>
    <tr>
      <th>{{_('Owner')}}</th>
      <td><a href="mailto:{{ owner.email }}">{{ owner.name }}</a></td>
    </tr>
    <tr>
      <th>{{_('Object')}}</th>
      <td>{{target_}}</td>
    </tr>
    <tr>
      <th>{{_('State')}}</th>
      <td>{%set statetext = _(' waiting for an answer') %}<span id="job-state" data-text="{{statetext}}">{{ state2label[job.state]|safe }}</span>
        {% if job.state=="A" %}
          {{statetext}} <a href="/Job/Question/{{job.id}}" class="button is-warning">{{_('Go')}}</a>
        {% elif job.state in ("E") %}
          <a href="{{url_for("gui_job_force_restart", job_id=job.id)}}">
            <button class="button text-xs py-.5 ml-1 inverse btn-sm">{{_('Force restart')}}</button>
          </a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{{_('Step')}}</th>
      <td><span id="job-taskstep">{{ job.taskstep if job.taskstep else ''}}</span></td>
    </tr>
    <tr>
      <th>{{_('Progress')}}</th>
      <td><div id="progressbar" class="w-64" >{{job.progress_pct if job.progress_pct!=None else '0'}}%<data class="relative block before:w-full before:h-2 before:bottom-0 before:bg-stone-100 before:block before:left-0"><span class="percent block h-2 absolute bottom-0 left-0 {{color_state(job.state)}}" style="width:{{job.progress_pct  if job.progress_pct !=None else '0'}}%"></span></data></div>
</td>
    </tr>
    <tr>
      <th>{{_('Message')}} </th>
      <td><div id="job-errors">{{job.errors.length}}<a class="font-btn triggershow block {{'hide' if job.state!='E' else ''}}" data-action="toggle"  data-target=".collapseerrors" data-show="{{_('View')}}" data-hide="{{_('Hide')}}">{{_(' all errors')}}</a>
        <div id="collapseerrors" class="collapseerrors">
        <ul>
          {% for e in job.errors %}
            <li >{{ e }}</li>
          {% endfor %}
        </ul></div></div>
      </td>
    </tr>{%-if "wrns" in job.result -%} <tr>
      <th>{{_('Warnings')}} </th>
      <td><div id="job-warnings"><ul>
          {% for e in job.result["wrns"] %}
            <li >{{ e }}</li>
          {% endfor %}
        </ul>
          </div>
      </td>
    </tr>{%-endif-%}<tr><td colspan="2" class="ml-2 text-left ""><a class="font-btn triggershow" data-action="toggle"  data-target=".togglecollapse" data-show="{{_('View')}}" data-hide="{{_('Hide')}}">{{_('internal details')}}</a></td></tr>
    <tr class="togglecollapse">
      <th>{{_('Input Parameters')}}</th>
      <td>{{ job.params|string }}</td>
    </tr>
    <tr class="togglecollapse">
      <th>{{_('Question Data')}}</th>
      <td><span id="job-questiondata">{{ job.questiondata|string }}</span></td>
    </tr>
    <tr class="togglecollapse">
      <th>{{_('Answer Data')}}</th>
      <td><span id="job-answerdata">{{ job.answerdata|string }}</span></td>
    </tr></tbody>
  </table>
  <details class="overflow-hidden px-2 mb-24"><summary class="text-lg font-btn font-semibold py-0.5 is-default inverse" data-request="logfile" data-href="{{url_for("gui_job_show", job_id=job.id)}}?log=Y">{{_('View log file')}} </summary><pre id="joblog" class="w-full my-4 break-all text-sm text-stone-900  whitespace-pre-line"></pre></details>
{% endif %}

</div>
{% endblock %}
