{%if not partial%}
{% extends "./v2/layout.html" %}
{% endif%}
{% set state2label = dict({'P': 'Pending',
'E': 'Error',
'R': 'Running',
'A': 'Question',
'F': 'Finished'}) %}
{% block body %}
<div class="container mx-auto mt-8">
<div class="py-8 flex flex-col">
  {% if job and job.id %}
  <div><div id="spinner-icon" class="hidden mx-auto my-8"><img src="{{ url_for('static', filename='AjaxLoading.gif') }}"></div>
  <div id="statusdiv" ><span class="inline-block font-semibold"></span><div class="inline-block pl-4"></div></div>
  <div id="progressbar" class="hidden h-8 w-96"></div>
  </div>
  {% if job.state =="E" or job.state=="F" %}
  <div>
    <a href="/gui/job/clean/{{ job.id }}" class="button is-danger inverse">{{_('Clean task data')}}</a>
    <a href="/gui/jobs/listall" class="button ml-4 ">{{_('Back to tasks list')}}</a></div>
    {% endif %}
  {%elif jobid %}
  <a href="/gui/job/clean/{{jobid}}{{'?thengotoproject=Y' if target_proj and target_proj.projid else '' }}" class="button is-secondary inverse" role="button">{{_('FORCE Delete of ')}} {{jobid}} {{ _('and back to project') if target_proj and target_proj.projid else ''}}</a>
  <small>{{_('(no danger for the original database)')}}</small>
  {%endif%}
  </div>
  {% if job.taskstate=="Error" %}
    <div class="alert alert-danger">
      <p>{{_('This task has errors. Check the error messages below, fix these errors, go back to your project and restart
        your job.')}}</p>
    </div>
  {% endif %}

  <table class="datatable-table jobs table-condensed">
   <tr>
      <th>{{_('Task ID')}}</th>
      <td>{{ job.id }}</td>
    </tr>
    <tr>
      <th >{{_('Class')}}</th>
      <td>Task{{ job.type }}</td>
    </tr>
    <tr>
      <th>{{_('Owner')}}</th>
      <td><a href="mailto:{{ owner.email }}">{{ owner.name }}</a></td>
    </tr>
    <tr>
      <th>{{_('State')}}</th>
      <td>{{ state2label[job.state]|safe }}
        {% if job.state=="Q" %}
          <a href="/gui/job/question/{{ job.id }}"><span class="label label-warning">{{_('Go')}}</span></a>
        {% elif job.state in ("E", "R") %}
          <a href="/gui/job/forcerestart/{{ job.id }}">
            <button class="btn btn-danger btn-sm">{{_('Force restart')}}</button>
          </a>
        {% endif %}

      </td>
    </tr>
    <tr>
      <th>{{_('Step')}}</th>
      <td>{{ job.taskstep }}</td>
    </tr>
    <tr>
      <th>{{_('Progress')}}</th>
      <td>{{ job.progress_pct|string + '%' if job.progress_pct != None else '' }}</td>
    </tr>
    <tr>
      <th>{{_('Message')}}</th>
      <td>{{ job.progress_msg }}
        <ul>
          {% for e in job.errors %}
            <li>{{ e }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr><tr><td colspan="2" class="ml-2 text-left ""><a class="font-btn triggershow" data-action="toggle"  data-target=".collapse" data-show="{{_('View')}}" data-hide="{{_('Hide')}}">{{_('internal details')}}</a></td></tr></tbody><tbody >
    <tr class="collapse hide">
      <th>{{_('Input Parameters')}}</th>
      <td>{{ job.params|string }}</td>
    </tr>
    <tr class="collapse hide">
      <th>{{_('Question Data')}}</th>
      <td>{{ job.questiondata|string }}</td>
    </tr>
    <tr class="collapse hide">
      <th>{{_('Answer Data')}}</th>
      <td>{{ job.answerdata|string }}</td>
    </tr></tbody>
  </table>
  <details class="overflow-hidden px-2 mb-24"><summary class="text-lg font-btn font-semibold py-0.5 is-default inverse" data-action="request" data-href="/gui/job/show/{{job.id}}?log=Y">{{_('View log file')}}</summary><pre class="w-full my-4 break-all text-sm text-stone-900"></pre></details>

  {% if customdetails %}<details><summary class="text-lg font-btn font-semibold py-0.5 is-info inverse" data-action="request" data-href="/gui/job/show/{{job.id}}?customdetails=Y">{{_('View custom details') }}</summary><pre class="w-full my-4 break-all text-sm text-stone-900"></pre></details>{% endif %}

</div>

<script>
window.addEventListener('load', () => {
  const jobid = {{ job.id }};
  let   options = {};
    options.headers = options.headers || {};
    options.headers['X-Requested-With'] = 'XMLHttpRequest';
    if (!options.credentials) options.credentials = 'same-origin';
  let intervalHandle;
      const spinner = document.getElementById('spinner-icon');
  const statusdiv = document.getElementById("statusdiv");
    let stop = false;
    const progress_bar = (show,percent=0,description=``) => {

      if (!percent) percent = 0;
      if(!description) description ="In progress";

      const progressbar = document.getElementById('progressbar');
      if (show === false)  {
       if(spinner) spinner.remove();
      }
      else {
       if(spinner) spinner.classList.remove('hidden');
      if(progressbar) progressbar.classList.remove('hidden');


              }

    }
    const display_errors= (errors) => {
      statusdiv.firstChild.innerHTML = `<div class="alert alert-danger">${errors.join(`</div><div>`)}</div>`;
    }
    const display_next = async (url) => {
      fetch(url, options).then(response => response.text()).then(response => {
      statusdiv.lastChild.insertAdjacentHTML('beforeend', response);
          });

    }
        let html = [];
    const check_job_status = () => {
        fetch("/gui/job/status/" + jobid, options).then(response => response.json()).then(job => {
          if(job.errors.length) {
          clearInterval(intervalHandle);
            progress_bar(false);
          display_errors(job.errors);
        }
        if (stop === true) return;

        if (job) {
            switch(job.state) {
              case "A":
                // question
                stop = true;
                display_next("/gui/job/question/" + job.id);
                progress_bar(false);
                clearInterval(intervalHandle);
              break;
              case "F":
              stop = true;
              progress_bar(false);
              if(spinner) spinner.remove();
              clearInterval(intervalHandle);
              if(job.finalaction) {
                console.log('finalaction', job.finalaction)
                html.push(job.finalaction);
              }
              if(job.description) {
                statusdiv.firstChild.innerHTML = job.description;
              }

          //  display_next("/gui/job/show/"+job.id+'?monitor=true');

              break;
              case "E":
              stop = true;
              progress_bar(false);
              spinner.remove();
              clearInterval(intervalHandle);

            display_errors(job.errors);
              break;
              case "P":
              // pending
              break;
            }
            progress_bar(true,job.progress_pct,job.progress_msg);
      }
      if(statusdiv)  statusdiv.childNodes[1].innerHTML = html.join('');
      if(stop === false) setTimeout(check_job_status,1000);
    });
        }
     check_job_status();
      });
</script>
{% endblock %}
