{% extends "v2/layout.html" %}
{% from "./v2/macros/macros.html" import form_group_radio, alertbox with context %}
{% from "./v2/project/macros.html" import display_filters , header_project_job with context %}
{% macro checkboxinputinlist(name, checkedvalue, value='',extra='') -%}
  <input type="checkbox" name="{{ name }}" id="{{ name }}"
         value="{{ checkedvalue }}"  {{ 'checked' if checkedvalue in value }} {{ extra|safe }}>
{%- endmacro %}

{% block body %}
<div class="container mx-auto">
  <div class="w-100 mx-auto py-4 block text-left relative" id="project-subset-header">
    {% set data = {'file':'_help_project_subset'} %}
    {{header_project_job(_('Create subset from project'),data, _('How to create a project subset'))}}
  </div>
  <form class="form-horizontal" action="{{ request.path }}" class="js js-submit" method="post" enctype=multipart/form-data>
  <input type="hidden" name="projid" value="{{ target_proj.projid }}">
{{display_filters(filters)}}
  <div class="form-box js js-tabs" data-selector="input[type='radio']" data-toggledisable=true><div class="label">{{_('Select')}}</div>
    <div class="form-group" role="group">
      {% set vals = [{"label":'% ' + _('of values'),"value":"P"},{"label":_('objects max.'),"value":"V"}]%}
      {% for val in vals %}
        {{ form_group_radio('valType'+val.value,'valtype',val.value,val.label,form.valtype,required=True,extra=' data-target='+val.value +'valeur')}}
          {% endfor%}</div>
      <div id="Pvaleur" class="flex"><input type="text" class="form-input w-1/6" maxlength="3" size="3" name="pvaleur" id="pvaleur" value="10" {{' disabled' if form.valtype !='P' }}><label for="pvaleur" class="w-5/6 mx-2 mt-4 mb-0">{{'% ' + _('of values')}}</label></div>
    <div id="Vvaleur" class="flex"><input type="text" size="5" class="form-input  w-1/6" name="vvaleur" value="" id="vvaleur" {{' disabled' if form.valtype !='V' }}><label for="vvaleur" class="w-5/6 mx-2 mt-4 mb-0">{{_('objects max.')}}</label></div>
      </div>
  <div class="form-box"><div class="label">{{_('Randomly per')}}</div>
  <div class="form-group" role="group" >
    {% set grps = [{"label":_("category"),"value":"C"},{"label":_("sample"),"value":"S"},{"label":_("acquisition"),"value":"A"}]%}
    {% for grp in grps %}
      {{ form_group_radio('grpType'+grp.value,'grptype',grp.value,grp.label,form.grptype,required=True)}}
        {% endfor%}
    </div>

  </div>
<div class="form-box flex flex-col"><label for="subsetprojecttitle">{{_('Subset project title')}}</label>
  <input name="subsetprojecttitle"  id="subsetprojecttitle"  class="form-input w-1/3" value="{{ form.subsetprojecttitle }}"
                                      maxlength="255"></div>
                                      <div class="block drop-shadow-sm px-4 py-4 my-2 text-stone-800 bg-stone-50 border border-stone-100"><ul>
    <li>{{_('You will be Project manager of the subset project.')}}</li>
    <li>{{_('Extracting a subset with 100%s of objects per category creates a copy of the source project.').format('%')}}</li>
    <li>{{_('After creating a subset to serve as a learning set, it is advised to homogenise the content of each of
      its categories. This usually results in better automatic classification performance.')}}
    </li>
  </ul></div>

    <div class="form-box float-left"><button type="submit" class="button is-primary ">{{_('Start Task')}}</button> <a href ="{{ url_for("gui_prj_classify",projid=target_proj.projid)}}" class="button is-secondary inverse">{{_('Cancel')}}</a>  </div>

  </form></div>


{% endblock %}
