  {%block body%}
  {% if response[0]|int == 0 %}
 <div class="alert is-success">
   {%- if (not api_email_verification  or token) and not api_account_validation -%}
   <h3>{{_('Welcome, your account has been created.')}}</h3>
   <a href="{{url_for('gui_login')}}" class="button is-primary">{{_('login')}}</a>
    {%- elif token  and api_account_validation-%}
    <h3>{{_('Account created. Waiting for validation')}}</h3>
    <p>{{_('We will verify your informations and activate your account. You will be informed by email of any issue.')}}</p>
    {%- elif api_email_verification -%}
    <strong>{{_('Thank you.')}} </strong>
    <p> {{_('A confirmation email has been sent to the email address :')}} {{email}} <br>
      {{_('Click on the link therein to verify it.')}}
      {{_('Please, check spam and junk mails if you can\'t find this email in your inbox.')}}</p>
      {%-endif-%}
    {% else %}
     <div class="alert is-danger">
    <h3>{{_('Error')}} {{ response[0]}}</h3> {{response[1] if response|length >1 else ''}}
    {% if (token or not api_email_verification) %}
      <p>{{_('The account has not been created.')}}</p>
    {% elif api_email_verification %}
      <p>{{_('The validation email was not sent.')}}</p>
    {% endif %}{{back_to_form()}}
    {% endif %}</div>
  {%endblock%}
