{%if not partial %}
{% extends "v2/layout.html" %}
  {%endif%}
  {% from "./v2/macros/_captcha.html" import captcha with context%}
{%block body%}
<div class=" w-full  lg:w-96 mx-auto mt-24 md:mt-48 pt-8 px-2">
<div id="home-activate" class=" w-full mb-12 overflow-hidden border border-transparent shadow-sm px-2 mx-auto sm:px-4">
   {% if token %}
<form id="form-activate" action="{{ url_for('gui_me_activate', token=token) }}" data-fetch="html"  class="js js-submit" method="POST" name="activate_user_form" >
     <input type="hidden" name="crsf_token" value={{ crsf_token }}>

     <div class="form-box"><label for="password">{{_('Enter your password to confirm your new email address') }}</label>
       <input type="password" id="password" name="password" class="form-input" data-action="wrapeye"  maxlength="20" required data-required="{{ _('a password is required')}}" placeholder="{{_('Password')}}">
       </div>
  <div class="submit-box">
    <button class="button is-primary text-center font-semibold w-full" type="submit" id="is-activate"><i class="icon icon-check invert mr-2.5"></i>{{ _('Confirm my email address') }}</button>
    </div></fieldset>
  {%set uid=unique_id()%}
  {{captcha("form-activate",uid)}}
</form>{%-else -%}{{_('If you want to reactivate your account, please contact our assistance.')}}{%-endif-%}
</div></div>
{%endblock%}
