{%- macro choosen_proj(target_proj)-%}
{%if target_proj and target_proj.projid%}{{ target_proj.title}}<input type="hidden" type="text" id="projid" value="{{target_proj.projid}}">
{%else%}
{{inputdict('projid','projid',value=0, label='Project', type = 'project', multiple = False,placeholder='Select a project', autocomplete=True, data = "data-noaction=true") }}
{%endif%}
{%-endmacro%}
<div class="form-box"><label>{{_('Project')}}</label><div class="text-base font-semibold uppercase align-bottom">{{ choosen_proj(target_proj)}}</div></div>
<div class="form-box">
  <label for="status">{{ _('Type of import') }} <i data-for="help_type_import" data-request="help"></i></label>
  <div class="form-group" role="group">
    {% set required = True %}
    {% set typeimport = None if not typeimport %}
    {% for st in (("images-tsv",_("Images+TSV files")),("images",_("Images Only")),("tsv",_("TSV files only"))) %}
    {{ form_group_radio('typeimport' + loop.index|string(),'typeimport',st[0],st[1],typeimport,required=required)}}
    {% endfor %}
  </div>
</div>
<div class="form-box"  id="import_options">{%include('/v2/jobs/_import_advanced_options.html')%}</div>
<div class="flex justify-end">
        <div class="form-box ">
            <input type="hidden" name="starttask" value="Y">
            <button type="submit" id="import" disabled class="button is-primary hide">{{_('Import')}}
            </button>
        </div></div>
