{% extends "./v2/layout.html" %}
{% from "./v2/macros/macros.html" import form_group_radio, checkbox_radio, alertbox with context %}
{% from "./v2/project/macros.html" import display_filters , header_project_job with context %}
{% block body %}
<div class="container mx-auto">
  <div class="w-100 mx-auto py-4 block text-left relative" id="project-subset-header">
  {% set data = {'file':'_help_job_export_summary'} %}
  {{header_project_job(_('Summary Export'),data, _('How to export summary data'))}}
</div><div class="block-info bg-warning-50 font-normal">{{_('Functionality not active')}}</div>
<div class="form-box mb-8 w-auto float-left clear-right">
  {%- if referer -%}
   <a href ="{{ referer}}" class="button is-secondary inverse mr-2">{{_('Back')}}</a>
   {%-endif -%}<a href ="{{url_for("gui_prj_classify",projid=target_proj.projid)}}" class="button is-secondary inverse">{{_('Annotate')}}</a>
      </div>
        </div>
{% endblock %}
