{% extends "./v2/layout.html" %}
{% from "./v2/macros/macros.html" import form_group_radio, checkbox_radio, alertbox with context %}
{% from "./v2/project/macros.html" import display_filters , header_project_job with context %}
{%-macro select_export_options(data)-%}
{% for selectoptions in [formatoptions.options, formatoptions.otheroptions]%}
  {% for selectoption in selectoptions %}
  {% set dataoption = "" if selectoption.name not in data else data[selectoption.name] %}
{% set dataoption = [dataoption] if dataoption is string else dataoption %}
  {% set value = dataoption[0]  %}
    {% set extra = " readonly onclick='return false;'" if dataoption[1] == True   else "" %}
  {{ checkbox_radio(selectoption.name,selectoption.name,"1",dataoption[0],selectoption.label, extra=extra) }}
{%endfor%}
{%endfor%}
{%-endmacro-%}
{%macro select_export_images(params)-%}
{% if "select" in params%}
<label>{{_('Export images')}}</label>
<select name="exportimages" class="form-select w-auto">
  {%- for option in params["select"] -%}
  <option value={{option.value}} >{{option.label}}</option>
  {%-endfor-%}
  <!--<option value="1" {{ 'selected' if formdata.exportimages and  formdata.exportimages=='1' }} >{{_('Only Rank 0 Image')}}</option>
  <option value="A" {{ 'selected' if formdata.exportimages and formdata.exportimages=='A' }} >{{_('All images of each object')}}</option>-->
</select>
{% elif "checkbox" in params %}
<label>{{params.checkbox.label}} <input type="checkbox" class="ml-2" value={{params.checkbox.value}}></label>
{%endif%}
{%-endmacro%}
{% block body %}
<div class="container mx-auto">
  <div class="w-100 mx-auto py-4 block text-left relative" id="project-subset-header">
  {% set data = {'file':'_help_job_export'} %}
  {{header_project_job(_('Full export'),data, _('How to export data'))}}
</div>
  <form method="post" class="js js-submit js-tabs " data-event="click" data-selector="[name='what'][data-target]" data-toggle=true data-togglewhat="#what" data-toggledisable=true enctype=multipart/form-data>
    <div class="block mb-4">{{display_filters(filters)}}<input type="hidden" type="text" name="projid" id="projid" value="{{target_proj.projid}}"></div>
    <div class="fieldset-wrapper w-full flex flex-row">
  <fieldset class="w-full md:w-1/2 tab mb-0 pb-0"><legend class="text-center tab-control" data-what="TSV">{{_("Custom")}} </legend>
    <div class="tab-content pt-2" id="TSV"><div class="form-box">{{select_export_options(formatoptions.data.TSV)}}</div>
    <div class="form-box">{{select_export_images(formatoptions.fields.TSV.exportimages)}}</div>
    </div></fieldset><fieldset class="w-full md:w-1/2 tab my-0 py-0">
  <legend class="text-center tab-control"  data-what="BAK" >{{_("Backup")}} </legend><div class="tab-content pt-2" id="BAK">
  <div class="form-box">{{select_export_options(formatoptions.data.BAK)}}</div>
    <div class="form-box">{{select_export_images(formatoptions.fields.BAK.exportimages)}}
      </div></div></fieldset><fieldset class="w-full -mt-4 pt-0 block">
      <div class="form-box"><label>{{_('Split in multiple files by')}}</label><select name="splitcsvby" class="form-select w-auto ">
        <option value="">{{_('NOT Active')}}</option>
        <option value="sample" {{ 'selected' if  formdata.splitcsvby and formdata.splitcsvby=='sample' }} >{{_('Sample')}}</option>
        <option value="taxo" {{ 'selected' if formdata.splitcsvby and formdata.splitcsvby=='taxo' }} >{{_('Taxonomy (parent_child)')}}</option>
      </select>
  </div></fieldset></div>
            <input type="hidden" name="starttask" value="Y">
            <input type="hidden" name="what" id="what" value="TSV">
      <div class="form-box mb-8 w-auto float-left clear-right">
          <button type="submit" class="button is-primary ">{{_('Start Task')}}</button>  <a href ="/prj/{{target_proj.projid}}" class="button is-secondary inverse">{{_('Cancel')}}</a>
            </div>
        </form>
        </div>
{% endblock %}
