{% extends "part/layout.html" %}
{% macro PutInLabel(tsk) -%}
  {% set state=tsk.taskstate %}
  {% set id=tsk.id %}
  {% if state=="Question" %}
    <a href="{{ url_for('.TaskQuestionRouter', TaskID=id) }}">
      <button class="btn btn-xs btn-warning">{{ state }}</button>
    </a>
  {% elif state=="Error" %}
    <a href="{{ url_for('.TaskShow', TaskID=id) }}">
      <button class="btn btn-xs btn-danger">{{ state }}</button>
    </a>
  {% elif state=="Running" %}
    <a href="{{ url_for('.TaskShow', TaskID=id) }}">
      <button class="btn btn-xs btn-info">{{ state }}</button>
    </a>
  {% elif state=="Done" %}
    <a href="{{ url_for('.TaskShow', TaskID=id) }}">
      <button class="btn btn-xs btn-success">{{ state }}</button>
    </a>
  {% else %}
    {{ state }}
  {% endif %}
{%- endmacro %}

{% block body %}
  <a class='btn btn-default' href=?cleandone=Y{{ seeall }}>Clean All Done</a>
  <a class='btn btn-default' href=?cleanerror=Y{{ seeall }}>Clean All Error</a>
  <a class='btn btn-default' href=?cleanall=Y{{ seeall }}>Clean All (warning !!!)</a>  Task count : {{ len_tasks }}
  <a class='btn btn-default' href=?seeall=Y>See All users tasks </a>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Task type</th>
      <th>Owner</th>
      <th>State</th>
      <th>Step</th>
      <th width="60px">%</th>
      <th>Message</th>
      <th>Creation date</th>
      <th>Last update</th>
    </tr>
    {% for t in tasks %}

      <tr>
        <td><a href="{{ url_for('.TaskShow', TaskID=t.id) }}"> {{ t.id }}
          <button class="btn btn-xs btn-primary">View</button>
        </a></td>
        <td>{{ t.taskclass }}
        </td>
        <td><a href="mailto:{{ t.owner_rel.email }}">{{ t.owner_rel.name }}</a></td>
        <td>{{ PutInLabel(t) }}</td>
        <td>{{ t.taskstep }}</td>
        <td>{{ t.progresspct }} %</td>
        <td>{{ t.progressmsg }}</td>
        <td>{{ t.creationdate|datetime }}</td>
        <td>{{ t.lastupdate|datetime }}</td>
      </tr>

    {% endfor %}
  </table>

{% endblock %}