{# Extend the template from flask-admin which is located in the blueprint "admin" #}
{% extends 'admin/master.html' %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="/static/fontawesome-free-5.5.0-web/css/all.min.css">
{% endblock %}

{% block body %}

  {% if g.appliadmin %}
    <p><b>You have Administrator privileges</b></p>
    <p></p>
    <table>
      <tr>
        <td width="200"><a href="/admin/others/edithomemessage" class="btn">Edit Home Page Message</a></td>
        <td width="200"><a href="/Jobs/listall?seeall=Y" class="btn">View Task for all users&nbsp;
          <i class="fa fa-external-link-alt" aria-hidden="true"></i></a></td>
      </tr>
    </table>
  {% endif %}
  <p><br>List of Application administrators :
    {{ admin_users }}
  </p>

{% endblock %}