{%-macro captcha(reCaptchaID)%}
  {% if reCaptchaID %}
    <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response" value="">
    {% endif %}
{%endmacro-%}
{%-macro scriptcaptcha(reCaptchaID)-%}
    <script src='https://www.google.com/recaptcha/api.js?render={{reCaptchaID}}' ></script>
    {% if reCaptchaID %}
        <script>
        grecaptcha.ready(function() {
          grecaptcha.render("g-recaptcha-response", {
   "sitekey": {{ reCaptchaID }}
 });
                  grecaptcha.execute('{{ reCaptchaID }}', {action: 'createuser'}).then(function(token) {
                      // Add your logic to submit to your backend server here.
                      console.log('token ' , token)
                       document.getElementById('g-recaptcha-response').value = token;
                  });
          });
          </script>
        {% endif %}
{%endmacro-%}
