{% macro nav_header(target_proj,headcenter) -%}
{#write central header - project title or page main action title#}

{% if target_proj or headcenter !='' %}
<h3>
  {{ headcenter }}
  {% if target_proj and target_proj.projid != 0 %}
  [{{ target_proj.projid }}] {{ target_proj.title }}
  {% endif %}
</h3>
{% endif %}
{%- endmacro%}

{% macro modal(id,btn = {'class':'','text':'','data':''},modal_title='',modal_content='',type='modal-popup', position='' ,summary_pos={'float':'','clear':''} ,data='') -%}
<details {{' id=' + type if type=='modal-help' }} class="modal-container  no-marker {{ type }} {{ position }}" {{ 'data-form=' + data.form if 'form' in data }} {{ 'data-file=' + data.file if 'file' in data and type=='modal-help'}}>
  {% if type=='modal-popup' %}
  <summary><div class="{{ btn['class'] if btn['class'] else 'button is-action inline-block' }}" data-for="{{ id }}" {{ btn['data'] if btn['data']  }}>
    {#icon#}
    {%if btn and 'icon' in btn%}
    <i class=" icon {{ btn['icon']|safe }}"></i>
    {% endif%}
    <span>{{btn['text'] if btn['text'] else '' }}</span></div></summary>
  <div class="modal" id="{{ id }}" aria-modal="true" role="dialog" >
    <div class="modal-body" for="{{ id }}">
      <div class="modal-title">
        <div class="block w-full">
        <span class="h3">{{modal_title}}</span></div>
        {% if 'header' in data and  data.header !='' %}
          {% with args = data %}
          {% include data.header %}
          {% endwith%}
      {% endif%}
      </div>
      <div class="modal-content">
        {% if modal_content != '' %}
        {% include modal_content  ignore missing %}
        {% else %}
        {{ _('Please wait ...')}}
        {% endif %}
      </div>
      <div class="modal-footer">{% if 'footer' in data and data.footer !=''%}
      {% include data.footer %}
    {% endif%}</div>
    </div>
  </div>
  {% else %}
  {% if summary_pos is iterable%}
  {% set pos =''%}
  {% for prop,val in summary_pos.items() %}
  {% set pos = pos + prop + '-' + val + ' ' if val!='' %}
  {% endfor %}
  {% endif %}
  <summary class="aside-label" {{ 'data-request=help' if type=='modal-help' }}  ><span class="summary-title">{{ modal_title }}</span></summary>
  <div class="modal" id="{{ id }}" >
  <div class="aside-body">
      {% set modal_content='./v2/help/index.html' if (modal_content == '' and type=='modal-help') else modal_content %}
      {% include modal_content  ignore missing %}

    </div>
  </div>
  {% endif %}
  <div class="up" data-action="gotop" data-target="{{ id }}"></div>
</details>
{%- endmacro %}
{% macro inputdict(id,name,value=0, label='', type = '', multiple = False,placeholder='Select', required = False, autocomplete=False,data='',options=None) -%}
{% if autocomplete == True %}

<select {{ 'multiple' if multiple }} name="{{ name }}" id="{{ id }}" class="form-select js js-autocomplete" data-placeholder="{{ placeholder }}" data-type="{{ type }}" {{ 'required' if required }}  {{ data if data }}>

  {% if options != None and options is iterable%}
      <option value='' {{ 'selected' if value =='' or value==0 }} {{ 'disabled hidden' if value == 0  }}>{{ placeholder +'...'}}</option>
  {% for option in options%}

  {% set v= option[0] if option is not string  else option %}
    {% set l= option[1] if option is not string  else option %}
    <option value="{{ v }}" {{ 'selected' if v == value or (type=='country' and l==value) }} >{{ l }}</option>
  {%endfor%}
  {%else %}
      <option value="{{value}}" {{ 'selected' if value ==value}} {{ 'disabled hidden' if value == 0  }}>{{ label}}</option>
  {%endif%}

</select>
{% else %}
<div class="form-box">

  <input type="hidden" name="{{ name }}" id="{{ id }}" data-type="{{ type }}" {{ 'required' if required }} value="{{ value }}"> <input type="text" class="form-input" value="{{ label }}" readonly></div>
{% endif %}
{%- endmacro %}

{% macro form_group_radio(id,name,val,label,value,required=False,help='',extra='') -%}
<div class="group-radio"><input type="radio" class="peer" name="{{ name }}" id="{{ id}}" value="{{ val }}" {{'required' if required==True else ''}} {{ 'checked' if val==value }} {{extra}}>
  <label for="{{id}}" class="peer-checked:bg-pchecked-400  peer-checked:text-white  peer-checked:shadow" {{help}}>{{ label }}</label></div>
{%- endmacro %}
{% macro checkbox_radio(name, id , checkedvalue, value='', label="",type="checkbox",extra='') -%}
  <label class="checkbox-label" for="{{id}}"><input type="{{type}}" name="{{ name }}" id="{{ id }}" class="form-checkbox"
         value="{{ checkedvalue }}"  {{ 'checked' if value==checkedvalue }} {{ extra|safe }}> {{ label }}</label>
{%- endmacro %}


{% macro alertbox(type,message,title='', inverse=False, dismissible = False, codeid= True,extra=False,  is_safe = False,tofetch= False) -%}
{% include './v2/partials/_alertbox.html' with context%}
{%- endmacro %}

{% macro topalerts() -%}
{% set messages = get_flashed_messages(true)  %}
{% if messages|length > 0 %}
{% for message in messages %}
{{ alertbox(type=message[0]|replace("message","info"),dismissible = True, message=message[1], is_safe = True  )}}
{% endfor %}
{% endif %}
{%- endmacro %}
