.status-validated { background: #5cb85c; }
.status-dubious { background: #FFB84D; }
.status-predicted { background: #BCBCBC; }
.status-unknown { background: #FF2424; }
.rightfixedfont{text-align: right; font-family: Courier;}
.rightfixedfonttd td {text-align: right; font-family: Courier;}
.ToBeSaved .taxo {color:red;}
.linestart{font-weight: bold; background: #aaaaaa;}

.ui-datepicker {  z-index: 4 !important; } /*Fix issue of Slider button over calendar on filter on FFX*/

.taxodrop_hover { background: #5cb85c; }
.activeTaxo { background: #BCBCBC; }