<table>
  <tr>
    <td style="width: 600px;vertical-align: top;">
<p style="font-size: x-large;font-weight: bold;">Select a particle project </p>


{% if  CanCreate==True %}
  <a href="/part/prjedit/0" class="btn btn-success" >Create a new Particle project</a>
{% else %}
  <p>To create a new project and upload images in it, please contact the application manager(s):<br> {{ AppManagerMailto|safe }}</p>
{% endif %}
</td>
  <td style="padding-left: 50px;vertical-align: top;">
  <div class="panel panel-default">
  <div class="panel-body">
    <form method="get">
      <table>
        <tr>
          <td style="padding-right: 5px;">Filter on title : </td>
          <td><input type="text"  style="width: 100px;margin : 0 10px 3px 0;" name="filt_title" id="filt_title" value="{{ filt_title }}"></td>
          <td rowspan="3" style="vertical-align: top"><button type="submit" class="btn btn-primary">Search</button></td>
        </tr>
        <tr>
          <td>Instrument : </td>
          <td><input type="text" style="width: 100px;" name="filt_instrum" id="filt_instrum" value="{{ filt_instrum }}">
                </td>
        </tr>
      </table>
    </form>
  </div></div>
    </td>
  </tr>
</table>
<table class='table table-hover table-verycondensed projectsList'>
        <thead><tr>
                <th></th>
                <th>Title [ID]</th>
                <th>Instrument</th>
                <th>Ecotaxa Project</th>
                <th>Folder</th>
                <th>Nbr Sample</th>
            </tr>
        </thead>
        <tbody>
{%   for r in PrjList %}
<tr><td><a class='btn btn-primary' href='/part/prj/{{ r[0] }}'>Select</a></td>
  <td> {{ r[1] }} [{{ r[0] }}] {{ ("<a href='mailto:"+r['email']+"'>"+r['name']+"</a>") |safe if r['email'] }}</td>
  <td>{{ r['instrumtype'] or "" }}</td>
  <td>{{ r['title'] or "" }}</td>
  <td>{{ r['rawfolder'] or "" }}</td>
  <td>{{ r['samplecount'] }}</td>

  </tr>
{%  endfor %}

</tbody></table>
<script>
$('#filt_title').focus();
</script>


