{# project  about : stats display #}
{% macro taxo_list(taxa) -%}
{%-if taxa is iterable-%}
{%- for taxon in taxa -%}
  <span class="item" data-id={{taxon[0]}}>{{ taxon[1] }}</span>
  {%-endfor-%}
  {%-endif-%}
  {%-endmacro%}
  {%-macro get_privilege(user_id) -%}
  {% if target_proj.privileges is iterable %}
    {%- for right,members in target_proj.privileges.items() -%}
    {%- for member in members -%}
      {%if member.id == user_id %}
      {{translations.roles[right]}}
      {%-endif-%}
      {%- endfor -%}
    {%- endfor -%}
    {%-endif-%}
  {%-endmacro%}

{% macro proj_settings() -%}
<div class="block mb-4">
{%-if target_proj.description != None -%}
<p class="py-4">{{target_proj.description }}</p>
{%-endif-%}
{% if target_proj.privileges is iterable %}
<div class="stat-item "><span class="stat-label">{{_('Privileges')}} <i data-for="help_proj_stats_privileges" data-action="request" data-what="help"></i></span>
  <div class="stat-info">
  {% for right,members in target_proj.privileges.items() %}
  <div class="flex flex-row flex-wrap mb-2">
  <label class="rights {{ right }}">{{translations.rights[right]}}</label><div class="basis-10/12 text-sm">
  {% for member in members %}
  <div class="pr-2 inline-block"><span class="font-normal">{{member.name }}</span> <a href="mailto:{{member.email}}" class="hover:underline">{{member.email}}</a></div>
  {% endfor %}
</div></div>
{% endfor %}

</div></div>
{% endif %}
{% if initclassiflist %}
<div class="stat-item"><span class="stat-label">{{_('Definition of preset for manual sorting')}}</span><span class="stat-info">{{taxo_list(initclassiflist)}}</span></div>
{% endif%}
<div class="stat-item">
<span class=stat-label>{{_('Deep feature extractor')}} <i data-for="help_proj_stats_deep_feature_extractor" data-action="request" data-what="help"></i></span><span class="stat-info">{{target_proj.cnn_network_id}}</span></div>
</div>
{%-endmacro %}


{% if  partial  %}
{{ proj_settings() }}
{% if taxastats %}
<div class="block mb-4">
<div class="stat-item">
<span class="stat-label">{{_('Classification summary')}}</span>
<div class="flex flex_row  stat-info">
<div class="pr-2"><span>{{_('validated')}} : </span><span class=" text-validated font-normal">{{ taxastats|sum(attribute='nb_validated')}}</span></div>
<div class="pr-2"><span>{{_('dubious')}} : </span><span class="text-dubious font-normal">{{ taxastats|sum(attribute='nb_dubious')}}</span></div>
<div class="pr-2"><span>{{_('predicted')}} : </span><span class="text-predicted font-normal">{{ taxastats|sum(attribute='nb_predicted') }}</span></div>
  <div class="pr-2"><span>{{_('unclassified')}} : </span><span class="font-normal">{{ taxastats|sum(attribute='nb_unclassified')}}</span></div>
</div></div>
</div>
{%endif %}
<span class="w-auto ml-auto float-right clear-both  mb-6">
<a href="/gui/prj/about/{{ target_proj.projid }}" class="btn is-about" ><!--<i class="icon-lg icon-chart-bar-square-w p-1 invert"></i>-->{{_('about')}}</a></span>

{% else %}
{% include './v2/project/_fullstats.html'%}
{% endif %}
