{% extends "./v2/layout.html" %}
{% from "./v2/macros/macros.html" import inputdict%}
{% from "./v2/project/macros.html" import header_project_job with context %}
{%block body%}
<div class="container mx-auto px-4 block mb-24  js js-tabs" data-block="project_massannotation" >
  <div class="w-100 mx-auto py-4 block text-left relative" id="project-massannotation-header">
    {% set data = {'file':'_help_project_massannotation'} %}
    {{header_project_job(_('Project Edit / Erase annotation massively'),data, _('Merge project'))}}
  </div>
{% if error==404 %}
<a href="/gui/prj/" class="alert alert-warning">{{_('Select another project')}}</a>
{% elif error==401 or error == 403 %}
<a href="/gui/prj/" class="alert alert-danger">{{_('Select another project')}}</a>
{%elif error =="nocat"%}
<a href="javascript:history.back()">{{_('Back')}}</a>
{%elif target_proj and target_proj.projid%}
{% if nbrows!=None -%}
<div class='alert alert-success' role='alert'>{{_('Annotation replacement Done successfully. Updated')}} {{nb_rows}} {{_('Rows')}}</div>
<a class="button inverse w-full sm:w-96" href="/prj/{{target_proj.projid}}">{{_('Back to target project')}}</a>
{% else %}
{% if authors is iterable -%}
{% if authors|length == 0 %}
<div class='alert alert-info inverse' role='alert'> {{_('Nothing to replace')}}</div>
<a class="button inverse w-full sm:w-96" href="/prj/{{target_proj.projid}}">{{_('Back to target project')}}</a>
{%else%}
{%set optionauthors ={"from":("anyuser",_('Any User')),"to":("lastannot",_('Previous Annotation available, or prediction, or Nothing'))}%}
<form method="post" class="my-0 py-0">
<fieldset><div class="form-box"><label>{{_('Replace the identification done by:')}}</label>
  {{ inputdict('oldauthor','oldauthor',value ='', label='',type='', placeholder=_('identitification done by'),required= True,autocomplete=True , options=[optionauthors["from"]]+authors) }}
</div>
  <div class="form-box"><label>{{_('By the identification done by:')}}</label>
  {{ inputdict('newauthor','newauthor',value ='', label='',type='r', placeholder=_('replace by identitification done by'),required= True,autocomplete=True , options=[optionauthors["to"]]+authors) }}
</div>
<div class="form-box">
<label>{{_('Since the (optional):')}}</label>
<div class="flex md:flex-row" >
  <div class="w-48 inline-block"><input type="date" class="form-input  " id="filtdate" name="filtdate" autocomplete="off"></div><div class="w-48 flex flex-row"><span class="h-full align-text-bottom px-2 pb-0">  at </span><input type="text" id="filthour" name="filthour" class="form-input w-8" autocomplete="off"><span class="h-full pb-0 pl-1 pr-2"> h</span>
                    <input type="text"class="form-input w-8  mx-2" id="filtmin"
                           name="filtmin" autocomplete="off"><span class="h-full  pb-0 pl-1"> m</span></div>
</div></div>
        <button type="submit" class="button is-primary">{{_('Compute an estimation of the impact')}}</button>
        <em>{{_('On the next screen you will be able to apply the change only on some categories')}}</em>
        <div class="block-info">
    <p>{{_('This correction tool permits to erase the validation jobs for selected categories, selected Annotators
            and period of time and replace it by the one of a selected Annotator')}}<br>
            <strong>{{_('Examples of possibilities:')}}</strong>
            <ul>
                <li>{{_('Replace validation done by Mr X for all Copepoda by the validation done by Mrs. Y who is a well known specialist of this group')}}</li>
                <li>{{_('Replace validation done by Mr W before 2015 November, 15th (which is the date of his taxonomy training course) by prediction or validation by anyone else')}}</li>
            </ul>
        </div>
    </form>

    {%endif%}
  {% elif oldauthor != None  -%}
    {% if taxoimpact is iterable and taxoimpact|length%}
  <form method="post" class="my-0 py-0">
    <fieldset>
      <div class="py-2">
  {%if oldauthor == "anyuser" %}
    {{_('Replace any classification') }} {%else%}{{ _('Replace current classification, when done by')}} <strong>{{fromto["from"]}}</strong>{%endif%}<br>
  {%if newauthor =="lastannot"%} {{_('with previous classification') + ' ' + _(' of any other author, prediction if no other author, NOTHING as a fallback') if oldauthor!="anyuser" else '' }} {%else%}{{_('With previous classification done by')}} <strong>{{fromto["to"]}}</strong> <em>{{_('except if already the case')}}</em>{%endif%}<br>
</div>
          <input type="hidden" name="oldauthor" value ="{{oldauthor}}">
          <input type="hidden" name="newauthor" value ="{{newauthor}}">
          <input type="hidden" name="filtdate" value ="{{filtdate['date']}}">
          <input type="hidden" name="filthour" value ="{{filtdate['hour']}}">
          <input type="hidden" name="filtmin" value ="{{filtdate['minutes']}}">
          <input type="hidden" name="process" value ="Y">
        <button type="submit" class="button is-warning">{{_("Process the replacement. WARNING : It's irreversible !!!!")}}</button>
        <div class="py-2"><em>{{_('Below the estimation of each impacted category, select categories you want replace on these source categories list')}}</em><br>

          <table class="datatable-table table-bordered table-condensed" style="width: auto" id="table-taxo">
          <thead>
            <tr>
                <th><input type="checkbox" data-action="togglecheckall" data-target="#table-taxo input[type='checkbox']"> {{_('Select all/none')}}</th>
                <th>{{_('Category')}}</th>
                <th>{{_('Nbr')}}</th>
                <th>{{_('Changes')}}</th>
            </tr></thead><tbody>

            {% for a_rec in taxoimpact %}
            <tr>
                <td><input type='checkbox' value='Y' name='taxo{{a_rec.id}}'></td>
                <td>{{a_rec.name}}</td>
                <td class='rightfixedfont'>{{a_rec.nbr}}</td>
                <td>
                {% for a_chg, a_chg_nbr in a_rec.dest.items() %}
                    &xrarr;{{a_chg}}:<span class='rightfixedfont'>{{a_chg_nbr}}</span>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>  </div>
        </fieldset>
    </form>{%else %}{{_('No category found')}}  <a href="javascript:history.back()">{{_('Back')}}</a>{%endif%}
    {% endif %}
    {% endif %}
{%endif%}
{%endblock%}
