
{% extends "layout.html" %}
{% import "js_macros.html" as js %}
{% import "ht_macros.html" as ht %}

{% block body %}
<form class="form-horizontal" method="post" action="?" id="form1">
{% if g.privs_only %}
    <h3>Edit project # {{ data.projid }} - privileges&nbsp;
        <a href="/prj/edit/{{ data.projid }}" style="font-size: medium;"
           class="btn btn-xs btn-primary">Edit all</a></h3>
{% else %}
    <h3>Edit project # {{ data.projid }} -
        <a href="/prj/editpriv/{{ data.projid }}" style="font-size: medium;"
           class="btn btn-xs btn-primary">Edit privileges only</a></h3>
{% endif %}
  <table class=table width="100%">
{% if not g.privs_only %}
    <tr><td width="200px">Project Title </td><td colspan=2 >
        <input type="text"  class="form-control" id="title" name="title"  value="{{ data.title }}" style="width: 500px" >
    </td></tr>
    <tr>
        <td>License</td>
        <td>
            <select name="license" id="license" onchange=""  > {# class="form-control"  #}
            {% for k,v in possible_licenses.items() %}
                <option value="{{ k }}"  {{ 'selected' if data.license==k }}>{{ k }}</option>
            {% endfor %}
            </select>
        </td>
        <td>
            Pick a data sharing license for your project.
            <br/>Current choice is&nbsp;:&nbsp;<span id="license_explain">license text</span>
        </td>
    </tr>
    <tr>
        <td>Visible for all visitors<br>(only validated objects)</td>
        <td>
           <input type="checkbox"  style="height:20px;" id="visible" name="visible"
                  value="Y" {{ 'checked' if data.visible else "" }}>
        </td>
        <td></td>
    </tr>

    <tr>
        <td>Status</td>
        <td >
        {{ ht.selectinput('status', ("Annotate", "ExploreOnly","Annotate No Prediction"), value=data.status)  }}
        </td>
    </tr>

<tr><td>Project Description</td><td>
        <input type="text" maxlength="50" class="form-control" id="projtype" name="projtype"
               value="{{ data.projtype|default('',true) }}">
      </td>
</tr>

  <tr><td>Definition of preset for manual sorting
  <br><button class="btn btn-default" type="button" onclick="PickPresetFromOthersProject();">
          <i class="fas fa-clone"></i> Pick from others projects</button>
  </td><td>
        <input type="hidden"  class="form-control" id="initclassiflist" name="initclassiflist"
               value="{{ data.init_classif_list|default('',true) }}">
      <select id='inittaxo' class="taxolb" style="width: 100%;" multiple>
    {% for r in g.predeftaxo %}
      <option value="{{ r[0] }}" selected> {{ r[1] }}</option>
    {% endfor %}
  </select>
    </td><td>
The PRESET tool permits to create a pre-defined list of categories for the sorting of the images from the project
<ul><li>The list can be directly copied from another project (use Pick from other projects)
    <li>New categories can be added using the auto completion function
</ul>
  </td></tr>

  <tr><td>Fields available for<br>sorting & Display<br>In the manual classification page</td><td>
        <textarea  class="form-control" id="classiffieldlist" name="classiffieldlist"
                   rows="8">{{ data.classiffieldlist|default('',true) }}</textarea>
    </td><td>
    Format : Var=var_name (Var : imported variable, var_name : displayed variable name)
<br>Example : depth_min=minimum depth [m] where
<ul><li>depth_min is the variable from the imported TSV file
<li>minimum depth [m] is the displayed name</ul>
Notes :
<ul><li>the table can be copied from another project (opened in a different tab)
<li>only LOWER CASE</ul>
Available fields :
    {% for x in  g.maplist %}{{ x }}, {% endfor %}

   </td></tr>
  <tr><td>Fields displayed in image popover<br>in the manual classification page</td><td>
        <textarea  class="form-control" id="popoverfieldlist" name="popoverfieldlist"
                   rows="8">{{ data.popoverfieldlist|default('',true) }}</textarea>
    </td><td>
        Format : Var=var_name (Var : imported variable, var_name : displayed variable name)
<br>Example : depth_min=minimum depth [m] where
<ul><li>depth_min is the variable from the imported TSV file
<li>minimum depth [m] is the displayed name</ul>
Notes :
<ul><li>the table can be copied from another project (opened in a different tab)
<li>only LOWER CASE</ul>
Available fields :
    {% for x in  g.maplist %}{{ x }}, {% endfor %}

   </td></tr>
  <tr><td>SCN Network</td><td>
        <select  class="form-control" id="cnn_network_id" name="cnn_network_id" >
        <option value=""></option>
        {% for k,v in g.scn.items() %}
          <option value="{{ k }}" {{ 'selected' if data.cnn_network_id==k }}>{{ v.name }}</option>
        {% endfor %}
        </select>
    </td>
      <td>SCN Network used for prediction, if you change it, existing features computed with this network will be erased.
    <br>New features will be recomputed during the next automatic classification.
    </td></tr>
  <tr><td>Comments</td><td>
        <textarea  class="form-control" id="comments" name="comments"
                   rows="4">{{ data.comments|default('',true) }}</textarea>
    </td><td>
    </td></tr>
{% endif %}
  <tr><td>Privileges</td><td colspan="2">
        <table class="table table-bordered table-verycondensed" style="width:500px;">
          <tr>
            <td>Name</td>
            <td>Privilege</td>
            <td>Delete</td>
          </tr>
          {% for pr in g.members %}
          <tr>
            <td>{{ ht.selectinputdict('priv_'~pr.member_id~'_member', g.users, pr.member_id) }}</td>
            <td>{{ ht.selectinput('priv_'~pr.member_id~'_privilege', ('View', 'Annotate','Manage'), pr.privilege) }}</td>
            <td><input type="checkbox" name="priv_{{ pr.member_id }}_delete" value="Y"></td>
          </tr>
          {% endfor %}
          <tr>
            <td>New privilege :</td>
          </tr>
          <tr>
            <td>{{ ht.selectinputdict('priv_new_member', g.users, '',true) }}</td>
            <td>{{ ht.selectinput('priv_new_privilege', ('View', 'Annotate','Manage'), '') }}</td>
            <td></td>
          </tr>

        </table>

    </td><td>
    </td></tr>

</table>

    <input type="hidden" name="save" value="Y">
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-1">
      <button type="button" onmousedown="SubmitForm();" class="btn btn-primary">Save</button>
    </div>
    <div class="col-sm-2">
      <a href="/prj/{{ data.projid }}" class="btn btn-warning">Cancel, back to project</a>
    </div>
  </div>
</form>


 <script>
$(document).ready(function() {
    $(".taxolb").select2({
        ajax: {
            url: "/search/taxo",
            dataType: 'json',
            delay: 250,
            data: function (params) {  return { q: params.term, page: params.page };  },
            processResults: function (data, page) { return { results: data};  },
            cache: true
        },
        minimumInputLength: 3
    }); // Select2 Ajax
    $("select[name$=member]").{{ js.select2_user() }}; // Select2 Ajax
    $('#TaxoModal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget); // Button that triggered the modal
        var targetid = button.data('mytargetid');
         $("#TaxoModalBody").html("Loading...");
         $("#TaxoModalBody").load("/search/taxotree?target="+targetid);
    });
    // A Dict[str,str] in python loads fine in JS var
    var choice_to_help = {{ possible_licenses | safe }}
    var show_license_help = function(sel) {
        var help = choice_to_help[sel];
        if (help.startsWith("http")) {
            // If a link, show it clickable
            help = "<a target='_new' href='"+help+"'>"+help+"</a>";
        }
        $("#license_explain").html(help);
    };
    // on change handler
    $('#license').change(function(event) {
        show_license_help($(this)[0].value);
    });
    // initial value
    show_license_help('{{ data.license }}');
}); // Ready

$('#inittaxo').on("change", function (e) {
   var selected=[];
   $('#inittaxo :selected').each(function(){
     selected.push($(this).val())
      });
   $("#initclassiflist").val(selected.join())
});

function SubmitForm()
{ {# On passe par cette fonction intermediaire car quand on avait le focus sur un select2 dans certaines
     situations ca ne faisait pas le post #}
    document.getElementById("form1").submit();
}

function PickPresetFromOthersProject() {
  At2PopupWaitOpenLoad(2,'/prj/popupeditpreset/{{ data.projid }}','Pick preset from other projects',{});
}
 </script>


<!-- Modal -->
<div class="modal " id="TaxoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div id="TaxoModalBody">...</div>
      </div>
    </div>
  </div>
</div>


{% endblock %}