{% macro selectinput(name, values, value='') -%}
    <select name="{{ name }}" id="{{ name }}" class="form-control" >
    {% for v in values %}
        <option value="{{ v }}"  {{ 'selected' if value==v }}>{{ v }}</option>
    {% endfor %}
    </select>
{%- endmacro %}
{% macro selectinputdict(name, values, value='',emptyitem=false) -%}
    <select name="{{ name }}" id="{{ name }}" class="form-control" >
    {{  '<option/>'|safe if emptyitem }}
    {% for k,v in values.items() %}
        <option value="{{ k }}"  {{ 'selected' if value==k }}>{{ v }}</option>
    {% endfor %}
    </select>
{%- endmacro %}


{% extends "layout.html" %}

{% block body %}

<a href="/prj/{{ data.projid }}" >Back to project</a>
<form class="form-horizontal" method="post">
    <h3>Edit project # {{ data.projid }}</h3>
  <table class=table width="100%">
    <tr><td width="160px">Project Title </td><td width="300px">
        <input type="text"  class="form-control" id="title" name="title"  value="{{ data.title }}">
    </td></tr>
    <tr><td>Visible</td><td>
           <input type="checkbox"  style="height:20px;" id="visible" name="visible"  value="Y" {{ 'checked' if data.visible else "" }}>
    </td></tr>

<tr><td>Status</td><td>
        {{ selectinput('status', ("Annotate", "ExploreOnly"), value=data.status)  }}
  </td></tr>
<tr><td>Project Type</td><td>
        <input type="text"  class="form-control" id="projtype" name="projtype"  value="{{ data.projtype|default('',true) }}">
      </td></tr>

  <tr><td>Initial Classification list</td><td>
        <input type="text"  class="form-control" id="initclassiflist" name="initclassiflist"  value="{{ data.initclassiflist|default('',true) }}"><br>
      <select name='inittaxo' id='inittaxo' class="taxolb" style="width: 280px;" multiple>
    {% for r in g.predeftaxo %}
      <option value="{{ r[0] }}" selected> {{ r[1] }}</option>
    {% endfor %}
  </select>
    </td><td>
      First line contains IDs separated by coma (1,2,3) and can be easily copied between projects.
      <br><br>Second line is an helper with auto-completion by name, in normal case you should use this area.
  </td></tr>

  <tr><td>Fields available for<br>sorting & Display</td><td>
        <textarea  class="form-control" id="classiffieldlist" name="classiffieldlist"  rows="8">{{ data.classiffieldlist|default('',true) }}</textarea>
    </td><td>
    Format : Field=title (1 per line)<br>Available fields :
    {% for x in  g.maplist %}{{ x }}, {% endfor %}

   </td></tr>
  <tr><td>Fields displayed in popover</td><td>
        <textarea  class="form-control" id="popoverfieldlist" name="popoverfieldlist"  rows="8">{{ data.popoverfieldlist|default('',true) }}</textarea>
    </td><td>
    Format : Field=title (1 per line), same as previous field.

   </td></tr>
  <tr><td>Comments</td><td>
        <textarea  class="form-control" id="comments" name="comments"  rows="4">{{ data.comments|default('',true) }}</textarea>
    </td><td>
    </td></tr>

  <tr><td>Privileges</td><td colspan="2">
        <table class="table table-bordered" style="width:500px;">
          <tr>
            <td >Name</td>
            <td>Privilege</td>
            <td>Delete</td>
          </tr>
      {% for pr in data.projmembers %}
          <tr>
            <td>{{ selectinputdict('priv_'~pr.id~'_member', g.users, pr.member) }}</td>
            <td>{{ selectinput('priv_'~pr.id~'_privilege', ('View', 'Annotate','Manage'), pr.privilege) }}</td>
            <td><input type="checkbox" name="priv_{{ pr.id }}_delete" value="Y"></td>
          </tr>

    {% endfor %}
          <tr>
            <td>New privilege :</td>
          </tr>
          <tr>
            <td>{{ selectinputdict('priv_new_member', g.users, '',true) }}</td>
            <td>{{ selectinput('priv_new_privilege', ('View', 'Annotate','Manage'), '') }}</td>
            <td></td>
          </tr>

        </table>

    </td><td>
    </td></tr>

</table>

    <input type="hidden" name="save" value="Y">
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-1">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <div class="col-sm-2">
      <a href="/prj/{{ data.projid }}" class="btn btn-warning">Cancel, back to project</a>
    </div>
  </div>
</form>


 <script>
$(document).ready(function() {
    $(".taxolb").select2({
        ajax: {
            url: "/search/taxo",
            dataType: 'json',
            delay: 250,
            data: function (params) {  return { q: params.term, page: params.page };  },
            processResults: function (data, page) { return { results: data};  },
            cache: true
        },
        minimumInputLength: 3
    }); // Select2 Ajax
    $(".userlb").select2({
        ajax: {
            url: "/search/users",
            dataType: 'json',
            delay: 250,
            data: function (params) {  return { q: params.term, page: params.page };  },
            processResults: function (data, page) { return { results: data};  },
            cache: true
        },
        minimumInputLength: 2
    }); // Select2 Ajax
    $('#TaxoModal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget); // Button that triggered the modal
        var targetid = button.data('mytargetid');
         $("#TaxoModalBody").html("Loading...");
         $("#TaxoModalBody").load("/search/taxotree?target="+targetid);
    });
    }); // Ready

 $('#inittaxo').on("change", function (e) {
  var selected=[];
   $('#inittaxo :selected').each(function(){
     selected.push($(this).val())
      });
   $("#initclassiflist").val(selected.join())
 });

 </script>


<!-- Modal -->
<div class="modal " id="TaxoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div id="TaxoModalBody">...</div>
      </div>
    </div>
  </div>
</div>


{% endblock %}