
{% extends "layout.html" %}
{% import "js_macros.html" as js %}
{% import "ht_macros.html" as ht %}

{% block body %}
<form class="form-horizontal" method="post" action="?" id="form1">
    <h3>Edit privileges of project # {{ data.projid }} ({{ data.title }}) </h3>
  <table class=table width="100%">


  <tr><td>Privileges</td><td colspan="2">
        <table class="table table-bordered table-verycondensed" style="width:500px;">
          <tr>
            <td>Name</td>
            <td>Privilege</td>
            <td>Delete</td>
          </tr>
      {% for pr in data.projmembers %}
          <tr>
            <td>{{ ht.selectinputdict('priv_'~pr.id~'_member', g.users, pr.member) }}</td>
            <td>{{ ht.selectinput('priv_'~pr.id~'_privilege', ('View', 'Annotate','Manage'), pr.privilege) }}</td>
            <td><input type="checkbox" name="priv_{{ pr.id }}_delete" value="Y"></td>
          </tr>
      {% endfor %}
          <tr>
            <td>New privilege :</td>
          </tr>
          <tr>
            <td>{{ ht.selectinputdict('priv_new_member', g.users, '',true) }}</td>
            <td>{{ ht.selectinput('priv_new_privilege', ('View', 'Annotate','Manage'), '') }}</td>
            <td></td>
          </tr>

        </table>

    </td><td>
    </td></tr>

</table>

    <input type="hidden" name="save" value="Y">
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-1">
      <button type="button" onmousedown="SubmitForm();" class="btn btn-primary">Save</button>
    </div>
    <div class="col-sm-2">
      <a href="/prj/{{ data.projid }}" class="btn btn-warning">Cancel, back to project</a>
    </div>
  </div>
</form>


 <script>
$(document).ready(function() {
    $("select[name$=member]").{{ js.select2_user() }}; // Select2 Ajax
    }); // Ready

function SubmitForm()
{ {# On passe par cette fonction intermediare car quand on avait le focus sur un select2 dans certaines situations ca ne fesait pas le post #}
    document.getElementById("form1").submit();
}
 </script>


{% endblock %}