{{ header|safe }}
<style>
  #mytab td {padding: 5px;}
</style>
<div style="margin: 10px">
<form method=post>
    <table id=mytab >
    <tr><td>Field to update : </td>
    <td>
    <select name=field id=field><option></option>
      {% for f in Lst %}
        <option value='{{ f['id'] }}'>{{ f['text'] }}</option>
      {% endfor %}
    </select>
    </td>
    </tr>
    <tr>
      <td>New value : </td>
      <td><input name="newvalue" class="form-control"></td>
    </tr>
      <tr>
        <td colspan="2" style="text-align: center"><button type=submit class='btn btn-warning'>Apply MASS data modification</button></td>
      </tr>
    </table>

    </form>

<div class="panel panel-default" style="margin: 30px 10px">
  <div class="panel-heading">Notes</div>
  <div class="panel-body">
    Date must be filled with this format YYYY-MM-DD<br>
    Time must be filled with this format HH:MM:SS (HH=0-23)<br>
    Most ID (except orig_id) are internals ID. They can be found in the Object details page<br>
    Classif_id update will cause update of classif_who and classif_when and insert a line in historical.
  </div>
</div>
<form method=post>
  <button name="recompute" value="Y" type=submit class='btn btn-default'>Recompute sample latitude and longitude </button>
  <button name="recompute2" value="Y" type=submit class='btn btn-default'>Recompute sun position (VERY LONG) </button>
</form>
</div>
<script>
    $("#field").select2({
        placeholder: "Select your field"
        });

</script>