<html>

<head>
  <link>
  <meta charset="utf-8">
  <meta name="viewport"
    content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width,viewport-fit=cover">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Vuejs</title>

  <link
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600"
    rel="stylesheet">

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/primevue@^3.8.1/core/core.min.js"></script>

  <link href="https://unpkg.com/primevue@3.8.1/resources/primevue.min.css" rel="stylesheet">

  <!-- Take the old good boostrap theme used in historic EcoTaxa -->
  <link href="https://unpkg.com/primevue@3.8.1/resources/themes/bootstrap4-light-blue/theme.css" rel="stylesheet">
  <!--link href="https://unpkg.com/primevue@3.8.1/resources/themes/nova-accent/theme.css" rel="stylesheet" -->
  <link href="https://unpkg.com/primeicons@4.1.0/primeicons.css" rel="stylesheet">

  <script src="https://unpkg.com/primevue@3.8.1/utils/utils.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/api/api.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/config/config.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/ripple/ripple.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/paginator/paginator.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/inputtext/inputtext.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/button/button.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/inputnumber/inputnumber.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/selectbutton/selectbutton.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/overlayeventbus/overlayeventbus.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/dropdown/dropdown.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/progressbar/progressbar.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/message/message.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/tooltip/tooltip.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/fieldset/fieldset.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/progressbar/progressbar.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/badge/badge.min.js"></script>

  <script src="https://unpkg.com/primevue@3.8.1/datatable/datatable.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/column/column.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.1/columngroup/columngroup.min.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.0/primeflex.css">
  <link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.0/themes/saga-blue.css" -->
  <link rel="stylesheet" href="https://unpkg.com/primeicons@4.1.0/primeicons.css">

  <script src="https://unpkg.com/primevue@3.8.1/fileupload/fileupload.js"></script>
  <!--script src="https://unpkg.com/vue-upload-component@3.0.47"></script-->
  <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>

</head>

<body>
  <div id="app" class="container-fluid">
    <p-datatable :value="{{PrjList}}"
      :multi-sort-meta="multiSortMeta"
      class="p-datatable p-component p-datatable-responsive-stack p-datatable-gridlines card p-datatable-sm"
      sort-mode="multiple" :paginator="true" :rows="15" paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink
      RowsPerPageDropdown" :rows-per-page-options="[15,30,50]" data-key="projid" filter-display="menu"
      v-model:filters="filters" :globalFilterFields="[
      'title',
      'instrument',
      'status',
      'objcount',
      'nb_taxa',      
      'pctvalidated',
      'pctclassified',
      'license',
      'cnn_network_id',
      'comments',
      'user_Status'
      ]">
      <template #header>
        <div class="flex justify-content-between">
          <p-button label="Clear" class="p-button p-component p-button-outlined" @click="clearFilters()">
            Clear filters
          </p-button>
          <span class="p-input-icon-left"><i class="pi pi-search"></i>
            <p-inputtext v-model="filters['global'].value" placeholder="Search everywhere" />
          </span>
        </div>
      </template>
      <template #loading> Loading records. Please wait. </template>
      <p-column field="instrument" header="Instrument" :sortable="true">
        <template #filter="{ filterModel }">
          <p-inputtext type="text" v-model="filterModel.value" class="p-column-filter"
            placeholder="Search by instrument" />
        </template>
      </p-column>
      <p-column field="title" header="Title" :sortable="true">
        <template #filter="{ filterModel }">
          <p-inputtext type="text" v-model="filterModel.value" class="p-column-filter" placeholder="Search by title" />
        </template>
      </p-column>
      <p-column field="projid" header="Proj. ID" :sortable="true">
        <template #body="{ data }">
          <a :href="projLink(data.projid)">${ data.projid }</a>
        </template>
      </p-column>
      <p-column field="user_Status" header="Your status" :sortable="true">
        <template #filter="{ filterModel }">
          <p-inputtext type="text" v-model="filterModel.value" class="p-column-filter"
            placeholder="Search by user status" />
        </template>
      </p-column>
      <p-column field="status" header="Proj. status" :sortable="true">
        <template #filter="{ filterModel }">
          <p-inputtext type="text" v-model="filterModel.value" class="p-column-filter"
            placeholder="Search by proj. status" />
        </template>
      </p-column>
      <p-column field="objcount" header="Nb. objects" :sortable="true" data-type="numeric">
        <template #filter="{ filterModel }">
          <p-inputnumber type="numeric" v-model="filterModel.value" class="p-column-filter"
            placeholder="Search by Nb. objects" />
        </template>
      </p-column>
      <p-column field="nb_taxa" header="Nb. taxa" :sortable="true" data-type="numeric">
        <template #filter="{ filterModel }">
          <p-inputnumber type="numeric" v-model="filterModel.value" class="p-column-filter"
            placeholder="Search by Nb. taxa" />
        </template>
      </p-column>
      <p-column field="pctvalidated" header="% validated" :sortable="true" data-type="numeric">
        <template #filter="{ filterModel }">
          <p-inputnumber type="numeric" v-model="filterModel.value" class="p-column-filter"
            placeholder="Search by % validated" />
        </template>
      </p-column>
      <p-column field="pctclassified" header="% classified" :sortable="true" data-type="numeric">
        <template #filter="{ filterModel }">
          <p-inputnumber type="numeric" v-model="filterModel.value" class="p-column-filter"
            placeholder="Search by % classified" />
        </template>
      </p-column>
      <p-column field="license" header="License" :sortable="true">
        <template #filter="{ filterModel }">
          <p-inputtext type="text" v-model="filterModel.value" class="p-column-filter"
            placeholder="Search by license" />
        </template>
      </p-column>
      <p-column field="cnn_network_id" header="CNN Network" :sortable="true">
        <template #filter="{ filterModel }">
          <p-inputtext type="text" v-model="filterModel.value" class="p-column-filter"
            placeholder="Search by CNN Network" />
        </template>
      </p-column>
      <p-column field="comments" header="Comment">
        <template #filter="{ filterModel }">
          <p-inputtext type="text" v-model="filterModel.value" class="p-column-filter"
            placeholder="Search by comment" />
        </template>
      </p-column>
      <p-column field="contact.name" header="Contact" :sortable="true">
        <template #body="{ data }">
          <span v-if="data.contact !== null && data.contact !== undefined">
            <a :href="buildMail(data.contact.email)">${ data.contact.name }</a>
          </span>
        </template>
      </p-column>
    </p-dataTable>
    <div class="col-sm-6 col-sm-offset-3">
      <br>          
      {% if Others %}
      <a href="/prj/" class="btn  btn-block btn-primary">Back to projects list</a>
      {% else %}
      <a href="/prjothers/" class="btn  btn-block btn-primary">Show projects in which you are not registered</a>
      {% endif %}
      <br>      
    </div>
  </div>

  <script lang='ts'>

    function computeUrlLink(sublink = "", projectID = "") {
      // !! N.B. TAKEN from ecotaxa/ecotaxa_front/proto/ecotaxa-cli/src/utils/utilsProjectAbout.ts
      //return "https://ecotaxa.obs-vlfr.fr" + sublink + projectID; // Keep this line for debugging
      // We assume sublink starts and ends with a /
      // Used elsewhere so put in a separate file and function
      const findDoubleSlash = window.location.pathname.indexOf("//");
      let findSlash = 0;
      if (findDoubleSlash == -1) {
        // not found
        findSlash = window.location.pathname.indexOf("/");
      } else {
        findSlash = window.location.pathname.indexOf("/", findDoubleSlash + 2);
      }
      let mySub = "";
      if (findSlash != -1)
        mySub = window.location.pathname.substring(0, findSlash);
      else mySub = window.location.pathname;
      mySub += sublink + projectID; // e.g. sublink === "/prj"
      return mySub;
      // With sublink==="/prj/" and projectID==="185"  
      // it will return :
      // "localhost:8080/prj/185" if we are on localhost, 
      // or
      // "https://ecotaxa.obs-vlfr.fr/prj/185 if we are on the production
      // N.B. see module.exports.proxy.target in vue.config.js
    }

    // Read 
    // https://stackoverflow.com/questions/24719592/sending-data-as-json-object-from-python-to-javascript-with-jinja
    // https://stackoverflow.com/questions/64414997/how-to-decode-jsonpickle-data-in-angular-typescript-file    
    const { createApp, ref } = Vue;
    const PrimeVue = primevue.config.default;

    const FilterMatchMode = primevue.api.FilterMatchMode; // needed to filter
    const FilterOperator = primevue.api.FilterOperator; // needed to filter

    // import { FilterMatchMode, FilterOperator } from "primevue/api";

    const App = {
      delimiters: ['${', '}'],
      setup() {
        return {
          filters: ref({}),
          multiSortMeta: [
            {field: 'instrument', order: 1},
        ]  

        };
      },
      components: {
        'p-datatable': primevue.datatable,
        'p-column': primevue.column,
        'p-columngroup': primevue.columngroup,
        'p-columnfilter': primevue.columnfilter,
        'p-inputtext': primevue.inputtext,
        'p-inputnumber': primevue.inputnumber,
        'p-selectbutton': primevue.selectbutton,
        'p-button': primevue.button,
        'p-dropdown': primevue.dropdown,
        'p-fieldset': primevue.fieldset,
        'p-progressbar': primevue.progressbar,
        'p-badge': primevue.badge,
        //'p-virtualscroller': primevue.virtualscroller
      },

      created() {
        this.initFilters();
      },
      mounted() {
        //console.log(App);
      },
      methods: {

        buildMail(email) {
          return "mailto:" + email;
        },

        projLink(projid) {
          return computeUrlLink("/prj/", projid.toString());
        },

        clearFilters() {
          this.initFilters();
        },
        initFilters() {
          const filterDef = {
            operator: FilterOperator.AND,
            constraints: [{ value: null, matchMode: FilterMatchMode.STARTS_WITH }],
          };

          this.filters = {
            global: { value: null, matchMode: FilterMatchMode.CONTAINS },
            instrument: filterDef,
            title: filterDef,
            status: filterDef,
            objcount: filterDef,
            nb_taxa: filterDef,
            pctvalidated: filterDef,
            pctclassified: filterDef,
            license: filterDef,
            cnn_network_id: filterDef,
            comments: filterDef,
            email: filterDef,
            user_Status: filterDef
          };
        },
      }
    };

    const app = createApp(App);
    app.use(PrimeVue);
    app.directive('ripple', primevue.ripple);
    app.directive('tooltip', primevue.tooltip);
    app.mount("#app");

  </script>
</body>




</html>