{% macro selectinput(name, values, value='') -%}
    <select name="{{ name }}" id="{{ name }}">
    {% for v in values %}
        <option value="{{ v }}"  {{ 'selected' if value==v }}>{{ v }}</option>
    {% endfor %}
    </select>
{%- endmacro %}
{% macro checkboxinput(name, checkedvalue, value='',extra='') -%}
    <input type="checkbox" name="{{ name }}" id="{{ name }}" value="{{ checkedvalue }}"  {{ 'checked' if value==checkedvalue }} {{ extra|safe }}>
{%- endmacro %}

{% extends "layout.html" %}
{% block headcenter %}
{% if g.headmenu %}
    <table width="100%"><tr><td width="160px">
    <br><div class="btn-group" style="margin-right: 10px">
    <button type="button" class="btn btn-default">Project Action</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      {%   for m in g.headmenu %}
          {% if m[1]=="SEP"%}
            <li class="divider"></li>
          {% else %}
            <li><a href="{{ m[0] }}">{{ m[1] }}</a></li>
          {% endif %}
      {%  endfor %}
  </ul>
</div>
     <span id="taxoclearspan">{{ g.taxoclearspan|safe }}</span>
    </td><td><span style="font-size: 18px;">{{ g.ProjectTitle }}</span><br>
    <span id="headersubtitle" style="color:#FF6600;"> </span><br>

    </td></tr></table>
{% endif %} {# If headmenu #}

{% endblock %}

{% block body %}<div id="topbar" >
<input type="hidden" id="projid" value="{{ g.Projid }}">
<input type="hidden" id="taxofilter" value=""  autocomplete="off">
<input type="hidden" id="taxofilterlabel" value=""  autocomplete="off">
<input type="hidden" id="pageoffset" value="0"  autocomplete="off">
<table><tr><td>
    Sort by :<select name="sortby" id="sortby">
{% for key, value in data.sortlist.items() %}
    <option value="{{ key|e }}" {{ 'selected' if key==data.sortby }}> {{ value|e }}</option>
{% endfor %}
</select>

<button type="button" class="btn btn-xs " onclick="SortToggle();" title="Current Sort : Ascending">
        <span id="sortorder" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></button>


 Display :
<div class="btn-group">
  <button type="button" class="btn btn-sm">Displayed field</button>
  <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul id="dispfieldlist" class="dropdown-menu">
{% for key, value in data.fieldlist.items() %}
    <li id="dispfield_{{ key }}"  > <a href="javascript:ToggleDispField('dispfield_{{ key }}');">
        <span class="glyphicon {{ 'glyphicon-ok' if key in data.dispfield }}"></span>
        {{ value|e }}</a></li>
{% endfor %}
  </ul>
</div>
    <span id="statuslabelspan"
data-content="<b>All</b> : display all images <br>
<b>Unclassified</b> : display 'Unclassified' images (unpredicted & unvalidated)<br>
<b>Predicted</b> : display 'predicted' images (from automatic identification tool)<br>
<b>Not Validated</b> : display 'Unclassified', 'Predicted' and 'Dubious' images <br>
<b>Validated</b> : display images whose identification has been checked by any users <br>
<b>Validated by others</b> : display 'validated' images whose identification has only been checked by other users <br>
<b>Validated by me</b> :  display 'validated' images whose identification has only been checked by me<br>
<b>Dubious</b> : display 'Dubious' images
">Status :
    </span><select name="statusfilter" id="statusfilter">
{% for key, value in data.statuslist.items() %}
    <option value="{{ key|e }}" {{ 'selected' if key==data.statusfilter }}> {{ value|e }}</option>
{% endfor %}
</select>



    Img /page : {{ selectinput("ipp",['50','100','200','500','1000'],data.ipp) }}
    Zoom : {{ selectinput("zoom",['10','20','30','40','50','60','70','80','90','100'],data.zoom) }}
</td><td style="font-size: 12px; padding:0px 2px 4px 5px;">Magnifier:<br>Det. popup:</td>
<td style="font-size: 12px">
    {{ checkboxinput("magenabled","1",data.magenabled,"style='margin:0px;'") }}
<br>{{ checkboxinput("popupenabled","1",data.popupenabled,"style='margin:0px;'") }}
</td><td>&nbsp;
    <button type="button" class="btn btn-sm btn-primary" onclick="LoadRightPane();">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update View</button>
{{ top|safe }}
</td></tr></table>
    </div>
{% include "common/taxopopup.html" %}

	<div id="bodycontainer">
		<div id="column-left"  class="panel panel-default" style="position: fixed;	top: 125px;	left: 2px;	bottom: 0px;	width: 260px;
	                overflow-y: auto; overflow-x: hidden;  margin-bottom: 0px; " >
            <div class="bodyleft" style="margin-left: 2px; width: 251px;">
                <script>
                $('#myTabs a').click(function (e) {
                  e.preventDefault()
                  $(this).tab('show')
                });
                $('#myTabs a:first').tab('show'); // Select first tab
                $('#myTabs a:last').tab('show'); // Select last tab
                </script>
                <div id="myTabs">  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#TabA" aria-controls="home" role="tab" data-toggle="tab">Annotate</a></li>
                    <li><a href="javascript:RefreshClassifTab();"><span class="glyphicon glyphicon-refresh"></span></a></li>
                    <li role="presentation"><a href="#TabB" aria-controls="profile" role="tab" data-toggle="tab">Filter</a></li>
                  </ul>
                  <div class="tab-content"> <!-- Tab panes -->
                    <div role="tabpanel" class="tab-pane active" id="TabA">{{ lefta|safe }}</div>
                    <div role="tabpanel" class="tab-pane" id="TabB">
                        <a href='javascript:ClearAllFilterCriteria();'>Clear all filter &amp; update view/refresh</a><br>
                        {{ leftb|safe }}
                        <br>
                        <p align="center" style="border-top: 1px solid #ddd;padding-top: 4px;">
                        <button type="button" class="btn btn-sm btn-primary" onclick="LoadRightPane();">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Apply Filter / Update View</button>
                        </p>

                    </div>
                  </div>
                </div>
            </div>
		</div>
{#          <div id="column-right" style="position: absolute;top: 150px;left: 270px;bottom: 0px;right: 1px;overflow: auto;"> #}
<style>
.lazy {margin: 10px 5px 0px 5px; cursor: -webkit-grab; cursor:grab;}
.ddet {text-align:left;  font-size: 10px; margin-top: -3px;margin-bottom: -1px;  text-decoration: underline; color:#00c;}
.ddets {cursor:pointer;}
.taxo {cursor: -webkit-grab; cursor:grab;}
#dispfieldlist li a {    padding-top:0px;}
.ui-selected { background: #FFFF00; color: white; }
.ra3 {float:right; margin-right: 3px;}
table.classiftab td {padding: 2px 3px 0px 3px ;  border-width:1px;border-style:solid;border-color:#c5c5c5;font-size: 12px;}
table.imgtab {margin-bottom: 5px;}
table.imgtab td {vertical-align:bottom;text-align: center;
   border-width:1px;   border-style:solid; border-color:#c5c5c5;  }
#column-right {margin-left: 270px;}
#divheadinfo {position:fixed;top:0px;left: 1px;width:100%; height:80px;z-index:12; background-color: #fff;}
#topbar {position:fixed;top:80px;left: 1px;width:100%; height:40px;z-index:10; background-color: #fff;}
body {margin-top: 125px;}
{#Permet de fixer la largeur de la dropdown Taxo Annotation#}
.width240{ width: 240px !important; }
{#Permet de reduire la taille et l'espace du texte du dropdown Taxo Annotation#}
#select2-taxolbanno-results li {font-size: 12px; padding: 3px;}
.popover {max-width: 500px;}
</style>
<script>
var PendingChanges={};
var PendingChangesTaxoName={};
var PrevTxtFilter=""
function LoadRightPane(){
    //req={in:["17157378", "12735967", "17062333", "17137151"]};
    if(Object.keys(PendingChanges).length>0)
      if(confirm("Some changes are pending, if you refresh they'll be lost !\nWould you like to continue ?")==false)
        return;
    var TxtFilter=""
    req={taxo:$("#taxofilter").val(),resultwidth:$("#column-right").width(),windowheight:$(window).height()};
    if($("#taxofilterlabel").val()!="")
        TxtFilter+=" Taxo="+$("#taxofilterlabel").val();
    $(".ui-state-highlight").removeClass("ui-state-highlight");
    $(".activeTaxo").removeClass("activeTaxo");
    if($("#taxofilter").val()!="")
        $("#TabA [taxoid="+$("#taxofilter").val()+"]").addClass("activeTaxo");
    req['ipp']=$("#ipp").val();
    req['zoom']=$("#zoom").val();
    req['sortby']=$("#sortby").val();
    req['magenabled']=$("#magenabled").prop("checked")?"1":"0";
    req['popupenabled']=$("#popupenabled").prop("checked")?"1":"0";
    req['statusfilter']=$("#statusfilter").val();
    if($("#statusfilter").val()!="")
        TxtFilter+=" Status="+$("#statusfilter option:selected").text()
    req['MapN']=$("#filt_MapOutN").val();
    req['MapW']=$("#filt_MapOutW").val();
    req['MapE']=$("#filt_MapOutE").val();
    req['MapS']=$("#filt_MapOutS").val();
    if((req['MapN']!="")&&(req['MapW']!="")&&(req['MapE']!="")&&(req['MapS']!=""))
        TxtFilter+=" Position=("+req['MapN']+","+req['MapW']+","+req['MapE']+","+req['MapS']+")"

    req['depthmin']=$("#filt_depthmin").val();
    req['depthmax']=$("#filt_depthmax").val();
    if((req['depthmin']!="")&&(req['depthmax']!=""))
        TxtFilter+=" Depth in("+req['depthmin']+"-"+req['depthmax']+")";
    if($('#sampleid').val()!=null)
      req['samples']=String($('#sampleid').val())
    else req['samples']="";
    if(req['samples']!="")
        TxtFilter+=" Samples="+$.map( $('#sampleid  option:selected'), function (element) { return $(element).text() }).join(', ');
    req['fromdate']=$("#filt_fromdate").val();
    if(req['fromdate']!="")
        TxtFilter+=" Date >= "+req['fromdate'];
    req['todate']=$("#filt_todate").val();
    if(req['todate']!="")
        TxtFilter+=" Date <= "+req['todate'];

    req['fromtime']=$("#filt_fromtime").val();
    if(req['fromtime']!="")
        TxtFilter+=" Time >= "+req['fromtime'];
    req['totime']=$("#filt_totime").val();
    if(req['totime']!="")
        TxtFilter+=" Time <= "+req['totime'];
    req['inverttime']=$("#filt_inverttime").prop("checked")?"1":"0";
    if(req['inverttime']=="1")
        TxtFilter+=" Time Invert ";


    req['sortorder']=$('#sortorder').hasClass("glyphicon-sort-by-attributes-alt")?"desc":'asc';
    req['dispfield']="";
    $("#dispfieldlist .glyphicon-ok").closest("li").each(function () {
        req['dispfield'] += " " + $(this).prop("id");
    });
    req['projid']=$("#projid").val();
    $(".zoomtracker,.zoomstatus,.magnifyarea,.cursorshade").remove();
    PendingChanges={}; {# After load there's no pending changes #}
    PendingChangesTaxoName={};
    if(TxtFilter!="")
        TxtFilter="Filter: "+TxtFilter
    if(TxtFilter!=PrevTxtFilter) { {# Si une condition change on revient page 1 #}
        $("#pageoffset").val(0);
        PrevTxtFilter=TxtFilter;
    }
    req['pageoffset']=$("#pageoffset").val();
    $("#column-right").load("/prj/LoadRightPane",req);
    $('#headersubtitle').html(TxtFilter);
}

function RefreshClassifTab()
{
    req={taxo:$("#taxofilter").val(),taxofilterlabel:$("#taxofilterlabel").val()};
    $("#TabA").load("/prjGetClassifTab/"+$("#projid").val(),req);
}

    function SortToggle() {
        if($('#sortorder').hasClass("glyphicon-sort-by-attributes"))
             $('#sortorder').removeClass("glyphicon-sort-by-attributes").addClass("glyphicon-sort-by-attributes-alt").closest('button').prop("title","Current Sort : Descending");
        else $('#sortorder').removeClass("glyphicon-sort-by-attributes-alt").addClass("glyphicon-sort-by-attributes").closest('button').prop("title","Current Sort : Ascending");
    }

function ToggleDispField(caller){
    $('#'+caller).find('span').toggleClass("glyphicon-ok");
    //return false;
}
function gotopage(nopage)
{
    $("#pageoffset").val(nopage);
    LoadRightPane();
}

$(document).ready(function() {
    if ("{{data.sortorder}}"=="desc")
        SortToggle();
    $('#statuslabelspan').popover({html:true,trigger:'hover',placement:"left",container: 'body'});
    $('#statusfilter').data('content',$('#statuslabelspan').data('content'))
    $('#statusfilter').popover({html:true,trigger:'hover',placement:"left",container: 'body'});
    $("#taxofilter").val("");
{#Si on choisi un champ pour le tri, ca l'ajoute automatiquement dans les displayed fields#}
    $('#sortby').change(function(){
        $("#dispfield_"+$(this).val()+"  .glyphicon").addClass('glyphicon-ok');
    });

    {#  Plus stylé sous FFX mais plus de ressource et la dropdown est moins compacte
    $('#sortby').select2({minimumResultsForSearch: Infinity,dropdownAutoWidth : true});
    $('#ipp').select2({minimumResultsForSearch: Infinity,dropdownAutoWidth : true});
    $('#zoom').select2({minimumResultsForSearch: Infinity,dropdownAutoWidth : true});
     #}
});

function PostAddImages(){
        $(document).scrollTop(0);
        // Required to  have Select2 component working on Bootstrap Popup
        $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        // Add Zoom
        jQuery('div#column-right img.lazy').Lazy({bind: 'event',afterLoad: function(element) {
            if($('#magenabled').prop("checked")==false)
                return; // Si il y a une checkbox magenabled et qu'elle est decochée on ne met pas le zoom
            AddZoom(element);}});
        // Make sub image draggable
        jQuery('.imgtab td').draggable({revert:true,revertDuration:0,cursor: "move",
      	    cursorAt: { top: 0, left: 0 },
			helper: function( ev ) {return $( "<img src='/static/drag_cursor.png'>" );}   });
{#        jQuery('.imgtab td img').draggable({revert:true,revertDuration:0});#}
        // Make the cell clickable for selection
        jQuery('.imgtab td').click(function(e){
            if($(e.target).hasClass('linestart'))
                if (e.shiftKey) { // Unselect line
                    $(e.target).closest('tr').find('td').removeClass('ui-selected');
                    if (window.getSelection) {
                      if (window.getSelection().empty) {  // Chrome
                        window.getSelection().empty();
                      } else if (window.getSelection().removeAllRanges) {  // Firefox
                        window.getSelection().removeAllRanges();
                      }
                    } else if (document.selection) {  // IE?
                      document.selection.empty();
                    }
                  return;
                }
            if ((!e.ctrlKey)&&(!e.metaKey))
                $('.ui-selected').removeClass('ui-selected');
            if($(e.target).hasClass('linestart')) // select line (except this first column)
                $(e.target).closest('tr').find('td').addClass('ui-selected');
            $(e.target).closest('td').toggleClass('ui-selected');
            });
        // Make ZoomTracker Clickable for selection
        jQuery('body').delegate('.zoomtracker','click',function(e){
            if ((!e.ctrlKey)&&(!e.metaKey))
                $('.ui-selected').toggleClass('ui-selected');
            $($(e.target).data("specs").origImg.parents("td")[0]).toggleClass('ui-selected')
            });
        // setup zoomtracker creation tracking to make them draggable
        var target = $( "body" )[0];
        var observer = new MutationObserver(function( mutations ) {
          mutations.forEach(function( mutation ) {
            var newNodes = mutation.addedNodes; // DOM NodeList
            if( newNodes !== null ) { // If there are new nodes added
                var $nodes = $( newNodes ); // jQuery set
                $nodes.each(function() {
                    var $node = $( this );
                    if( $node.hasClass( "zoomtracker" ) ) {
                        //console.log("zoomtracker");
                        jQuery($node).draggable({revert:true,revertDuration:0,cursor: "move",
                            cursorAt: { top: 0, left: 0 },
                            helper: function( ev ) {return $( "<img src='/static/drag_cursor.png'>" );}});
                    }
                });
            }
          });
        });
        var config = {attributes: true,childList: true,characterData: true};
        observer.observe(target, config);
        // Enable the popover
        var option={'trigger':'hover','html':true};
        $('div.subimg').popover(option);
        $('.ddets').click(function(e){
            e.stopPropagation();
//            var url="/objectdetails/"+$(e.target).closest('td').find('img').prop('id').substr(1);
//            var win = window.open(url, '_blank');
            var url="/objectdetails/"+$(e.target).closest('td').find('img').prop('id').substr(1)+"?w="+($(window).width()-400)+"&h="+($(window).height()-40)+"&ajax=1";
            var options={}
            $("#PopupDetails .modal-content").html("Loading...");

            $('#PopupDetails .modal-lg').css('width',$(window).width()-40);
            $('#PopupDetails').modal(options);
            $("#PopupDetails .modal-content").load(url);
            });
$('#PopupDetails').on('hidden.bs.modal', function (e) {
    $("#PopupDetails .modal-content").html("CLEAN");
    $(".zoomContainer").remove();
})

jQuery('#SpanSelectAll').click(function(e){
            if (!e.shiftKey)
                jQuery('.imgtab td:not(.linestart)').addClass('ui-selected');
            else
                jQuery('.imgtab td:not(.linestart)').removeClass('ui-selected');
                });
}  //PostAddImages

function ClearAllFilterCriteria(){
    ClearCoord();
    ClearDates();
    ClearTimes();
    ClearSamples();
    ClearDepths();
    LoadRightPane();
}

</script>


        <div id="column-right" >
            RIGHT
            {% if right=='dodefault' %}
                <script>
                $(document).ready(function() {
                        LoadRightPane();
                       }); // Ready
                 </script>
                Loading ....
            {% else %}
                {{ right|safe }}
            {% endif %}
		</div>
    </div> {# Container #}



<div id="PopupDetails" class="modal " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

{% endblock %}