<section class="flex mt-12 ">
  <div class="mx-auto alert big-icon info inverse py-12 w-96 min-h-96 max-h-full before:content-[''] text-center">
    <h2 class="font-extrabold text-xl scale-[3] mt-2 text-stone-900 mb-6">{{ title if title else _('Error')}}</h2><h3 class="font-extrabold text-stone-800">{{'Error ' + error|string if error else '' }} </h3>
  <p class="text-stone-800 p-4">
{{ message_translation(message, _('error'), is_safe)  }}
</p>
{% if link!=""%}
<a href="{{ link }}">{{ linktext if linktext !="" else link }}</a>
{%endif%}
</div>
{% block error_details %}
<pre>{{ trace|safe }}</pre>
    {% endblock %}
</section>
{%- if not current_user or not current_user.is_authenticated and error|string in ['401','403'] -%}
<script type="text/javascript">setTimeout(function() {window.location.href="{{url_for("gui_login")}}";},10000);</script>
<div class="mx-auto w-auto text-center"><a href="{{url_for("gui_login")}}" class="button">Log in</a></div>
{%-endif%}
