<nav id="nav-footer" class="flex flex-row w-full items-center"><ul class="inline-flex w-auto mx-auto ">
<li id="list-languages" >
  {%- set lgpref = def_language()-%}
  {%- set lgs ={"fr":"FR","en":"EN","zh":_('CN')} -%}
      <a href="#">{{lgs[lgpref] if lgpref in lgs else lgpref}}</a>
  <ul class="sub-menu up py-1  text-sm" aria-labelledby="languages">
    {%- for k,lg in lgs.items() -%}
    <li>
      <a href="#" class="px-4 py-2 inline font-light" {{ ' selected ' if lgpref == k else '' }}>{{lg}}</a>
    </li>
  {%-endfor%}
  </ul>
</li><li><a href="/gui/about">{{ _('About') }}</a></li><li><a href="/gui/privacy">{{_('Privacy')}}</a></li></ul></nav>
