<nav id="nav-footer" class="flex flex-row w-full items-center"><ul class="w-1/3 flex inline-flex mx-auto "><li><a id="languages" class="dropdown">EN</a>
<!-- Dropdown menu -->
<div id="list-languages" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow">
    <ul class="dropdown-menu py-1   text-white text-sm" aria-labelledby="languages">
      <li>
        <a href="#" class=" dropdown-item px-4 py-2 font-light ">FR</a>
      </li>
      <li>
        <a href="#" class=" dropdown-item px-4 py-2 font-light ">EN</a>
      </li>
      <li>
        <a href="#" class="dropdown-item px-4 py-2 font-light ">CN</a>
      </li>
    </ul>
</div></li>
<li><a href="/gui/about">{{ _('About') }}</a></li><li><a href="/gui/privacy">{{_('Privacy')}}</a></li></ul></nav>
