<head>
  <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes">
   <base href="/" >
  {% set ecotaxa_version = GetEcotaxaVersionText().replace(' ','') if GetEcotaxaVersionText is defined else ''%}
<link rel=stylesheet type=text/css href="{{url_for('static',filename='gui/src/css/main.css')}}">
<script defer src="{{url_for('static',filename='gui/src/main.js')}}">
 <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/gui/images/apple-touch-icon.png') }}">
<link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/gui/images/favicon-32x32.png')}}">
<link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/gui/images/favicon-16x16.png')}}">
<link rel="manifest" href="{{ url_for('static', filename='gui/images/site.webmanifest')}}">
<title>{{title}}</title>
{% include "v2/partials/_google_analytics.html" with context %}
</head>
