{% from "./v2/macros/macros.html" import modal, alertbox with context %}
  <div class="container mx-auto" >
    {{ alertbox(type='warning', message="jobmonitor", inverse=True, dismissible = True, codeid= False)}}
    {% set data = {'file':'_help_job_monitor'} %}
    {{ modal(id='help-monitor-job',modal_title= _("Job monitor."), type='modal-help',position='modal-aside modal-right ',summary_pos={'float':'right','clear':'right'},data = data) }}

  <div class="w-auto" data-request="monitor" data-what="job" data-id="{{job.id}}"><div id="spinner-icon" class="hidden mx-auto my-8"><img src="{{ url_for('static', filename='AjaxLoading.gif') }}"></div>
  <div id="statusdiv"></div>
  <div id="progressbar" class="hidden h-8 w-96"></div>
</div>
</div>
