{%-macro has_to_mod_profile(current_user)-%}
{%- if current_user and (current_user.mail_status== False or current_user.status_admin_comment !=None) -%}
{%- from "./v2/users/_profile_macro.html" import profile_comment -%}
{{profile_comment(current_user.status_admin_comment,current_user.mail_status)}}
{%-endif-%}
{%-endmacro-%}
<nav class="flex z-100  md:flex-row  max-w-80 {{ 'order-2 md:order-4 mr-0 ml-auto md:ml-1 ' if target_proj else 'order-4 justify-end'}} mr-0 ">
{% if not  current_user.is_authenticated %} <div id="user-nav-item" class="mt-1 md:mt-2"><a class="text-sm p-1 font-normal text-secondblue-100" href="{{url_for("gui_login")}}#home-login">{{_('Log in')}}</a><span class="text-stone-50 text-sm">/</span><a class="text-sm p-1 font-normal text-secondblue-100" href="{{url_for("gui_register")}}">{{_('Register')}}</a></div>
{% else %}
<div class=" h-8 flex flex-row flex-nowrap mr-0.5 md:mr-1 js js-notifications mt-0.5 lg:mt-1"></div><div id="ident-user-item" class="w-6  h-8 sm:w-auto mr-0.5"><a href="{{url_for("gui_me_profile")}}"><i class="icon-lg icon-user-sm align-middle mx-.5 invert cursor-pointer md:cursor-default" title="{{ current_user.name }}"></i><span class="text-xs text-secondblue-50 w-0 lg:w-auto lg:max-w-20 truncate text-ellipsis hidden lg:visible lg:inline">{{current_user.name}}</span></a>
    <!-- user profile and sign-out -->
<ul id="user-menu" class="u-menu">{%-if current_user.last_used_projects|length >0 -%}
<li class="separ"><i class="icon icon-folder p-1 opacity-80" title="{{_('last used projects')}}"></i> <span class="text-stone-700" >{{_('Last Used Projects')}}</span><ul class="text-xs mt-2 ml-6">
{%- for prj in current_user.last_used_projects -%}<li><a href="{{url_for("gui_prj_classify", projid=prj.projid)}}" class="text-ellipsis max-w-full text-stone-800 hover:text-mainblue-700"><strong>[{{prj.projid}}]</strong> {{prj.title}}</a>{%endfor%}</ul>
</li>
{%-endif-%}<li><a href="{{url_for("gui_list_jobs")}}"><i class="icon icon-cpu  p-.5 opacity-80"></i> {{_('Tasks')}}</a></li>
<li><a href="{{url_for("gui_me_profile")}}"><i class="icon icon-user p-.5 opacity-80" title="{{_('profile')}}"></i> {{ _('Profile') }}</a>{{has_to_mod_profile(current_user)}}{{ current_user.name }}</li>
<!--<li><a href="{{url_for("gui_me_files")}}"><i class="icon icon-document-text" class="p-1 opacity-80" title="{{_('My Files')}}"></i> {{ _('Files') }}</a></li>-->
<li class="separ"><a href="{{ url_for("gui_logout")}}"><i class="icon icon-arrow-right-on-rectangle-sm opacity-80" title="{{_('logout')}}"></i> {{ _('Logout') }}</a></li></ul></div>
<div id="tool-item" class=" h-full order-4 ml-.5 sm:ml-1.5 w-6"><a href="{{url_for("gui_admin")}}" target="winadmin"><i class="icon-lg icon-admin align-middle invert cursor-pointer"></i></a>
<ul class="u-menu" >
{%- if current_user.is_admin -%}
<li>
<a href="{{url_for("gui_admin")}}" target="winadmin">{{_('Admin')}}</a></li>
{%-endif-%}<li><a href="/taxo/browse"> {{_('Browse Taxonomy')}} </a></li><li><a href="/explore"> {{_('Explore')}} </a></li><li><a href="{{ecopart_url()}}"> {{_('Go to Ecopart')}} </a></li></ul></div>{%endif%}
</nav>
