<nav class="flex md:flex-row  ml-auto">
{% if not  current_user.is_authenticated %}<div id="user-nav-item">
    <a class="text-sm px-3 py-1 font-normal text-stone-50" href="/gui/login"><i class="icon icon-circle-user align-top mx-1"></i><span>{{_('Log in')}}</a></div>
    {% else %}
    <div id="aside-nav-item">
      <a href="/notifications/"><span class="hidden md:show block mb-1">
          Notifications </span></a>
        <div class="flex flex-row flex-nowrap align-text-bottom mt-0.5 mr-1 js js-notifications">
        </div>
      </div><div id="user-nav-item"><div class="ident "><i class="icon icon-user-sm align-text-bottom mx-1 invert" title="{{ current_user.name }}"></i><span class="text-xs text-secondblue-50 w-[0px] max-w-[0px] lg:w-auto lg:max-w-[75px] lg:ellipsis" >{{ current_user.name }}</span></div>
    <!-- user profile and sign-out -->
    <ul id="user-menu" role="menu" aria-orientation="vertical" aria-labelledby="user-nav-item" aria-expanded=false tabindex="-1" >
<li><a href="/gui/me/profile"  tabindex="-1" role="menuitem"><i class="icon icon-user" class="p-1 opacity-80" title="{{_('profile')}}"></i> {{ _('Profile') }}</a></li>
<!--  <li><a href="/gui/me/files/" tabindex="-1" role="menuitem"><i class="icon icon-document-text" class="p-1 opacity-80" title="{{_('My Files')}}"></i> {{ _('Files') }}</a></li>-->
<li class="separ"><a href="/logout" tabindex="-1"  role="menuitem"><i class="icon icon-arrow-right-on-rectangle-sm" class="opacity-80" title="{{_('logout')}}"></i> {{ _('Logout') }}</a></li></ul></div>
{% if 3 in current_user.can_do %}
<a class="lg:pl-1 pr-0 pt-0.5" href="/gui/admin/" target="_winadmin"><i class="icon-lg icon-admin invert "></i></a>
{%endif%}
  {%endif%}

</nav>
