{% from "./v2/macros/macros.html" import modal %}
  {%macro maketitle(search=True) -%}
  {%-if job_proj -%}
  {{'Task'+job.type +' - ' if job and job.type}}{{ job_proj.title }} [{{ job_proj.projid }}]
  {%-elif target_proj -%}
  {%-if target_proj.projid -%}{{ target_proj.title }} [{{ target_proj.projid }}]
  {%-else -%}{{_('New project')}}
  {%-endif-%}
  {%-elif title %} {{title}}
{%-endif-%}
  {%-endmacro%}
  {% macro add_search() -%}
  <details class="project-search no-marker"><summary class="trigger"><i class="icon icon-search invert"></i></summary>
<div class="w-full md:w-[420px] mx-auto  overflow-y-visible overscroll-none px-2 "><label class="uppercase text-base leading-loose font-semibold mr-1  text-stone-50">{{_("Search project by title")}}</label><select id="filter-projects" name="project" class="form-select single js js-autocomplete align-baseline" data-type="project" data-value={{target_proj.projid if target_proj else 0}}  tabindex="-1"></select></div></details>
  {%-endmacro%}
  {%macro show_breadcrumbs(all=True) -%}
     {%- set crumbs = breadcrumbs() -%}
     {%- if crumbs|length ==0 and current_user.is_authenticated %}
     {%-set crumbs=[{"url":"prj/","text":_('Home')},{"url":url_for("gui_me_profile"),"text":"Profile"}]-%}
     {%-endif%}
     {%- if crumbs is iterable and crumbs|length-%}
    {%if all == False%}
    {% set crumbs = [crumbs[0]]%}
    {%- endif%}
  <div class="breadcrumbs {{'all' if all else 'title' }} whitespace-nowrap mr-2 ">
    {%- for crumb in crumbs -%}
      <a href="{{ crumb.url  }}{{'/' + crumb.id|string if 'id' in crumb.keys() else ''}}">{{ crumb.text }}</a>
  {%- endfor -%}
    </div>
    {%else -%}
  {%-endif%}
  {%-endmacro%}
  <div class="flex  flex-wrap pl-2 xl:pl-8 pr-4 w-full justify-between">
    <div class="w-[140px]">
        <a href="/prj/"><img src="{{ url_for('static',filename='gui/images/logo_ecotaxa.png') }}" id="ecotaxa-logo" alt="Logo Ecotaxa 3.0" /></a>
    </div><div class="flex md:flex-row  md:flex-nowrap flex-grow  w-full md:w-auto {{ 'mt-4 font-semibold md:mt-2 md:font-light' if not target_proj else 'mt-2 md:mt-0' }} text-secondblue-50 md:justify-center py-2  md:py-0 order-3 md:order-2 text-sm md:text-base xl:text-lg">
      {{ show_breadcrumbs(True)}}
      {% if current_user.is_authenticated and  target_proj and target_proj.projid -%}
     <div id="top-nav-projects" class="top-title truncate ellipsis overflow-hidden break-all">{{maketitle()}} </div>
        {{add_search()}}{%endif%}</div>
    {%- include 'v2/partials/_navuser.html' with context-%}
  </div>
