{% from "./v2/macros/macros.html" import modal %}
  {%macro maketitle(search=True) -%}
  {%-if job_proj -%}
  {{'Task'+job.type +' - ' if job and job.type}}{{ job_proj.title }} [{{ job_proj.projid }}]
  {%-elif target_proj -%}
  {%-if target_proj.projid -%}{{ target_proj.title }} [{{ target_proj.projid }}]
  {%-else -%}{{_('New project')}}
  {%-endif-%}
  {%-elif title %} {{title}}
{%-endif-%}
  {%-endmacro%}
  {% macro add_search() -%}
  <details class="modal-search no-marker js js-topsearch"><summary class="trigger"><i class="icon icon-search invert"></i></summary>
<div class="modal"><div class="modal-content"><div class="w-full md:w-[420px] mx-auto"><label class="uppercase text-base leading-loose font-semibold mr-1">{{_("Search project by title")}}</label><select id="filter-projects" name="project" class="form-select single js js-autocomplete align-baseline" data-type="project" data-value={{target_proj.projid}}  tabindex="-1"></select></div></div></details>
  {%-endmacro%}
  {%macro show_breadcrumbs(all=True) -%}
     {%- set crumbs = breadcrumbs() -%}

    {%- if crumbs is iterable and crumbs|length-%}
    {%if all == False%}
    {% set crumbs = [crumbs[0]]%}
    {% endif%}
  <div class="breadcrumbs {{'all' if all else 'title' }} whitespace-nowrap mr-2 ">
    {%- for crumb in crumbs -%}
      <a href="/gui/{{ crumb.url  }}{{'/' + crumb.id if id in crumb.keys() }}">{{ crumb.text }}</a>
  {%- endfor -%}
    </div>
  {%-endif%}
  {%-endmacro%}
  <div class="flex flex-wrap  pl-2 xl:pl-8 pr-4 w-full justify-between">
    <div class="w-[140px]">
        <a href="/gui/prj"><img src="{{ url_for('static',filename='gui/images/logo_ecotaxa.png') }}" id="ecotaxa-logo" alt="Logo Ecotaxa 3.0" /></a>
    </div>
    <div class="flex items-right md:flex-row  md:flex-nowrap  {{ 'mt-4 font-semibold md:mt-2 md:font-light' if not target_proj else 'mt-2 md:mt-0' }} text-secondblue-50 md:justify-center  py-2 md:py-0 order-3 md:order-2 text-sm md:text-base xl:text-lg">
    {% if target_proj and target_proj.projid %}{{ show_breadcrumbs(False)}}<div id="top-nav-projects" class="top-title truncate ellipsis overflow-hidden break-all ml-2 ">{{maketitle()}} </div>{{add_search()}}
    {% endif %}</div>
    <div class="max-w-[220px] flex items-right order-2 md:order-3 ">
    {% include 'v2/partials/_navuser.html' with context%}

    </div>
  </div>
