  <div class="flex flex-wrap  pl-2 md:pl-8 pr-4 w-full justify-between">
    <div class="md:basis-3/12 lg:basis-2/12 "><a class="uppercase text-xl font-bold text-left text-white">
        <a href="/gui/prj"><img src="{{ url_for('static',filename='gui/images/logo_ecotaxa.png') }}" id="ecotaxa-logo" alt="Ecotaxa 3.0" /></a>
    </div>{% if target_proj and target_proj.projid %}
    <div class="text-center flex-grow text-secondblue-50 lg:text-base oveflow-hidden truncate text-ellipsis break-all py-2 md:py-0 order-3 md:order-2">{{ target_proj.title }} [{{ target_proj.projid }}]</div>
    {% endif %}
    <div class="md:basis-3/12 flex items-right order-2 md:order-3 ">
      <nav id="secondary-nav" class="flex md:flex-row  ml-auto ">
        <!--<div class="aside-nav-item"><a class="px-3 py-1 flex items-center text-xs leading-snug " href="/docs/">Docs</a></div>-->

          {% if not  current_user.is_authenticated %}<div class="user-nav-item flex-grow">
          <a class="text-sm px-3 py-1" href="/gui/login"><i class="icon icon-circle-user align-top mx-1"></i><span>{{_('log in')}}</a>
          {% else %}
          <div class="aside-nav-item hidden md:flex">
            <a href="/notifications/"><span class="hidden md:show block mb-1">
                Notifications </span></a>
              <div class="flex flex-row flex-nowrap align-text-bottom mt-0.5 mr-1 js js-notifications">
              </div>
            </div><div class="user-nav-item block relative"><a href="#" class="dropdown mt-1  text-xs" id="user-nav" aria-expanded=true aria-haspopup=true><div><i class="icon icon-user-circle-sm align-text-bottom mx-1 invert"></i><span>{{ current_user.name }}</span></div></a>
          <!-- user profile and sign-out -->
          <div class="dropdown-menu" role="menu" aria-orientation="vertical" aria-labelledby="user-nav" tabindex="-1">
    <div class="py-1" role="none">
      <a href="gui/user/profile"  class="dropdown-item"  tabindex="-1" role="menuitem">{{ _('profile') }}</a>
      <a href="#" tabindex="-1" class="dropdown-item" role="menuitem">{{ _('help') }}</a>
    </div>
    <div class="py-1" role="none">
      <a href="/logout" tabindex="-1"  class="dropdown-item"  role="menuitem">{{ _('logout') }}</a>
    </div>
  </div>
        {%endif%}
        </div>
      </nav>

    <div class="flex pl-4 text-sm order-3 items-right uppercase ">
<a class="lg:pl-3 pr-0 pt-0.5 static top-0 " href="/admin/"><i class="icon-lg icon-admin invert "></i></a></div>
    </div>
  </div>
