{%-macro promail_required(type="info",textsize='',user=None)-%}
{%- if not user or user.mail_status == False  -%}
<em  class="block alertbox whitespace-normal h-auto is-{{type if type else 'info'}} mt-0 mb-0 inverse p-1 {{textsize}} max-w-full whitespace-normal">
{{_('Please provide a professional or academic email.')}} {{_('Email addresses from Gmail, Hotmail , Yahoo , Outlook, Protonmail and similar providers are not accepted.')}}
</em>
{%-endif%}
{%-endmacro-%}
{%-macro profile_comment(comment,email_status, type="info",textsize='') -%}
{%- if comment !=None and comment.strip()!="" -%}
<em class="block alertbox whitespace-normal h-auto is-{{type if type else 'info'}} mt-0 mb-0 inverse p-1 {{textsize}} max-w-full">
<a href="{{url_for("gui_me_profile")}}" class="overflow-x-hidden mb-0">
{{ comment }}</a>
{%-if email_status == False -%}
{{_('Please click on this link to confirm your email address')}}
{%-endif-%}
 </em>
{%-endif-%}
{%-endmacro-%}
{%- macro password_regexp(type="")-%}
<em class="password-regexp small text-xs">{{_('8 char. minimum, at least one uppercase, one lowercase, one number and one special char in ')}}"!@#?%^&*-+"</em>
{%-endmacro-%}
