  {% from "./v2/macros/macros.html" import inputdict %}
  {% from "./v2/macros/_captcha.html" import captcha, scriptcaptcha%}
  {%macro password_box()-%}
  {% set disabled=""%}

  <div class="form-box">
  {% if user and user.id and user.id>0 %}
  <a class="font-semibold py-2 text-center block"  data-action="toggle" data-disabled="input">{{_('modify password')}}<i class="icon icon-chevron-down" data-toggle="icon-chevron-down,icon-chevron-up"></i></a>
    <div id="change-password"  >
  {% endif%}
  {% set fieldp="password" if createaccount==True else "newpassword"%}
    <label for="{{fieldp}}">{{_('Password')}}</label>
    <input type="password" id="password" name="{{fieldp}}" class="form-input" minlength="6" maxlength="20" {{'required' if not user or not user.id or user.id==-1 else ''}} data-required="{{ _('a password is required')}}" {{' data-update=true' if createccount==False and not incadmin }} data-new="{{_('new')}}" placeholder="{{_('Password')}}">

    <label for="password_confirm">{{_('Password confirmation')}}</label>
    <input type="password" id="passwordconfirm" name="passwordconfirm"  class="form-input" minlength="6" maxlength="20"  data-match="password" data-matchinvalid="{{_('password does not match')}}" data-new="{{_('new')}}" placeholder="{{_('Password confirmation')}}">
    {% if user and user.id and user.id>0%}
    </div>
    {% endif%}
    </div>
  {%-endmacro%}
  <form method="post" action="" id="formu" autocomplete="off" class="js js-submit relative mt-12 md:mt-8"  {{ 'data-captcha="g-recaptcha-response" data-captchakey='+reCaptchaID if  createaccount == True and not incadmin }} data-required="{{_('this field is required')}}" data-invalid="{{_('this field is invalid')}}" data-import=true onsubmit="return false"">
   <input type="hidden" name="crsf_token" value={{ crsf_token }}>
      <input type="hidden" name="id" id="id" value="{{user.id if user.id else -1  }}">
    <div class="fieldset-wrapper md:flex-row md:flex-nowrap">
      <fieldset class="w-full  mx-{{'auto' if createaccount==True else '0 md:w-1/2'}}">
        <legend class="tab-control">{{legend if legend else ''}}</legend>
          {% if (createaccount == True)%}
            <div class="flex flex-row">
            {% for key,label  in {'first':_('First name'),'last':_('Last name')}.items()%}
            <div class="form-box w-[50%]">
            <label for="name">{{label}}</label>
            <input type="text" id="{{key}}name" name="{{key}}name" class="form-input" value="{{ user[key+'name']}}" required data-required="{{_('this field information is required')}}" data-new="{{_('new')}}" placeholder="{{label}}"></div>
            {%endfor%}</div>
          {% else%}
          <div class="form-box">
          <label for="name">{{_('Name')}}</label>
          <input type="text" id="name" name="name" class="form-input" value="{{ user.name }}" required data-required="{{_('a name is required')}}" data-new="{{_('new')}}" placeholder="{{_('Name')}}"></div>
          {% endif %}
          <div class="form-box">
            <label for="email">{{_('Email')}}</label>
            <input type="email" id="email" name="email" class="form-input" value="{{ user.email }}"  data-sub="enable" {{'disabled' if createaccount == True and not incadmin else ''}} required data-required="{{_('an email is required')}}" data-new="{{_('new')}}" placeholder="{{_('Email')}}"></div>
            {%if createaccount != True or user and user.email %}
            <input type="hidden" name="currentemail" value="{{user.email}}">
            {%endif%}
            {{password_box()}}
             <div class="form-box"><label for="">{{_('Organisation')}}</label>{{inputdict('organisation','organisation',user.organisation,type="organisation",label=_('Organisation'),required=True, autocomplete=True,options=organisations)}}</div>
              <div class="form-box"><label for="">{{_('Country')}}</label>{{inputdict('country','country',user.country,type="country",label=_('Country'),required=True, autocomplete=True,options=countries)}}</div>
          <div class="form-box">
            <label for="usercreationreason">{{ _('Planned usage of EcoTaxa')}}<i data-for="help_comments" data-request="help"></i></label>
            <textarea id="usercreationreason" name="usercreationreason" class="form-textarea" placeholder="{{_('creation reason')}}" rows="4">{{ user.usercreationreason|default('',true) }}</textarea>

          </div>{%if  createaccount == True and not incadmin %}
          {% include('v2/users/_acceptconditions.html') with context%}
                          {% endif %}
            </fieldset>{%-if incadmin or incprofile-%}<fieldset class="w-full  mx-{{'auto' if createaccount==True else '0 pl-4 md:w-1/2'}}">
              {% if incadmin  %}
                <legend class="tab-control">{{_('Security')}}</legend>
        {% include(incadmin) with context %}
        {%elif incprofile  %}
        <legend class="tab-control">{{_('Account info')}}</legend>
{% include(incprofile) with context %}
{%endif%}
      </fieldset>{%-endif-%}</div>
      <fieldset>
<div class="w-full text-left mb-8"> <input type="hidden" name="save" value="Y">
  <a href="{{back}}" class="button is-secondary inverse" title="{{ _('Cancel, back to users list') }}">{{ _('Cancel') }}</a> <button type="submit" data-target="#formu" class="button is-primary">{{_('Save')}}</button>
</div></fieldset>{%if  createaccount == True and not incadmin %}{{captcha(reCaptchaID)}}  {{scriptcaptcha(reCaptchaID)}}{%endif%}
</form>
