# Flask application debug, set to True to see more traces
DEBUG = False

# How the server is seen outside
SERVERURL = 'http://ecotaxa.MyDomain.Com/'

# The back-end should be ready to accept requests at this URL. Note: no https.
BACKEND_URL = "http://localhost:8000"
# For populating the link to EcoTaxoServer (Browse Taxonomy menu)
TAXOSERVER_URL = "http://ecotaxoserver.obs-vlfr.fr"
# For populating the link & menu to EcoPart (Home page)
ECOPART_URL = "http://ecopart.obs-vlfr.fr"

# The key is used for signing exchanges b/w navigator and present server (cookies)
SECRET_KEY = 'THIS KEY MUST BE CHANGED'

# If you want to enable Google analytics tracking, enter your ID here,
# it will be served in pages.
;GOOGLE_ANALYTICS_ID="UA-XXXXXXX-1"

# If you want to enable reCaptcha during user creation
# NOTE: The corresponding secret must be present in back-end configuration (config.ini)
#RECAPTCHAID="YourReCaptchaID"


