{# Javascript-producing jinja2 macros #}
{% macro select2_user() -%}
     select2({
        ajax: {
            url: "/api/users/search",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return { by_name: '%'+params.term+'%', page: params.page };
            },
            processResults: function (data, page) {
                return { results: data.map(function(rec) {
                    return {'id':rec.id, 'text':rec.name};
                    })
                };
            },
            cache: true,
        },
        placeholder: 'search user...',
        allowClear: true,
        minimumInputLength: 2
    })
{%- endmacro %}
{% macro select2_instrument(can_clear='false') -%}
     select2({
        ajax: {
            url: "/search/instruments",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return { q: params.term, page: params.page };
            },
            processResults: function (data, page) {
                return { results: data.map(function(rec) {
                    return {'id':rec, 'text':rec};
                    })
                };
            },
            cache: true,
        },
        placeholder: 'search instrument...',
        allowClear: {{ can_clear }}
    })
{%- endmacro %}
{% macro select2_setval(jqs, txt, val) -%}
    {
    const sel2 = $('{{ jqs }}');
    const newOption = new Option({{ txt }}, {{ val }}, false, false);
    sel2.append(newOption).trigger('change');
    sel2.val({{ val }});
    }
{%- endmacro %}