<!DOCTYPE html>
{% macro input(name, value='', smcol='2', type='text', size=20, extra="") -%}
    <div class="col-sm-{{ smcol }}">
        <input type="{{ type }}"  class="form-control" id="{{ name }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}" {{ extra }}>
    </div>
{%- endmacro %}

{% macro label(txt, smcol='2') -%}
     <label for="port" class="col-sm-{{ smcol }} control-label">{{ txt }}</label>
{%- endmacro %}

<html>
<head lang="en">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui/jquery-ui.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='select2/css/select2.css') }}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoTaxa</title>
</head>
<body>

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
{# <script src="{{ url_for('static', filename='select2/js/select2.full.min.js') }}"></script> #}
<script src="{{ url_for('static', filename='select2/js/select2.full.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.lazy.min.js') }}"></script>
{# <script src="{{ url_for('static', filename='jquery.elevatezoom.js') }}"></script>  #}
<link rel="stylesheet" href="/static/multizoom.css" type="text/css" />
<script type="text/javascript" src="/static/multizoom.js"></script>

<script>
function AddZoom(element)
{
//index=element.attr("id").substring(1,10)
var pos=element.attr("pos");
element.addimagezoom({ // single image zoom
		zoomrange: [4, 10],
		magnifiersize: [400,400],
		magnifierpos: pos,
		cursorshade: true,
		largeimage: '/vault/'+element.attr('data-zoom-image')
	});
};

$(document).ready(function() {
});
</script>

<div id="divheadinfo" class="headinfo">
<div class="headinfo panel panel-default">  <div class="panel-body" style="padding: 1px 5px 1px 5px;">
<table width="100%"><tr>
    <td width="200px"><h1><a href="/"><img height="30" src="/static/logo_ecotaxa.png"></a></h1></td>
    <td>{{ g.headcenter |safe }}{% block headcenter %}{% endblock %}</td>
    <td align="right" width="300px">
        {% if not  current_user.is_authenticated() %}
            Not logged ( <a href="{{ url_for_security('login') }}">log in</a> )
        {% else %}
            {%  if g.tasksummary %} <a href="/Task/listall">
            {%  if g.tasksummary.Question  %}<span class="label label-warning">Question : {{g.tasksummary['Question']}}</span>{% endif %}
            {%  if g.tasksummary.Running  %}<span class="label label-info">Run : {{g.tasksummary['Running']}}</span>{% endif %}
            {%  if g.tasksummary.Error  %}<span class="label label-danger">Error :{{g.tasksummary['Error']}}</span>{% endif %}
            {%  if g.tasksummary.Done  %}<span class="label label-success">Done :{{g.tasksummary['Done']}}</span>{% endif %}</a><br>{% endif %}
            {{ current_user.name }} (<a href="{{ url_for_security('logout') }}">log out</a>)
{% if g.menu %}
    <br><div class="btn-group" style="margin-right: 10px">
    <button type="button" class="btn btn-default">Action</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      {%   for m in g.menu %}
          {% if m[1]=="SEP"%}
            <li class="divider"></li>
          {% else %}
            <li><a href="{{ m[0] }}">{{ m[1] }}</a></li>
          {% endif %}
      {%  endfor %}
  </ul>
</div>
{% endif %} {# If menu #}
{% endif %}  {# If Authenticated #}
    </td>
</tr></table>
</div></div>
  {% for message in get_flashed_messages(true) %}
    <div class="alert alert-{{ message[0]|replace("message","info")|replace("error","danger") }} alert-dismissible" role="alert" >{{ message[1] }}</div>
  {% endfor %}
    {{ header|safe }}
</div>{# headinfo #}
<!-- Main body -->
{% block body %}{% endblock %}
    {{ bodycontent|safe }}

</body>
</html>