<!DOCTYPE html>
{% macro input(name, value='', smcol='2', type='text', size=20, extra="") -%}
  <div class="col-sm-{{ smcol }}">
    <input type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}" value="{{ value|e }}"
           size="{{ size }}" {{ extra }}>
  </div>
{%- endmacro %}

{% macro label(txt, smcol='2') -%}
  <label class="col-sm-{{ smcol }} control-label">{{ txt }}</label>
{%- endmacro %}
<html>
<head lang="en">
  <link rel=stylesheet type=text/css
        href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui/jquery-ui.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style20211027.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='select2_405/css/select2.css') }}">
<link rel="icon" href="data:,">
  <link rel=stylesheet type=text/css
        href="{{ url_for('static', filename='DataTables-1.11.5/DataTables-1.11.5/css/dataTables.bootstrap.min.css') }}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {%- if g.google_analytics_id and g.cookieGAOK=='Y' -%}
  {%-set gkey=g.google_analytics_id -%}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{gkey}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{gkey}}');
  </script>
  {%- endif -%}
</head>
<body>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='select2_405/js/select2.full.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.lazy.1.7.10.min.js') }}"></script>
<link rel="stylesheet" href="/static/multizoom.css" type="text/css"/>
<script type="text/javascript" src="/static/multizoom.js"></script>
<script src="{{ url_for('static', filename='common_20201020.js') }}"></script>
<link rel="stylesheet" href="/static/fontawesome-free-5.5.0-web/css/all.min.css">
<link rel="stylesheet" href="/static/bootstrap.dropdown.submenu.css">

<script>
    function AddZoom(element) {
//index=element.attr("id").substring(1,10)
        var pos = element.attr("pos");
        element.addimagezoom({ // single image zoom
            zoomrange: [4, 10],
            magnifiersize: [400, 400],
            magnifierpos: pos,
            cursorshade: true,
            largeimage: '/vault/' + element.attr('data-zoom-image')
        });
    };

    $(document).ready(function () {
    });
</script>

<div id="empty_fixed" style="position: fixed; z-index: 13; top: 0px; left: 0px; display: block;"></div>
<div id="divheadinfo" class="headinfo">
  <div class="headinfo panel panel-default">
    <div class="panel-body" style="padding: 1px 5px 1px 5px;">
      <table width="100%">
        <tr>
          <td width="140px"><a href="/"><img height="30" src="/static/logo_ecotaxa_26.png" style="margin: 10px 0"></a>
          </td>

          <td>{{ g.headcenter |safe }}{% block headcenter %}{% endblock %}</td>
          <td align="right">{{ g.experimental |safe }}</td>
          <td align="right" width="300px">
            {% if not current_user.is_authenticated %}
              Not logged ( <a href="{{ url_for('gui_login') }}">log in / register</a> )
            {% else %}
              {% if g.jobs_summary %} <a href="/Jobs/listall">
                {% if g.jobs_summary.Pending %}
                  <span class="label label-default">Pending : {{ g.jobs_summary['Pending'] }}</span>{% endif %}
                {% if g.jobs_summary.Question %}
                  <span class="label label-warning">Question : {{ g.jobs_summary['Question'] }}</span>{% endif %}
                {% if g.jobs_summary.Running %}
                  <span class="label label-info">Run : {{ g.jobs_summary['Running'] }}</span>{% endif %}
                {% if g.jobs_summary.Error %}
                  <span class="label label-danger">Error :{{ g.jobs_summary['Error'] }}</span>{% endif %}
                {% if g.jobs_summary.Done %}
                  <span class="label label-success">Done :{{ g.jobs_summary['Done'] }}</span>{% endif %}</a><br>
              {% endif %}
              {{ current_user.name }} (<a href="{{ url_for('gui_logout') }}">log out</a>)
              {% if g.menu %}
                <br>
                <div class="btn-group" style="width:100px;margin-right: 10px">
                  <button type="button" class="btn btn-default" data-toggle="dropdown">Action</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                          aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    {% for m in g.menu %}
                      {% if m[1]=="SEP" %}
                        <li class="divider"></li>
                      {% elif m[2]=="SUB" %}
                        <li class="dropdown-submenu">
                          <a href="{{ m[0] }}">{{ m[1] }}</a>
                          <ul class="dropdown-menu">
                            {% elif m[1]=="NOSUB" %}
                          </ul>
                        </li>
                      {% else %}
                        <li><a class="dropdown-item" href="{{ m[0] }}">{{ m[1] }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %} {# If menu #}
            {% endif %}  {# If Authenticated #}
          </td>
        </tr>
      </table>
    </div>
  </div>
  {% for message in get_flashed_messages(true) %}
    <div class="alert alert-{{ message[0]|replace("message","info")|replace("error","danger") }} alert-dismissible"
         role="alert">{{ message[1] }}</div>
  {% endfor %}
  {{ header|safe }}
</div>
{# headinfo #}
<!-- Main body -->
<div id="bodydiv">
  {% block body %}{% endblock %}
  {{ bodycontent|safe }}
</div>
{% if g.cookieGAOK=='' and g.google_analytics_id %}
  <div
      style="position: fixed;bottom: 0;height: 100px;left: 0;;right:0;background-color: rgba(0,0,0,0.90);color: white;z-index: 10000;"
      id="DivGAAccept">
    <div
        style="display: flex;align-items: center; width: 1000px;margin-right: auto;margin-left: auto;margin-top: 20px;">
      <div style="flex: 1;min-width: 81%;">We use cookies on this site to analyze traffic, remember your preferences,
        and optimize your experience. Click “Accept” to consent to the continued use of cookies or visit our <a
            href="/privacy">Privacy Policy</a> to see how you can make changes to your cookie settings.
      </div>
      <div style="flex: 1;">
        <button type="button" class="btn btn-warning" id="BtGAAccept">Accept</button>
      </div>
    </div>
  </div>
  <script>
      $('#BtGAAccept').click(function () {
          $.get('/setprivacy/Y', function () {
              $('#DivGAAccept').hide();
          });
      });
  </script>
{% endif %}
</body>
</html>
