<link rel="stylesheet" type="text/css" href="/static/DataTables1.10.18/DataTables-1.10.18/css/dataTables.bootstrap.min.css"/>
<script type="text/javascript" src="/static/DataTables1.10.18/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/DataTables1.10.18/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/DataTables1.10.18/Buttons-1.5.4/css/buttons.dataTables.css">
<link rel="stylesheet" type="text/css" href="/static/DataTables1.10.18/Buttons-1.5.4/css/buttons.bootstrap.css">
<script src="/static/DataTables1.10.18/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
<script src="/static/DataTables1.10.18/Buttons-1.5.4/js/buttons.bootstrap.js"></script>
<script src="/static/DataTables1.10.18/JSZip-2.5.0/jszip.min.js"></script>
<script src="/static/DataTables1.10.18/Buttons-1.5.4/js/buttons.html5.min.js"></script>

<style>
.dataTable td {padding: 2px !important;}
table.dataTable thead tr:nth-child(1) td {padding-right: 30px !important;}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after
{ bottom: 2px;}
#tbl tbody .statusN td:nth-child(3){cursor: pointer;color: #0a6aa1}
#tbl tbody .statusA td:nth-child(3){cursor: not-allowed;}
#tbl tbody .statusD td:nth-child(3){cursor: not-allowed;}
#tbl tbody .statusA td:nth-child(5){color:green;font-weight: bold;background-color: rgba(177,255,168,0.58)}
#tbl tbody .statusD td:nth-child(5){color:orange;font-weight: bold; background-color: rgba(255,139,0,0.30)}
#tbl tbody td:nth-child(9){word-break: break-all;}
#tbl_wrapper .btn-group {margin-left: 10px}
</style>

<div style="margin: 10px;">
<div class="panel panel-default " style="padding: 5px;">
  This screen list all taxon you have created. You can update only not-validated taxon created on this server.<br>
  Status : N : Not-validated, A : Active , D : Deprecated/Rejected<br>
  Theses taxa are not visible on other Ecotaxa instance until they are validated on EcoTaxoServer.<br>
  It's recommended to synchronize prior making changes.
</div>

<button type="button" onclick="DoSync('Y')" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Synchronize with EcotaxoServer</button>
<button type="button" onclick="NewTaxon()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create taxon</button>
<a href="{{ g.taxoserver_url }}/browsetaxo/" class="btn btn-primary"><span class="glyphicon glyphicon-link"></span> Browse entire taxonomy on EcotaxoServer</a>
  {{ BackProjectBtn|safe }}
</div>

<table id="tbl" style="width:100%" class="table table-striped table-bordered" >
<thead>
  <tr><td>ID</td><td>Parent ID</td><td>Display name</td><td>Type</td><td>Status</td>
  <td>Creator</td><td>Source ID</td><td>Creation Date</td><td>Last update</td><td>Lineage</td>
  </tr>
</thead>
<tbody>
{% for l in lst %}
  <tr class="status{{ l.taxostatus }}"><td>{{l.id}}</td><td>{{l.parent_id}}</td><td>{{l.name}}</td><td>{{l.taxotype}}</td><td>{{l.taxostatus}}</td>
  <td>{{l.creator_email or ''}}</td><td>{{l.id_source or ''}}</td><td>{{l.creation_datetime or ''}}</td><td>{{l.lastupdate_datetime}}</td><td>{{l.tree.replace('>',' > ')}}</td>
  </tr>
{% endfor %}
</tbody>
</table>


<script>
function DoSync(UpdateStat) {
  var params={};
  if (UpdateStat==='Y')
    params.updatestat='Y';
  At2PopupWaitOpenLoad(1,"/taxo/dosync","EcotaxoServer Synchronisation",params);
}
function NewTaxon() {
  At2PopupWaitOpenLoad(0,"/taxo/edit/0","Create new taxon");
}

$(document).ready(function() {

    var table=$('#tbl').DataTable( {
        scrollY:        '70vh',
        scrollCollapse: true,
        paging: false,
        orderCellsTop: true,
        buttons: ['copy', 'csv', 'excel'],
        dom: 'Bfrtip',
        orderMulti: false,
        ordering: false,
        columnDefs: [
           { width:'40px', targets: 0 }
          ,{ width:'60px', targets: 1 }
          ,{ width:'30px', targets: 3 }
          ,{ width:'30px', targets: 4 }
        ]
    });


    $('#tbl tbody').on('click','.statusN td:nth-child(3)',function () {
      var taxoid=$(this).closest('tr').find('td:nth-child(1)').text();
      At2PopupWaitOpenLoad(0,"/taxo/edit/"+taxoid,"Edit taxon "+taxoid);
    });
} );


</script>