{% import 'macro.html' as M  %}
<script src="/static/parsley.min.js"></script>
<style>
  #tblviewtaxon {width: 100%}
  #tblviewtaxon th {width: 100px;font-weight: normal;background-color: #EEE;}
  #tblviewtaxon td {word-break: break-all; padding: 3px 5px}
  #At2PopupWindow0 .At2PopupWindow {width: 1000px;}
</style>
<form id="formedittaxon" method="post" action="?">
<table class=" " id="tblviewtaxon">
  <tr>
    <th>ID</th><td><input type="hidden" name="id" value="{{ taxon.id }}">{{ taxon.id }}</td>
    <th>Parent ID</th><td>
      <select id="parent_id" name="parent_id" class="taxolbpop" required>
        {% if taxon.parent_id %}
        <option value="{{ taxon.parent_id }}">{{ taxon.parentname }}</option>
        {% endif %}
      </select>
     </td>
    <th>Type</th><td>{{ M.selectinputdict('taxotype', g.TaxoType, taxon.taxotype,addemptyrow=True,extrataginfo="class=form-control required")  }}</td>
  </tr>
  <tr>  <th>Name</th><td colspan="5">{{ M.InputText('name',taxon.name,"class=form-control required maxlength=100") }}</td></tr>
  <tr>  <th>Display Name</th><td colspan="5">{{ taxon.display_name }}</td></tr>
  <tr>  <th>Tree</th><td colspan="5">{{ taxon.tree }}</td></tr>

  <tr>
{#    <th>Source ID</th><td>{{ M.InputText('id_source', taxon.id_source ,extrataginfo="class=form-control maxlength=20 style='width:100px'"|safe)  }} </td>#}
    <th>Source URL</th><td colspan="5">
        {{ M.InputText('source_url', taxon.source_url,extrataginfo="class=form-control maxlength=200 data-parsley-type=url")  }}    </td></tr>
  <tr><th>Source Desc</th><td colspan="5">
    {{ M.TextArea('source_desc',4, taxon.source_desc,extrataginfo="class=form-control maxlength=1000 ")  }}
    </td></tr>
  <tr>
    <th>Creation date</th><td>
        {{ M.InputText('creation_datetime', taxon.creationdatetimefmt ,extrataginfo="class=form-control maxlength=200 pattern='\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2}' style='width:150px'"|safe)  }} </td>
    <th>By (email)</th><td colspan="3">
    {{ M.InputText('creator_email', taxon.creator_email ,extrataginfo="class=form-control maxlength=250 data-parsley-type=email "|safe)  }}
    </td></tr>


</table>
<table style="width: 100%;margin-top: 10px;">
  <tr><td><button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save Taxon</button>
  {% if taxon.id>0 %}
    <button type="button" onclick="DeleteTaxon({{ taxon.id }})" class="btn btn-danger"><i class="fa fa-delete"></i> Delete Taxon</button>
  {% endif %}
  </td>
    <td style="text-align: right"><button type="button" onclick="At2PopupClose(0);" class="btn btn-gris"><i class="fa fa-times"></i> Close</button></td></tr>
</table>
</form>
<div id="formedittaxon_PostResult" style="margin-top: 10px"></div>
<style>
  .taxolbpop {width: 300px;}
</style>
<script>
  $(".taxolbpop").select2({
        ajax: {
            url: "/search/taxo",
            dataType: 'json',
            delay: 250,
            data: function (params) {  return { q: params.term, page: params.page };  },
            processResults: function (data, page) { return { results: data};  },
            cache: true
        },
        minimumInputLength: 3
        /*,allowClear:true know bug on it #5394*/
    }); // Select2 Ajax
  $('#formedittaxon').parsley();


  $('#formedittaxon').submit(function(e){
    e.preventDefault();
    var DejaCliqued=$(this).data('DejaCliqued');
    $(this).data('DejaCliqued','Y');
    if(DejaCliqued==='Y')
      return;
    setTimeout(function(){ $('#formedittaxon').data('DejaCliqued','N'); }, 5000);
    var formobj=objectifyForm('formedittaxon');
    AtdSetWaitAndLoad("#formedittaxon_PostResult",'/taxo/save/',formobj);
  });
  function DeleteTaxon(id) {
    At2Confirm("Taxon removal","Are you sure you want remove this taxon",function () {
      AtdSetWaitAndLoad("#formedittaxon_PostResult",'/taxo/del/',{id:id});
    });
  }


</script>