{% import 'ht_macros.html' as ht %}
<script src="/static/parsley.min.js"></script>
<style>
    #tblviewtaxon {
        width: 100%
    }

    #tblviewtaxon th {
        width: 100px;
        font-weight: normal;
        background-color: #EEE;
    }

    #tblviewtaxon td {
        word-break: break-word;
        padding: 3px 5px;
    }

    .usage_block {
        display: inline-block;
        white-space: nowrap;
        width: auto;
        height: initial;
        margin: 2px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 4px;
        padding-left: 4px;
    }

    #At2PopupWindow{{windex if windex else '20'}} .At2PopupWindow {
        width: 1000px;
    }
</style>
<form id="formedittaxon" method="post" action="?">
  <input type="hidden" name="id" value="{{ taxon.id }}">
  {% if taxon.id == 0 %}
    <div class="panel panel-default text-warning" style="padding: 5px; font-size:large">
      This form cannot create WoRMS taxa.<br>
      Once created, a category can never be deleted. <br>
      If you really want to create a new category, please carefully review the information below.<br>
    </div>
  {% endif %}
  <table class=" " id="tblviewtaxon">
    <tr>
      <th>Name</th>
      <td colspan="3">{{ ht.InputText('name',taxon.name,"class=form-control required maxlength=100"
                +(" READONLY" if taxon.id != 0 else "")) }}
      </td>
      <th>Type</th>
      <td style="width: 200px">{{ ht.selectinputdict_enriched('taxotype', g.TaxoType, taxon.type,
                addemptyrow=True,extrataginfo="class=form-control required"+(" DISABLED" if taxon.id != 0 else "")) }}
      </td>
    </tr>
    {% if taxon.id > 0 %}
    <tr>
      <th>Display Name</th>
      <td colspan="5">{{ taxon.display_name }}</td>
    </tr>
    {% endif %}
    {%- if taxon and taxon.aphia_id-%}
     <tr>
      <th>Aphia ID</th>
      <td colspan="5">{{ taxon.aphia_id }}</td>
    </tr>{%-endif-%}
    <tr>
      <th>Parent</th>
      <td colspan="5">
        <select id="parent_id" name="parent_id" class="taxolbpop" {{ "DISABLED" if taxon.id != 0 else "" }}
                required>
          {% if taxon.lineage|length >1 %}
            <option value="{{ taxon.id_lineage[1] }}">{{ taxon.lineage[1]|striptags }}</option>
          {% endif %}
        </select>
      </td>
    </tr>
    {% if taxon.id > 0 %}
    <tr>
      <th>Lineage</th>
      <td colspan="5">{{ "".join(taxon.lineage) | safe }}</td>
    </tr>
    {% endif %}
    <tr>
      <th>Source URL
        <i class="fas fa-info-circle"
           data-content="If the new category is described on the WEB, please provide the link to help the Ecotaxoserver managers to review and populate this new category for all users."></i>
      </th>
      <td colspan="5">
        {{ ht.InputText('source_url', taxon.source_url,
                extrataginfo="class=form-control maxlength=200 data-parsley-sourceurl=1
                data-parsley-validate-if-empty=1"
                +(" READONLY" if taxon.id != 0 else "")) }}
      </td>
    </tr>
    <tr>
      <th>Source Desc
        <i class="fas fa-info-circle"
           data-content="If the new category is NOT described on the WEB, please provide a description of the category to help other users to use it."></i>
      </th>
      <td colspan="5">
        {{ ht.TextArea('source_desc', 4, taxon.source_desc,
                extrataginfo="class=form-control maxlength=1000 data-parsley-sourcedesc=1
                data-parsley-validate-if-empty=1 "
                +("READONLY" if taxon.id != 0 else "")) }}
      </td>
    </tr>
    <tr>
      <th>By (email)
        <i class="fas fa-info-circle"
           data-content="If you change the email, you will not be anymore able to manage this taxon."></i>
      </th>
      <td colspan="3">
        {{ ht.InputText('creator_email', taxon.creator_email ,
                extrataginfo=("class=form-control maxlength=250 data-parsley-type=email "
                +("READONLY" if taxon.id != 0 else ""))|safe) }}
      </td>
      {% if taxon.id > 0 %}
      <th>Creation date</th>
      <td>
        {{ ht.InputText('creation_datetime', taxon.creation_datetime ,
                extrataginfo="class=form-control maxlength=200 pattern='\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2}'
                style='width:150px' READONLY"|safe) }}
      </td>
    </tr>
    {% endif %}


  </table>
  <table style="width: 100%;margin-top: 10px;">
    <tr>
      {% if taxon.id == 0 %}
        <td>
          <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save category</button>
        </td>
      {% endif %}
    </tr>
  </table>
</form>
{% if taxon.id == 0 %}
  <div id="formedittaxon_PostResult" style="margin-top: 10px"></div>
  <div class="panel panel-default " style="padding: 5px;font-size:medium">
    Naming rules to create Taxon :<br>
    - Phylo type : Must be unique, contains only letters and -+' and not more than 1 whitespace, Start with a Uppercase
    <br>
    - Morpho type : Must be unique for the parent, contains only letters and -+' and not more than 1 whitespace, be
    lowercase only.<br>
    In case of repeated creation error, or to fix a taxonomy issue, ask help from the administrators of your Ecotaxa
    instance
    <ul>{{ GetManagerList('Ecotaxa : Taxo issue')|safe }}</ul>
  </div>
{% else %}
  Validated usages:
  <div id="prj_usage" style="display:inline-block;margin-top: 10px"></div>
  {% for a_usage in usage %}
    <span class="form-control usage_block">
    {{ a_usage.nb_validated }}&nbsp;objects&nbsp;in&nbsp;<a href="/prj/{{ a_usage.projid }}?taxo={{ taxon.id }}"
                                                            target="_blank">{{ a_usage.title }}</a>
    </span>
  {% endfor %}
{% endif %}

<style>
    .taxolbpop {
        width: 400px;
    }

</style>
<script>
    const windex={{windex if windex else 20}}
    const urlsearchworms="{{url_for('routetaxosearchworms')}}"
    const taxolbpop = $(".taxolbpop");
    taxolbpop.select2({
        ajax: {
            url: "/search/taxo",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {q: params.term, page: params.page};
            },
            processResults: function (data, page) {
                if (data.length) {data.push({id:0,text:'Create a category...'})}
                return {results: data};
            },
            cache: true
        },
        dropdownParent: taxolbpop.parent(),
        minimumInputLength: 3,
        /*,allowClear:true know bug on it #5394*/
          language: {
                noResults: function () {
                    {% if g.TaxonCreator %}
                        const term = taxolbpop.data('select2').dropdown.$search.val() ;
                        var msg ="<a href=\"javascript:At2PopupWaitOpenLoad("+windex+",'"+urlsearchworms+"?q="+encodeURIComponent(term).replaceAll('%20', '+')+"&fromprj={{ g.Projid }}','Create a category')\" >Create category</a>";
                       {% else %}
                        var msg = "<a href=\"mailto:{{ g.manager_mail }}\">Request category</a>";
                    {% endif %}
                    return $("<span>No recent/result found. " + msg + "</span>");
                }
            }
    });
    var term=null;
    taxolbpop.on('select2:selecting', function(e) {term = taxolbpop.data('select2').dropdown.$search.val() ;});
    taxolbpop.on("select2:select", function (e) {
                  // Chosen line
                  const choice = e.params.data;
                  // check if create category
                  if(choice.id===0) {
                  taxolbpop.val(null).trigger("change");
                  At2PopupWaitOpenLoad(windex,urlsearchworms+"?q"+EncodeURIComponent(term),"Create a category");
                  return;}
              });

    // Select2 Ajax
    window.Parsley.addValidator('sourcedesc', {
        validateString: function (value) {
            if ($('#taxotype').val() != 'M') return true;
            return value !== '';
        }, messages: {en: 'You must enter a source description for Morpho type'}
    });
    window.Parsley.addValidator('sourceurl', {
        validateString: function (value) {
            if ($('#taxotype').val() != 'P') return true;
            var re = new RegExp(
                "^" +
                // protocol identifier
                "(?:(?:https?)://)?" + // ** mod: make scheme optional
                // user:pass authentication
                "(?:\\S+(?::\\S*)?@)?" +
                "(?:" +
                // IP address exclusion
                // private & local networks
                // "(?!(?:10|127)(?:\\.\\d{1,3}){3})" +   // ** mod: allow local networks
                // "(?!(?:169\\.254|192\\.168)(?:\\.\\d{1,3}){2})" +  // ** mod: allow local networks
                // "(?!172\\.(?:1[6-9]|2\\d|3[0-1])(?:\\.\\d{1,3}){2})" +  // ** mod: allow local networks
                // IP address dotted notation octets
                // excludes loopback network 0.0.0.0
                // excludes reserved space >= 224.0.0.0
                // excludes network & broacast addresses
                // (first & last IP address of each class)
                "(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])" +
                "(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}" +
                "(?:\\.(?:[1-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))" +
                "|" +
                // host name
                "(?:(?:[a-zA-Z\\u00a1-\\uffff0-9]-*)*[a-zA-Z\\u00a1-\\uffff0-9]+)" +
                // domain name
                "(?:\\.(?:[a-zA-Z\\u00a1-\\uffff0-9]-*)*[a-zA-Z\\u00a1-\\uffff0-9]+)*" +
                // TLD identifier
                "(?:\\.(?:[a-zA-Z\\u00a1-\\uffff]{2,}))" +
                ")" +
                // port number
                "(?::\\d{2,5})?" +
                // resource path
                "(?:/\\S*)?" +
                "$"
            );
            return re.test(value) !== false;
        }, messages: {en: 'You must enter a valid source URL for Phylo type'}
    });
    $('#formedittaxon').parsley();

    $('#formedittaxon').submit(function (e) {
        e.preventDefault();
        var DejaCliqued = $(this).data('DejaCliqued');
        $(this).data('DejaCliqued', 'Y');
        if (DejaCliqued === 'Y')
            return;
        setTimeout(function () {
            $('#formedittaxon').data('DejaCliqued', 'N');
        }, 5000);
        var formobj = objectifyForm('formedittaxon');
        AtdSetWaitAndLoad("#formedittaxon_PostResult", '/taxo/save/', formobj);
    });

    $('#tblviewtaxon .fa-info-circle').popover({trigger: 'hover', container: "body", placement: "top"})


</script>