{% import 'ht_macros.html' as ht %}
<script src="/static/parsley.min.js"></script>
<style>
    #tblviewtaxon {
        width: 100%
    }

    #tblviewtaxon th {
        width: 100px;
        font-weight: normal;
        background-color: #EEE;
    }

    #tblviewtaxon td {
        word-break: break-word;
        padding: 3px 5px;
    }

    #At2PopupWindow0 .At2PopupWindow {
        width: 1000px;
    }
</style>
<form id="formedittaxon" method="post" action="?">
  <input type="hidden" name="id" value="{{ taxon.id }}">
  <table class=" " id="tblviewtaxon">
    <tr>
      <th>Name</th>
      <td colspan="3">{{ ht.InputText('name',taxon.name,"class=form-control required maxlength=100") }}</td>
      <th>Type</th>
      <td style="width: 200px">{{ ht.selectinputdict_enriched('taxotype', g.TaxoType, taxon.taxotype,addemptyrow=True,extrataginfo="class=form-control required") }}</td>
    </tr>
    <tr>
      <th>Display Name</th>
      <td colspan="5">{{ taxon.display_name }}</td>
    </tr>
    <tr>
      <th>Parent</th>
      <td colspan="5">
        <select id="parent_id" name="parent_id" class="taxolbpop" required>
          {% if taxon.parent_id %}
            <option value="{{ taxon.parent_id }}">{{ taxon.parentname }}</option>
          {% endif %}
        </select>
      </td>
    </tr>
    <tr>
      <th>Lineage</th>
      <td colspan="5">{{ taxon.tree.replace('>',' > ') }}</td>
    </tr>

    <tr>
      {#    <th>Source ID</th><td>{{ ht.InputText('id_source', taxon.id_source ,extrataginfo="class=form-control maxlength=20 style='width:100px'"|safe)  }} </td>#}
      <th>Source URL
        <i class="fas fa-info-circle"
           data-content="If the new category is described on the WEB, please provide the link to help the Ecotaxoserver managers to review and populate this new category for all users."></i>
      </th>
      <td colspan="5">
        {{ ht.InputText('source_url', taxon.source_url,extrataginfo="class=form-control maxlength=200 data-parsley-sourceurl=1 data-parsley-validate-if-empty=1") }}    </td>
    </tr>
    <tr>
      <th>Source Desc
        <i class="fas fa-info-circle"
           data-content="If the new category is NOT described on the WEB, please provide a description of the catégory to help other users to use it."></i>
      </th>
      <td colspan="5">
        {{ ht.TextArea('source_desc',4, taxon.source_desc,extrataginfo="class=form-control maxlength=1000 data-parsley-sourcedesc=1 data-parsley-validate-if-empty=1 ") }}
      </td>
    </tr>
    <tr>
      <th>By (email)
        <i class="fas fa-info-circle"
           data-content="If you change the email, you will not be anymore able to manage this taxon."></i>
      </th>
      <td colspan="3">
        {{ ht.InputText('creator_email', taxon.creator_email ,extrataginfo=("class=form-control maxlength=250 data-parsley-type=email "+("READONLY" if taxon.creator_email.find('@')>0 else ""))|safe) }}
      </td>
      <th>Creation date</th>
      <td>
        {{ ht.InputText('creation_datetime', taxon.creationdatetimefmt ,extrataginfo="class=form-control maxlength=200 pattern='\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2}' style='width:150px' READONLY"|safe) }} </td>
    </tr>


  </table>
  <table style="width: 100%;margin-top: 10px;">
    <tr>
      <td>
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save Taxon</button>
        {% if taxon.id>0 %}
          <button type="button" onclick="DeleteTaxon({{ taxon.id }})" class="btn btn-danger"><i
              class="fa fa-eraser"></i> Delete Taxon
          </button>
        {% endif %}
      </td>
      <td style="text-align: right">
        <button type="button" onclick="At2PopupClose(0);" class="btn btn-gris"><i class="fa fa-times"></i> Close
        </button>
      </td>
    </tr>
  </table>
</form>
<div id="formedittaxon_PostResult" style="margin-top: 10px"></div>
<div class="panel panel-default " style="padding: 5px;">
  Naming rules to create Taxon :<br>
  - Phylo type : Must be unique, contains only letters and -+' and not more than 1 whitespace, Start with a Uppercase
  <br>
  - Morpho type : Must be unique for the parent, contains only letters and -+' and not more than 1 whitespace, be
  lowercase only.<br>
  {#  In case of repeated creation error ask help to users listed on <a href="{{ g.taxoserver_url }}/browsetaxo/" target="_blank">this page</a>#}
  In case of repeated creation error ask help to the administrators of your Ecotaxa instance
  <ul>{{ GetManagerList('Ecotaxa : Account issue')|safe }}</ul>
</div>

<style>
    .taxolbpop {
        width: 400px;
    }
</style>
<script>
    $(".taxolbpop").select2({
        ajax: {
            url: "/search/taxo",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {q: params.term, page: params.page};
            },
            processResults: function (data, page) {
                return {results: data};
            },
            cache: true
        },
        minimumInputLength: 3
        /*,allowClear:true know bug on it #5394*/
    }); // Select2 Ajax
    window.Parsley.addValidator('sourcedesc', {
        validateString: function (value) {
            if ($('#taxotype').val() != 'M') return true;
            return value !== '';
        }, messages: {en: 'You must enter a source description for Morpho type'}
    });
    window.Parsley.addValidator('sourceurl', {
        validateString: function (value) {
            if ($('#taxotype').val() != 'P') return true;
            var re = new RegExp(
                "^" +
                // protocol identifier
                "(?:(?:https?)://)?" + // ** mod: make scheme optional
                // user:pass authentication
                "(?:\\S+(?::\\S*)?@)?" +
                "(?:" +
                // IP address exclusion
                // private & local networks
                // "(?!(?:10|127)(?:\\.\\d{1,3}){3})" +   // ** mod: allow local networks
                // "(?!(?:169\\.254|192\\.168)(?:\\.\\d{1,3}){2})" +  // ** mod: allow local networks
                // "(?!172\\.(?:1[6-9]|2\\d|3[0-1])(?:\\.\\d{1,3}){2})" +  // ** mod: allow local networks
                // IP address dotted notation octets
                // excludes loopback network 0.0.0.0
                // excludes reserved space >= 224.0.0.0
                // excludes network & broacast addresses
                // (first & last IP address of each class)
                "(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])" +
                "(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}" +
                "(?:\\.(?:[1-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))" +
                "|" +
                // host name
                "(?:(?:[a-zA-Z\\u00a1-\\uffff0-9]-*)*[a-zA-Z\\u00a1-\\uffff0-9]+)" +
                // domain name
                "(?:\\.(?:[a-zA-Z\\u00a1-\\uffff0-9]-*)*[a-zA-Z\\u00a1-\\uffff0-9]+)*" +
                // TLD identifier
                "(?:\\.(?:[a-zA-Z\\u00a1-\\uffff]{2,}))" +
                ")" +
                // port number
                "(?::\\d{2,5})?" +
                // resource path
                "(?:/\\S*)?" +
                "$"
            );
            return re.test(value) !== false;
        }, messages: {en: 'You must enter a valid source URL for Phylo type'}
    });
    $('#formedittaxon').parsley();


    $('#formedittaxon').submit(function (e) {
        e.preventDefault();
        var DejaCliqued = $(this).data('DejaCliqued');
        $(this).data('DejaCliqued', 'Y');
        if (DejaCliqued === 'Y')
            return;
        setTimeout(function () {
            $('#formedittaxon').data('DejaCliqued', 'N');
        }, 5000);
        var formobj = objectifyForm('formedittaxon');
        AtdSetWaitAndLoad("#formedittaxon_PostResult", '/taxo/save/', formobj);
    });

    function DeleteTaxon(id) {
        At2Confirm("Taxon removal", "Are you sure you want remove this taxon", function () {
            AtdSetWaitAndLoad("#formedittaxon_PostResult", '/taxo/del/', {id: id});
        });
    }

    $('#tblviewtaxon .fa-info-circle').popover({trigger: 'hover', container: "body", placement: "top"})

</script>