<div style="margin: 3px;">
  Particle Project {{ PrjId }} : {{ Prj.ptitle }}<br>

  <a href="{{ url_for('.TaskCreateRouter',ClassName='TaskPartZooscanImport') }}?p={{ PrjId }}"
     class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-import"></span> Import sample from disk</a>
  <a href="{{ url_for('.part_prjedit', pprojid=PrjId) }}" class="btn btn-sm btn-primary"><span
      class="glyphicon glyphicon-pencil"></span>
    Edit project metadata</a>
  <a href="{{ url_for('.part_prj') }}" class="btn btn-sm btn-primary"><span
      class="glyphicon glyphicon-arrow-left"></span> Back to
    project list</a>

  {{ VisibilityText |safe }}
  <h4>Project samples dashboard <a href="#general-help" data-toggle="collapse" class="help"> </a></h4>
  <div id="general-help" class="collapse panel panel-default" style="width: 800px;margin-left: 50px;">
    <div class="panel-body">
      INFORMATIONS :<br>
      This dashboard permits to : <br>
      * control the status of the imported samples<br>
      * to edit metadata from individual samples<br>
      * to reprocess histograms, match ecotaxa samples, re-compute taxonomy histogram or import CTD data after you<br>
      - modify metadata<br>
      - associate an Ecotaxa project<br>
      - annotate vignettes in Ecotaxa<br>
      - modify the CTD files<br>
      * to remove all or selected samples from the project<br>
      DO NOT FORGET TO SELECT THE SAMPLES THAT YOU WANT TO REPROCESS BEFORE STARTING OPERATIONS

    </div>
  </div>
  <form action="/part/prjcalc/{{ PrjId }}" method="post" id="FormSamples">
    <table id="tblsample2" class="table table-bordered table-condensed" style="width: auto;">
      <thead>
      <tr>
        <th style="text-align: center;">Select
          <br><input type="checkbox" id="checkall">
        </th>
        <th>ID</th>
        <th>profileid</th>
        <th>filename</th>
        <th>Type</th>
        <th>station ID</th>
        <th>first image</th>
        <th>last img</th>
        <th>last img used</th>
        <th>Descent Filtered Rows</th>
        <th>Removed empty slice</th>
        <th>Sample Date</th>
        <th>Raw Part. Histo</th>
        <th>Det Part. Histo</th>
        <th>Reduced Part. Histo</th>
        <th>Ecotaxa Sample ID</th>
        <th>Taxonomy Histo</th>
        <th>Taxonomy Recalc Date</th>
        <th>CTD Data</th>
        <th>CTD Import Date</th>
        <th>comment</th>
      </tr>
      </thead>
      <tbody>
      {% for r in dbsample %}
        <tr>
          <td><input type="checkbox" name="s_{{ r['psampleid'] }}" value="Y"></td>
          <td>{{ r['psampleid'] }} <a href="/part/sampleedit/{{ r['psampleid'] }}"><span
              class="glyphicon glyphicon-pencil"></span></a></td>
          <td>{{ r['profileid'] }}</td>
          <td>{{ r['filename'] }}</td>
          <td> {{ 'Depth' if r['organizedbydeepth'] else 'Time' }}</td>
          <td>{{ r['stationid'] }}</td>
          <td>{{ r['firstimage'] or "" }}</td>
          <td>{{ r['lastimg'] or "" }}</td>
          <td>{{ r['lastimgused'] or "" }}</td>
          <td>{{ r['imp_descent_filtered_row'] or "" }}</td>
          <td>{{ r['imp_removed_empty_slice'] or "" }}</td>
          <td>{{ r['sampledate'].strftime('%Y-%m-%d') if r['sampledate'] is not none else "" }}</td>
          <td>{{ r['histobrutavailable'] }}</td>
          <td>{{ r['nbrlinedet'] }}</td>
          <td>{{ r['nbrlinereduit'] }}</td>
          <td>{{ r['sampleid'] or '' }}</td>
          <td>{{ r['nbrlinetaxo'] }}</td>
          <td>{{ r['daterecalculhistotaxo']|datetime }}</td>
          <td>{{ r['nbrlinectd'] }}</td>
          <td>{{ r['ctd_import_datetime']|datetime }}</td>
          <td>{{ r['comment'] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <table>
      <tr>
        <td style="vertical-align: top; padding: 0 10px;"><b>Action : </b></td>
        <td>
          <input type="checkbox" name="dohistodet" value="Y"> Compute detailed histogram<br>
          <input type="checkbox" name="dohistored" value="Y"> Compute reduced histogram<br>
          <input type="checkbox" name="domatchecotaxa" value="Y"> Match Ecotaxa sample<br>
          <input type="checkbox" name="dohistotaxo" value="Y"> Compute taxonomy histogram<br>
          <input type="checkbox" name="doctdimport" value="Y"> CTD Import
        </td>
        <td style="vertical-align: top">
          <button type="submit" class="btn btn-primary" style="width: 150px"><span
              class="glyphicon glyphicon-cog"></span> Start operation
          </button>
          <br>
          <button type="button" class="btn btn-xs btn-default" style="width: 150px;margin-top: 5px;"
                  onclick="$('#checkall').click()">Select all samples
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
<button type="button" onclick="$('#confirm').modal('show')" class="btn btn-xs btn-danger"><span
    class="glyphicon glyphicon-erase"></span> Remove selected samples
</button>

{% if Prj.instrumtype=='uvp5' or Prj.instrumtype=='uvp6' %}
  <br>SHOW IMPORTATION RESULT GRAPH : {% for i in range(0,dbsample|length,50) %}
  <a href="/part/prj_uvpgraph/{{ Prj.pprojid }}/{{ i }}" class="btn btn-primary btn-xs">Page {{ (i//50)+1}}</a>
{% endfor %}
{% endif %}

<div class="modal " id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Are you sure you want remove selected samples</h4>
      </div>
      <div class="modal-body">

        <button type="button" onclick="ProcessDeleteSamples()" class="btn btn-danger"><span
            class="glyphicon glyphicon-erase"></span> Confirm Remove samples
        </button>

        <button type="button" class="btn btn-warning" onclick="$('#confirm').modal('hide')"> Cancel</button>

      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css"
      href="/static/DataTables1.10.18/DataTables-1.10.18/css/dataTables.bootstrap.min.css"/>

<script type="text/javascript" src="/static/DataTables1.10.18/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="/static/DataTables1.10.18/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<style>
    #tblsample2_wrapper {
        margin-top: -40px;
    }

    #tblsample2 tbody td:nth-child(2) {
        white-space: nowrap
    }
</style>
<script>
    function ProcessDeleteSamples() {
        var postdata = {'delete': 'Y'};
        var champs = $('#FormSamples').serializeArray();
        for (i = 0; i < champs.length; i++) {
            var c = champs[i];
            postdata[c['name']] = c['value'];
        }
        PostDynForm("/part/prjcalc/{{ PrjId }}", postdata);
    }

    $(document).ready(function () {
        $('#tblsample2').DataTable({
            "paging": false
            , "order": [[3, "desc"]]
            , "search": {"smart": true}
        });

    });
    $('#checkall').click(function (e) {
        e.stopPropagation();
        $('#tblsample2 td input').prop('checked', $(this).prop('checked'))
    });
</script>
