<style>
    .TablePrefix {
        font-size: large;
        font-weight: bold;
    }

    .rightspace {
        padding-right: 30px;
    }

    .aligntop {
        vertical-align: top;
    }
</style>
<table>
  <tr>
    <td class="rightspace aligntop">
      <p class="TablePrefix">Sample statistics</p>
      <table class='table table-hover table-verycondensed table-bordered' style="width: auto">
        <tr>
          <td> Sample count</td>
          <td>{{ data.nbrsample }}</td>
        </tr>
        <tr>
          <td> Visible</td>
          <td>{{ data.nbrvisible }}</td>
        </tr>
        <tr>
          <td> Not Visible</td>
          <td>{{ data.nbrnotvisible }}</td>
        </tr>
        <tr>
          <td> Validated objects %</td>
          <td>{{ data.taxostat.pctobjval }} %</td>
        </tr>
        <tr>
          <td>Samples fully validated</td>
          <td>{{ data.taxostat.pctval100pct }} %</td>
        </tr>
        <tr>
          <td>Samples partially validated</td>
          <td>{{ data.taxostat.pctpartval }} %</td>
        </tr>
      </table>
    </td>
    <td class="rightspace aligntop">
      <p class="TablePrefix">Maximum Sample pressure </p>
      <table class='table table-hover table-verycondensed table-bordered' style="width: auto">
        <thead>
        <tr>
          <th>Pressure slice [db]</th>
          <th>Count</th>
        </tr>
        </thead>
        <tbody>
        {% for v in data.depthhisto %}
          <tr>
            <td> {{ v['slice'] }}</td>
            <td>{{ v['nbr'] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </td>
    <td class="aligntop">
      <p class="TablePrefix">Sample count per instrument</p>
      <table class='table table-hover table-verycondensed table-bordered' style="width: auto">
        <thead>
        <tr>
          <th>Instrument</th>
          <th>Sample Count</th>
        </tr>
        </thead>
        <tbody>
        {% for v in data.instrumcount %}
          <tr>
            <td> {{ v['instrum'] }}</td>
            <td>{{ v['nbr'] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </td>
  </tr>
  <tr>
    <td class="rightspace aligntop" colspan="2">
      <p class="TablePrefix">TABLE of PROJECT STATS, STATUS and DATA OWNERS</p>
      <table class='table table-hover table-verycondensed table-bordered' style="width: auto">
        <thead>
        <tr>
          <th>Project</th>
          <th>Instrument</th>
          <th width="70px">Nbr<br>depth&nbsp;cast</th>
          <th width="70px">Nbr<br>time&nbsp;serie</th>
          <th width="90px">Sample&nbsp;ZOO<br>associated</th>
          <th>% Validated<br>zooplankton</th>
          <th>Data Owner</th>
          <th>Particle<br>Project Manager</th>
          <th>Ecotaxa (zoo)<br>Project Manager</th>
          <th>Particle<br>data status</th>
          <th>Zooplankton<br>data status</th>
        </tr>
        </thead>
        <tbody>
        {% for v in data.partprojcount %}
          <tr>
            <td> {{ v['ptitle'] }}</td>
            <td>{{ v['instrumtype'] }}</td>
            <td>{{ v['nbrdepth'] }}</td>
            <td>{{ v['nbrtime'] }}</td>
            <td>{{ v['nbrtaxo'] }}</td>
            <td>{{ data.taxostatbyproj[v['pprojid']] }}</td>
            <td><a href="mailto:{{ v['do_email'] or "" }}">{{ v['do_name'] or "" }}</td>
            <td><a href="mailto:{{ v['uppowner_email'] or "" }}">{{ v['uppowner_name'] or "" }}</td>
            <td><a href="mailto:{{ v['email'] or "" }}">{{ v['name'] or "" }}</td>
            <td>{{ {'Y':'Full export','V':'Limited export','N':'Private'}[v['visibility'][0]] }} </td>
            <td>{{ {'Y':'Full export','V':'Visible','N':'Private'}[v['visibility'][1]] }} </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </td>
    <td class="aligntop">
      <p class="TablePrefix">Sample per Taxonomy project</p>
      <table class='table table-hover table-verycondensed table-bordered' style="width: auto">
        <thead>
        <tr>
          <th>Project</th>
          <th>Sample Count</th>
        </tr>
        </thead>
        <tbody>
        {% for v in data.taxoprojcount %}
          <tr>
{#            link to EcoTaxa project #}
            <td><a href="{{ ecotaxa }}/prj/{{ v['projid'] }}" target="_blank">{{ v['title'] }}</a></td>
            <td>{{ v['nbr'] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </td>
  </tr>
</table>

<style>
    #taxolist tbody td:nth-child(2), .linklike {
        cursor: pointer;
        text-decoration: underline;
    }
</style>
<table>
  <tr>
    <td class="rightspace aligntop">
      <p class="TablePrefix">LIST of CATEGORIES containing ANNOTATED (VALIDATED) items</p>
      <table id="taxolist" class='table table-hover table-verycondensed table-bordered' style="width: auto">
        <thead>
        <tr>
          <th>Classification
            - <span class=linklike onclick="SelectTaxoList('');">Select All</span>
            - <span class=linklike onclick="SelectTaxoList('living');">Select living</span>
            - Check Taxonomy filter to complete the choice of categories
          </th>
          <th>Graph</th>
        </tr>
        </thead>
        <tbody>
        {% for v in data.taxolist %}
          <tr>
            <td> {{ v['tree'] }}</td>
            <td data-id="{{ v['classif_id'] }}" data-nom="{{ v['nom'] }}">select</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </td>
  </tr>
</table>
<script>
    $("#taxolist").on('click', 'tbody td:nth-child(2)', function () {
        var id = $(this).data("id");
        var nom = $(this).data("nom");
        $("#taxolb").append($('<option>', {value: id, text: nom, selected: true}));
        $("#taxolb").change();
    });

    function SelectTaxoList(prefix) {
        $("#taxolist tbody tr").each(function () {
            var txt = $(this).find("td:nth-child(1)").text();
            if ((prefix == '') || (txt.trim().substr(0, prefix.length) == prefix))
                $(this).find("td:nth-child(2)").click();
        });
    }
</script>
{#  {{ raw }}#}