{%-macro combine_tags(cols,tagdef)-%}
{%- set bg =['text-stone-900','text-stone-900','text-stone-700','text-stone-700','text-stone-600'] -%}
{%- for key,value in tagdef.items() -%}
{%- set color =bg[loop.index] -%}
{%-for colname,mapping in value.items() -%}
<span id="{{key+'.'+colname}}" class="tag inline-block rounded text-xs font-normal p-1 mr-1 mb-1 h-6  bg-stone-400 hover:bg-secondblue-400 hover:drop-shadow-none drop-shadow-sm text-stone-50" draggable="true"><em class="{{color}}">{{key+'.'}}</em>{{colname}}</span>
{%-endfor-%}
{%-endfor-%}
{%-endmacro-%}
{%- macro display_tags()-%}
<div class="pl-2 h-auto xl:basis-2/3 lg:basis-2/3 md:basis-auto basis-full mt-8">{{combine_tags(cols,{"sample":target_proj.sample_free_cols,"acquisition":target_proj.acquisition_free_cols,"process":target_proj.process_free_cols,"object":target_proj.obj_free_cols}) }}</div>
{%-endmacro-%}
{%-if target_proj-%}
{%- set total_water_volume = formulae['total_water_volume'] if formulae and 'total_water_volume' in formulae else "total_water_volume/1000" -%}
{%- set subsample_coef = formulae['subsample_coef'] if formulae and 'subsample_coef' in formulae else "1/subsampling_coefficient" -%}
{%- set individual_volume =formulae['individual_volume'] if formulae and 'individual_volume' in formulae else "4/3 * pi * (major_axis * pixel_size) * (minor_axis * pixel_size)^2'" -%}
<em class="text-warning-800 text-xs bg-stone-50 rounded-sm px-2">{{_('double click on a tag item to remove it.')}}</em>
<div class="flex flex-row w-full max-w-full flex-nowrap js js-dragdrop" data-formhandler="textarea"><div class="xl:basis-1/3 lg:basis-1/3 md:basis-2xs basis-full">
<div class="form-box">
    <div class="label">{{ _('Sample volume of the water body')}} <em>{{_('in m3')}}</em><i data-for="help_project_total_water_volume" data-request="help"></i> {{badge('success',_('new'),True)}}</div>
    <div id="total_water_volume" class="form-textarea caret-secondblue-300  max-w-full " data-accept="sample" placeholder="{{_('total water volume')+'/1000'}}">{{total_water_volume}}</div>
            <div><em>{{_('This is the volume of water sampled within the sample or subsample, as appropriate for this dataset.')}}</em><span class="font-medium  relative cursor-pointer bg-secondblue-50 hover:bg-secondblue-100"  data-title="{{_('double click to set value')}}" data-action="set-value" data-event="dblclick" data-target="total_water_volume">total_water_volume/1000</span></div></div>
    <div class="form-box">
            <div class="label">{{ _('Subsampling coefficient')}} <em>{{_('in [0,1]')}}</em><i data-for="help_project_subsample_coef" data-request="help"></i> {{badge('success',_('new'),True)}}</div>
        <div class="form-textarea caret-secondblue-300 max-w-full " id="subsample_coef" data-accept="acquisition,process" placeholder="{{'1/'+_('subsampling coefficient')}}">{{subsample_coef}}</div>
             <div  class="basis-full"><em>{{_('This is the portion of the volume above that has been imaged.')}}</em><span class="font-medium relative cursor-pointer bg-secondblue-50 hover:bg-secondblue-100"  data-title="{{_('double click to set value')}}" data-action="set-value"  data-event="dblclick"  data-target="subsample_coef">1/subsampling_coefficient</span></div></div>
         <div class="form-box">
            <div class="label">{{ _('Individual object volume')}} <em>{{_(' in mm3')}}</em><i data-for="help_project_individual_volume" data-request="help"></i> {{badge('success',_('new'),True)}}</div>
            <div id="individual_volume" class="form-textarea  caret-secondblue-300  max-w-full " data-accept="acquisition,process,object" placeholder="4/3 * pi * (major_axis * pixel_size) * (minor_axis * pixel_size)^2')" data-formulae="4/3 * pi * (major_axis * pixel_size) * (minor_axis * pixel_size)^2')|" >{{individual_volume}}</div>
                <div class="basis-full"><em>{{_('This should specify a formula to compute the volume of each object in mm3. Classic formulae are equivalent spherical volume = ')}}</em><span class="font-medium  cursor-pointer relative bg-secondblue-50 hover:bg-secondblue-100"  data-title="{{_('double click to set value')}}"  data-event="dblclick" data-action="set-value" data-target="individual_volume">4/3 * pi * ( sqrt(area/pi) * pixel_size )</span>
 <em>{{_('equivalent ellipsoidal volume = ')}}</em> <span class="font-medium cursor-pointer relative bg-secondblue-50 hover:bg-secondblue-100" data-title="{{_('double click to set value')}}"  data-event="dblclick"  data-action="set-value" data-target="individual_volume"> 4/3 * pi * (major_axis * pixel_size) * (minor_axis * pixel_size)^2')</span></div></div>
                </div>{{display_tags()}}
</div>
{%-endif-%}