{% extends "./v2/layout.html" %}
{% from "./v2/project/_macrostats.html" import taxo_row, taxo_th_row , types with context %}
{%-macro write_user_row(user, annotator= False)%}
<tr><th scope="row">{{ member.name }}</th><td>{{translations.roles[right]}}</td><td class="number"></td><td></td></tr>
{%-endmacro%}
{% macro table_taxo_stats(taxastats)-%}
<table>
  <thead><tr><th><div data-name="Taxon" data-altsort="lineage" data-tip=1 scope="col" data-type="html">{{_('Taxon')}} <small data-delonexport class="sorton lowercase"><span class="ml-2 "> {{_('sort on')}} </span><a href="#" class="active" role="button" >{{_('name')}}</a> <a href="#" role="button">{{_('lineage')}}</a></small></th><th scope="col" data-name='lineage' data-mask=true>{{_('lineage')}}</div></th>{{ taxo_th_row()}}</tr></thead>
  <tbody>
    {%- if taxastats is iterable -%}
    {%-for taxastat in taxastats-%}
{{taxo_row(taxastat,'taxon',taxastat.lineage|reverse|join('>'))}}
{%- endfor-%}
{%-endif-%}</tbody><tfoot class="w-full max-w-full"><tr>
<th class="text-left ml-2" scope="col">{{_('Total')}}</th><th class="hidden"></th>
    {% set total=  taxastats|sum(attribute='nb_validated') +   taxastats|sum(attribute='nb_dubious') +  taxastats|sum(attribute='nb_predicted') +  taxastats|sum(attribute='nb_unclassified') %}
    {%- for type in types -%}
      {% set percent = ((taxastats|sum(attribute='nb_'+type)/total)*100)|round(1) if total>0 else 0 %}
      <th  class="nb_{{type}} text-right"><div class="progress">{{ taxastats|sum(attribute='nb_'+type)}}<data class="progress-{{type}} ml-auto mr-0" style="width:{{ percent }}%;"></data></div></th>
    {%-endfor-%}
  </tr></tfoot>
</table>
{%-endmacro%}
{% macro taxo_stats(taxastats) -%}
{% set maxtotal = namespace(value=0)  %}
{% set totals =namespace(value=[]) %}
{% for taxastat in taxastats %}
{% set total= taxastat.nb_unclassified +  taxastat.nb_validated + taxastat.nb_dubious + taxastat.nb_predicted %}
{% set  maxtotal.value = total  if total > maxtotal.value else maxtotal.value%}
{% set _ = totals.value.append(total) %}
{% endfor %}
{% for taxastat in taxastats%}
<div class="w-full">
<div class="item" data-id={{taxastats.id}}>{{ taxastat.name  }}</div>
  <div class="progress" style="width:{{(totals.value[loop.index-1]/maxtotal.value)*100|round(0)}}%">
  {% set i = loop.index-1%}
  {%- for type in ['validated','dubious','predicted','unclassified'] -%}
  {% set percent = ((taxastat['nb_'+type]/totals.value[i])*100)|round(1) if totals.value[i]>0 else 0 %}
  {%- if percent > 0 -%}<span class="progress-{{type}}"  style="width:{{ percent }}%">{{ taxastat['nb_'+type] }}</span>
  {%- endif -%}
  {%- endfor -%}
</div></div>
{% endfor %}
{%-endmacro%}
{% macro taxo_tab(taxastats) -%}
{% set types = ['validated','dubious','predicted','unclassified']%}
<div id="stats_{{target_proj.projid}}_used_taxa" class="js js-datatable block w-full overflow-x-hidden max-tabstat-h" data-instanceid="used_taxa"  data-expand="{{_('show all rows')}}" data-shrink="{{_('hide rows')}}" data-export="tsv" data-sortable=true {{'data-searchable=true' if taxastats is iterable and taxastats|length > 20 }}>
{{ table_taxo_stats(taxastats)}}</div>
{%-endmacro%}

{% macro tabstats()-%}
{% if taxastats %}
<section class="separate">
<div class="stat-item">
<span class="stat-label">{{_('Used taxa')}} <i data-for="help_proj_stats_used_taxa" data-request="help"></i></span>
<div class="stat-info">{{ taxo_list(used_taxa) if partial else taxo_tab(taxastats)}}</div>
</div></section>
{% endif %}
{%-endmacro %}
{% block body %}
<div class="container mx-auto px-4 block mb-24  js js-tabs" data-block="project_stats" >
  <div class="w-100 mx-auto py-4 block text-left relative" id="project-stats-header">
    {% set help_file = '_help_project_stats.html' %}
    {% set modal_title = _("About Project") %}
    {% from './v2/macros/macros.html' import modal with context %}
    {{ modal(id='help-project-stats',modal_title=modal_title,btn='',modal_content='./v2/help/' + help_file, type='modal-help',position='modal-aside modal-right',summary_pos={'float':'right','clear':'right'}) }}
  </div>
  <h2 class="font-semibold py-1">{{_('About')}} {{ target_proj.title}} </h2>
  <section  class="separate">
  {{ proj_settings() }}
  <div class="stat-item">
      {%-set access={"0":"Private","1":"Public","2":"Open"}-%}
  <span class="stat-label ">{{_('Access')}} <i data-for="help_proj_stats_access" data-request="help"></i></span><span class="stat-info" data-withlink=true>{{access[target_proj.access]}}</span></div>
  </section>
  {{ tabstats() }}
  {% if annotators  is iterable %}
  <section  class="separate">
  <div class="stat-item">
    <span class="stat-label  tab-control">{{_('Users')}} <i data-for="help_proj_stats_users" data-request="help"></i></span>
    <div class="stat-info flex flex-row flex-wrap mb-4 tab-content">
      <div id="stats_{{target_proj.projid}}_users" class="js js-datatable block w-full max-tabstat-h" data-instanceid="users" data-sortable=true data-export="tsv" data-expand="{{_('show all rows')}}" data-shrink="{{_('hide rows')}}" {{'data-searchable=true' if annotators is iterable and annotators|length > 20 }}>
        <table><thead><tr><th scope="col">{{_('User')}}</th><th scope="col">{{_('Privilege')}}</th><th  data-type="number" scope="col">{{_('number of actions')}}</th><th  data-type="number" scope="col">{{_('last annotation date')}}</th></tr></thead>
          <tbody>
 {% for annotator in annotators %}
 <tr><th class="font-normal" scope="row">{{ annotator.name }}</th><td>{{get_privilege(annotator.id)}}</td><td class="number">{{ annotator.nb_actions }}</td><td class="number">{{ annotator.last_annot if annotator.last_annot != None else '' }}</td></tr>
 {% endfor %}
 </tbody>
 </table>
  </div></div></div></section> {% endif %}
  <section  class="separate">
  <div class="stat-item"><span class="stat-label tab-control">{{_('Samples')}} <i data-for="help_proj_stats_samples" data-request="help"></i></span>
    <div class="stat-info">
    <div id="stats_{{target_proj.projid}}_samples" class="js js-datatable block w-full max-tabstat-h" data-instanceid="samplestats" data-select="selectmultiple" data-cellid="sampleid" data-searchable="true"  data-onselect="{{ url_for('gui_prj_classify',projid=target_proj.projid)}}?samples=" data-expand="{{_('show all rows')}}" data-shrink="{{_('hide rows')}}" data-from="prjsamplestats" data-fromid="{{target_proj.projid}}" data-defer="a.is-pick" data-export="tsv" data-sortable=true>
    <div id="wait-please" data-wait="{{_('Please wait')}}" data-loaded="{{_( 'Data loaded. Displaying...')}}" class="hide"> {{ _('Please wait')}}...</div>
    <a class="is-pick cursor-pointer mx-auto"><i class="icon-lg icon-chart-bar-square"></i> <span class="small-caps">{{_('Load samples stats')}}</span></a>
    <div class="selectaction absinput rounded-sm shadow-xs w-auto p-4 font-normal text-secondblue-50 bg-stone-700  hide"><i class="icon icon-x-mark p-1 -mt-3 -mr-3 invert float-right" data-dismiss=".selectaction"></i><a class="text-sm small-caps ">{{_('go to classification filtered on selected samples')}}</a></div>
  </div></div>
  </div></section>

</div>
{% endblock %}
