
<div>{# args data.key data.form #}
<div id="data-import-{{data.key}}" class="overflow-hidden resize-v max-h-36 md:max-h-36" ></div>
<div class="btns-import mt-1">
<button class="button is-secondary inverse text-base hide disabled:opacity-60" id="clear-import-{{data.key}}">{{_('Clear')}}</button>
<button id="replace-import-{{data.key}}"  data-replace="replace" class="button is-preset inverse text-base hide disabled:opacity-60">{{ _('Replace taxonomy') if data.key == 'taxo' else _('Replace privileges') if data.key =='privileges' else _('Replace')}}</button>
<button id="add-import-{{data.key}}"  class="button is-extra inverse text-base hide disabled:opacity-60">{{ _('Add to taxonomy') if data.key == 'taxo' else _('Add to privileges') if data.key =='privileges' else _('Import')}}</button></div>
</div>
