  <div class="block import-projects-list" data-typeimport="{{ typeimport }}">
    {% set tableid = 'table-import'%}
    {% if typeimport == 'taxo' %}
    {% set ths = [{'label':'Title [ID]','sort':'desc','field':'title','id':False,'subfield':'projid','select':'presets','selectcells':['preset','objtaxonnotinpreset'],'inputname':'inittaxo[]'},{'label':_('Preset categories'),'field' :'preset','autocomplete':'presetids','class':'ellipsis'},{'label':_('Extra categories used'),'escape':True, 'class':'ellipsis','field':'objtaxonnotinpreset','autocomplete':'objtaxonids'},{'label':'presetids','hidden':true,'field':'presetids'},{'label':'notinpresetids','field':'objtaxonids','hidden':true}] %}
    {% set importfields = ['preset','objtaxonnotinpreset','presetids','objtaxonids']%}
    {% else %}
    {% set ths = [{'label':'ID','sort':'desc','field':'projid','id':False, 'select':typeimport},{'label':'Instrument','field' :'instrument','autocomplete': 'instrument' ,'primary':True},{'label':'Title','field':'title','primary':True,'subfield':'contact','sublabel':' - manager or
    contact'}] %}

    {# fields depends on type of import#}
    {% if typeimport == 'privileges'%}
    {% set ths = ths|list + [{'label':'Members','field':'privileges'},{'label':'contact','hidden':True,'field':'contact'}]|list%}
    {% set importfields=['privileges','contact']%}
    {% elif typeimport == 'fields' %}
    {% set ths = ths|list + [{'label':'presets','field':'popoverfieldlist'}]|list %}
    {% set importfields = ['popoverfieldlist'] %}
    {% elif typeimport == 'settings' %}
      {% set importfields=['title','description','comments','instrument','contact','cnn_network_id','visible','status','license','popoverfieldlist','init_classif_list','privileges']%}
    {% set ths = ths|list + [{'label':'status','field':'status'},{'label':'description','field':'description','hidden':True},{'label':'comments','field':'comments','hidden':True},{'label':'contact','field':'contact','hidden':true},{'label':'members','field':'privileges'},{'label':'license','field':'license'},{'label':'visible','field':'visible','true':'Y','hidden':True},{'label':'presets','field':'popoverfieldlist'},{'label':'init classif','field':'init_classif_list','inputname':'initclassiflist','hidden':True},{'label':'Deep feature ext.','field':'cnn_network_id'}] %}
    {# initclassiflist to be replaced by inittaxo[] - no more needed #}
    {% endif %}
    {% endif %}

    {% include "v2/project/components/_projects_list.html" %}
  </div>
<!--  <form id="formfilter">
    <table style="margin-bottom: 10px;">
      <tr>
        <td class="smallnowrap"><b>Filter on projects and categories</b> :&nbsp;</td>
        <td class="smallnowrap"><input id="filtercateg" class="form-control" style="width: 150px;display: inline-block;">&nbsp;</td>
        <td class="smallnowrap"><button id="btfilter" class="btn btn-primary">
          <i class="fas fa-search"></i> Filter</button></td>
        <td class="smallnowrap" style="padding-left: 1em;"><i>(to search multiple categories,<br>separate parts by whitespace)</i></td>
        <td style="padding-left:3em "><b>Preset IDs</b> :&nbsp;</td>
        <td>
          <div class="input-group">
            <input id="idlist" class="form-control" style="width: 150px;display: inline-block;">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" onclick="$('#idlist').val('')"
                      title="Clear Preset IDs field"><i class="fas fa-eraser"></i></button>
            </span>
          </div></td>
        <td>&nbsp;<button id="btsetids" class="btn btn-success"><i class="fas fa-check"></i> Set IDs &amp; Close</button></td>
      </tr>
    </table>
  </form>

  <script>
  function Filter(search) {
    var DisplayedRows=0;
    search = search.replace(/[.*+?^${}()|[\]\\]/g, '\\$&'); // escape string
    var searchlist=search.split(' ');
    var searchlistclean=[];
    for(var i in searchlist)
      if((searchlist[i]!=='')&&(searchlist[i].length>1))
        searchlistclean.push(searchlist[i]);
    $('#TblProj tbody tr ').each(function () {
        var tr=$(this);
        {# pour améliorer les performances on mémorise les text() #}
        var tds={0:{td:tr.find('td:nth-child(1) .content')},
                 1:{td:tr.find('td:nth-child(2)')},
                 2:{td:tr.find('td:nth-child(3)')}};
        tds[0].text=tds[0].td.html().replace(/<\/?mark>/gi,'');
        tds[1].text=tds[1].td.html().replace(/<\/?mark>/gi,'');
        tds[2].text=tds[2].td.html().replace(/<\/?mark>/gi,'');
        var OneNotFound=false; {# Tous les mots trouvés sur la ligne ? permettra de décider si on affiche la ligne#}
        for(i in searchlistclean) {
          var retest = new RegExp(searchlistclean[i], 'i');
          if(retest.test(tds[0].text)===false) {
            if (retest.test(tds[1].text) === false) {
              if (retest.test(tds[2].text) === false) {
                OneNotFound = true;
                break;
              }
            }
          }
        }
        for (var tdid=0;tdid<=2;tdid++) {
          var td=tds[tdid].td;
          var tdtext=tds[tdid].text;
          if((search!=='')&&(OneNotFound===false)){
            for(i in searchlistclean) {
              var re = new RegExp('(' + searchlistclean[i] + ')', 'gi');
              tdtext=tdtext.replace(re,"<mark>$1</mark>")
            }
            td.html(tdtext).addClass('hasMark');
          }
          else if((td.hasClass('hasMark'))&&(!OneNotFound)) {#  Si pas de mark dans la cellule et qu'il faut montrer ce td on efface les mark  #}
            td.html(tdtext).removeClass('hasMark');
        }
        if((DisplayedRows<50)&&(OneNotFound===false)) {# si un seul pas trouvé on masque la ligne, si on cherche rien on montre car on ne cherche pas #}
        {   {# Limite à 50 pour avoir une meilleure reactivité de l'affichage #}
          DisplayedRows++;
          tr.show();
        }
        else
          tr.hide();
    });
    $('#TblProj tfoot').toggle(DisplayedRows>=50);
  }
  $('#formfilter').submit(function (e) {
    e.preventDefault();
    Filter($('#filtercateg').val());
    $('#filtercateg').focus();
  });
  {#Filter('t001 t002');#}
  var jidlist=$('#idlist');
  {# Handle Select buttons #}
  $('#TblProj').on('click','.selvaleurs',function () {
    var what=$(this).data('what')+'ids';
    var ids=$(this).closest('tr').data(what);
    ids=ids.toString().split(',');
    ids=ids.concat(jidlist.val().toString().split(','));
    var uniqueIds = []; {# supprime doublons #}
    $.each(ids, function(i, el){
      if(($.inArray(el, uniqueIds) === -1)&&(el!==''))
        uniqueIds.push(el);
    });
  {#  uniqueIds.sort(); {# tri juste pour aider les tests #}
    jidlist.val(uniqueIds.join(','));
  });

  {# Initialize IDs field from the Select of Edit Screen #}
  var LstIds=[];
  var jSelectInitaxo=$('#inittaxo');
  jSelectInitaxo.find('option:selected').each(function () {
    LstIds.push($(this).val());
  });
  jidlist.val(LstIds.join(','));

  $("#btsetids").click(function () {
    $.post("/search/taxoresolve",{idlist:jidlist.val()},function (data) {
      jSelectInitaxo.html(""); {# Efface les options existantes #}
      for(var k in data) {
        jSelectInitaxo.append(new Option(data[k], k, true, true));
      }
      jSelectInitaxo.trigger('change');
      At2PopupClose(2);
    });
  });
  $('#filtercateg').focus();
  </script> //-->
