{%if processstep =="ask"%}
<form method="post" action="{{url_for("gui_prj_merge", projid=target_proj.projid)}}" class="py-4 mb-2 pl-0"><input type="hidden" name="src" value="{{source_proj.projid}}"><input type="hidden" name="merge" value="Y">
  <div class="w-auto mb-2 alert warning inverse">
        {{_('Warning: ')}} {{_('source project')}} <strong class="ml-2">[{{source_proj.projid}}] {{source_proj.title}}</strong>
        {{_('Will be destroyed.')}}<br>{{_('Its content will be transfered in the target project')}} <strong class="ml-2">[{{target_proj.projid}}] {{target_proj.title}}</strong><br>
        <strong>{{_('This operation is irreversible')}}</strong></div><button type="submit" class="button is-warning w-full sm:w-96">{{_('Start Project Fusion')}}</button></form>
{% elif processstep=="end" %}
<div class='alert success' role='alert'>{{_('Fusion Done successfully')}}</div>
{%endif%}
