{% from "./v2/macros/macros.html" import modal %}
{%- macro display_filters(filters) %}
{% if filters is iterable %}
<div class="form-box text-sm"><div class="label">Active Project Filters</div>
<div class="form-group" role="group">
{% set filtertext = ""%}
{% for filter in filters %}
  <span class=" text-sm font-light inline">{{filter[0]}} {{filter[1]}}</span><input type="hidden" name="{{ filter[0] }}" value="{{ filter[1] }}"></span>
{% endfor %}
{%endif %}
</div>
</div>
{%-endmacro -%}
{%-macro header_project_job(action,helpdata,modaltitle) -%}
  {{ modal(id=helpdata.file|replace('_','-'),modal_title=modaltitle, type='modal-help',position='modal-aside modal-right ',summary_pos={'float':'right','clear':'right'},data = helpdata) }}
    <h2 class="font-semibold mb-4"><strong>{{action}} </strong>{{ target_proj.title }} </h2>
{%-endmacro-%}
