{% extends "./v2/layout.html" %}
{% from "./v2/macros/macros.html" import alertbox with context %}
{% from "./v2/project/macros.html" import header_project_job with context %}
{%block body%}
<div class="container mx-auto px-4 block" data-block="project_merge" >
  <div class="w-100 mx-auto py-4 block text-left relative  " id="project-merge-header">
    {% set data = {'file':'_help_project_merge'} %}
    {{header_project_job(_('Project Merge / Fusion'),data, _('Merge project'))}}
  </div>
  {% if processstep  %}
  {% include('/v2/project/_merge_process.html') with context%}
<a class="back-button" href="{{url_for("gui_prj_merge",projid= target_proj.projid) if processstep=='ask' else url_for("gui_prj_classify",projid=target_proj.projid)}}">{{ _("Back to list") if processstep =="ask" else  _('Back to target project') if (processstep=="end")  else  _("Back to project home")}}</a>
{% else %}
  <form action={{request.path}} method="post" id="form-merge" class="js js-submit relative">
<div class="block-info text-sm md:text-base"><ul><li>{{_('You are allowed to merge projects that you manage and contain images from the <strong>same</strong> instrument.
     (Hint: use the <a href="'+url_for("gui_prj_edit", prjid=target_proj.projid)+'" class="font-normal">projects settings</a> to change this if needed).')}}</li>
<li>{{_('User privileges from both projects will be added')}}</li>
<li>{{_('This tool allows to merge two projects in a single projet (called Current project). The added project will then be automatically deleted. If object data are not consistent between both projects :')}}
<ul><li>{{_('New data fields are added to the Current project.')}}</li>
<li>{{_('The resulting project will thus contain partially documented datafields.')}}</li>
<li>{{_('Samples with same sample_id on both sides will <strong>not</strong> be updated from added project.')}}</li>
<li>{{_('Acquisitions with same acq_id on both sides will <strong>not</strong> be updated from added project.')}}</li>
</ul></li><li>{{_('Note : Next screen will indicate compatibility issues (if exists) and allow you to Confirm the merging operation.')}}</li>
</ul></div>
{% if source_proj %}{%-set message = _('Source project : ') ~ source_proj.title ~ '['~ source_proj.projid ~']' ~ _(' this project will be destroyed')-%}
{{alertbox('warning',message=message,dismissible=False)}}
<input type="hidden" name="merge" value =" Y">
{% elif prjstomerge is iterable  %}
<div  id="merge_prjlist" class="js js-datatable my-4 sticky-top block mb-4" {{ ' data-searchable=true'  if prjstomerge|length > 20 else ''}} data-table=true>
<table>
<thead><tr><th data-type="html">{{_('Select')}}</th><th data-name="id" data-sortable=true >{{_('ID')}}</th><th data-name="instrument" data-sortable=true >{{_('Instrument')}}</th><th data-name="title" data-sortable=true >{{_('Title')}}</th><th data-name="status" data-sortable=true >{{_('Status')}}</th><th data-sortable=true >{{_('Nbr Obj')}}</th>
            <th data-sortable=true >{{_('%s Validated').format('%')}}</th><th data-sortable=true >{{_('%s Classified').format('%')}}</th></tr></thead><tbody>
        {%for prj in prjstomerge -%}
        <tr data-id={{prj.projid}}><td><input type="radio" name="src" value="{{prj.projid}}" class="form-radio" required></td><td>{{prj.projid}}</td>
            <td>{{prj.instrument}}</td>
            <td>{{prj.title.strip()}}</td>
            <td>{{prj.status}}</td>
            <td>{{'' if prj.ojbcount== None else "%.0f"|format(prj.objcount|int) }}</td>
            <td>{{"%.2f"|format(prj.pctvalidated|float) if prj.pctvalidated != None else '0'}}</td>
            <td>{{"%.2f"|format(prj.pctclassified|float) if prj.pctclassified != None else '0'}}</td>
            </tr>
          {%-endfor%}
          </tbody>
  </table></div>
  {% else %}{{alertbox('info',message=_('No matching project found.'),inverse=True, dismissible=False, extra={"inset":True})}}
  <a href="{{url_for("gui_prj")}}" class="back-button">{{_('Back to projects list.')}}</a>
  {% endif%}
  {%endif%}
    {% if prjstomerge|length > 0 or source_proj%}
  {%if not source_proj%}<div class="w-full mb-4"><button type="submit" class="button is-primary">{{ _('Merge') if source_proj else _('Validate before merge') }}</button>{%endif%} <a href ="{{ url_for("gui_prj_classify",projid=target_proj.projid)}}" class="button is-secondary inverse " data-title="{{_('Cancel and back to project')}}">{{_('Cancel')}}</a></div>
    {%endif%}
     </form></div>
{%endblock%}
