{% extends "./v2/layout.html" %}
{% from "./v2/project/macros.html" import header_project_job with context %}
{%block body%}
<div class="container mx-auto px-4 block mb-24  js js-tabs" data-block="project_purge" >
  <div class="w-100 mx-auto py-4 block text-left relative" id="project-purge-header">
    {% set data = {'file':'_help_project_purge'} %}
    {{header_project_job(_('Erase objects tool'),data, _('Delete project'))}}
  </div>
  {% if deleted != None %}

  <div class="font-normal py-4 px-4">
    <div> {{ _('%s Objects deleted ').format(deleted.no) }} </div> <div>{{_('%s ObjectHisto').format(deleted.noh)}} </div> <div>{{_('%s Images in Database').format(deleted.ni)}} </div> <div>{{_('%s Files').format(deleted.nf)}} </div>
</div>
<div class="mx-auto"><a class="button is-secondary inverse" href="/gui/prj/{{'' if backto else target_proj.projid|string}}">{{ _("Back to projects list") if backto else _("Back to project home")}}</a></div>
{% else %}
  {% if activefilter == True%}
    <div class="text-danger-500 font-normal text-lg mx-auto">{{_('USING Active Project Filters')}} {{objlist|length}} {{_('objects')}}</div>
      {%else%}
      {% set toremove = _('to remove all objects from this project.')%}
      <div class="text-info">{{_('Enter the')}} <a class="button is-secondary inverse btn" data-request="objects_ids" data-target="objlist" data-id="{{target_proj.projid}}">{{_('list of internal object id')}}</a> {{_('you want to delete or')}} <a class="button is-secondary inverse btn" data-action="setvalue" data-what="DELETEALL" data-target="objlist" title="{{_('click') ~ ' ' ~ toremove}}">"DELETEALL"</a> {{toremove}}
      <div class="text-sm pt-2"><p><i class="icon icon-alert align-text-bottom p-0.5"></i> {{_('Around 10000 objects are deleted per second, so on a big project it can be long,
      a NGinx Error may happen, but erase process is still working in background.')}}. {{ _('Statistics are not updated during erase project.')}}</p></div>
    </div>
        <form action=? method="post" id="form-purge" class="js js-submit">
        <div class="form-box"><textarea name="objlist" id="objlist" class="form-textarea" cols="15" rows="20" autocomplete=off>{{objlist|join("\n")}}</textarea></div>
        <div class="form-box"><label><input type=checkbox name="destroyproject" value=Y> {{_('DELETE project after "DELETEALL" action')}}</label></div>
        <a href ="/gui/prj/{{target_proj.projid}}" class="button is-secondary inverse">{{_('Cancel')}}</a> <button type="submit" class="button is-danger">{{_('ERASE THESE OBJECTS !!! IRREVERSIBLE !!!!!')}}</button>
        </form>
              {%endif%}
              {%endif%}
{%endblock%}
