{% extends "./v2/layout.html" %}
{% from "./v2/project/macros.html" import header_project_job with context %}
{%block body%}
<div class="container mx-auto px-4 block mb-24  js js-tabs" data-block="project_resettopredicted" >
  <div class="w-100 mx-auto py-4 block text-left relative" id="project-resettopredicted-header">
    {% set data = {'file':'_help_project_resettopredicted'} %}
    {{header_project_job(_('Project reset status to predicted'),data, _('Reset status to predicted'))}}
  </div>
  {%if error!=None %}
  <a href="{{ url_for("gui_prj")}}" class="alert danger">Error {{error}} {{_('Select another project')}}</a>
{% elif target_proj and target_proj.projid%}
{% if not proceed%}
<form method="post" action="{{request.url}}" class="js js-submit">
  <div class="alert danger inverse">
  {%if warning>0 %}
  {{_('USING Active Project Filters')}} {{objectids|length}} {{_('objects')}}
    {%else%}
    {{_('Apply to ALL OBJECTS OF THE PROJECT (NO Active Filters)')}}
  {%endif %}</div><input type="hidden" name="process" value="Y">
  <button type="submit" class="button is-warning w-full sm:w-96">{{_('Apply Reset to Predicted')}}</button>

<div class="block-info">
  <strong class="text-lg">{{_('What will happen :')}}</strong>
  <p>
  {{_('This operation will change status of all validated and dubious objects matching the filter to Predicted.')}}<br>
  {{_('The previous classification will be added into the "classification change log" of the object.')}}
  </p>
</div></form>
{% elif proceed =="Y"%}
{%endif%}
<a href="{{ url_for("gui_prj_classify",projid=target_proj.projid)}}" class="button inverse w-full sm:w-96 mt-2 ml-4 text-center">{{_('Back to project')}}</a>
{% endif %}
</div>
{%endblock%}
