{% import "js_macros.html" as js %}

<h3>Simple import</h3>
<p>This procedure allows to import images in jpg, png, gif (possibly animated) formats. It will associate a fixed &
    reduced set of metadata, that you can enter below.</p>

<form class="form" method="post" enctype="multipart/form-data" onsubmit="return validform();">
    <input type="hidden" name="starttask" value="Y">
    <div class="row" style="margin: 5px">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="control-label">Choose a folder or zip file on the server</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="ServerPath" name="ServerPath" value="" size="200">
                    <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-toggle="modal" data-target="#FileModal">
					<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>
                </span>
                </div>
                <p class="help-block">contact the Project manager to get the procedure to upload your data on the server
                    via FTP. Once the import is complete, please manually remove this data from the server.
                    <br>Project manager : {{ g.prjmanagermailto |safe }}</p>
            </div>
        </div>

        <div class="col-sm-2" style="text-align: center">
            <label class="control-label">OR</label>
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <label class="control-label">Upload folder(s) compressed as a zip file</label>
                <input class="form-control" type="file" id="uploadfile" name="uploadfile" size="200">
                <p class="help-block">zip all the images in an archive (<100Mb).</p>
            </div>
        </div>
    </div>

    <h4>Metadata</h4>
    <style>
        #tbl1 td {
            vertical-align: middle;
        }
    </style>
    <table style="margin-left: 15px; width: auto" class="table table-condensed table-bordered" id="tbl1">
        <tr>
            <td>Image DATE (YYYYMMDD, UTC)</td>
            <td><input type="text" name="imgdate" class="form-control" style="width:120px;"
                       value="{{ preset.imgdate|default('',true) }}"></td>
            <td>Image TIME (HHMM, UTC)</td>
            <td><input type="text" name="imgtime" class="form-control" style="width:70px;"
                       value="{{ preset.imgtime|default('',true) }}"></td>
        </tr>
        <tr>
            <td>latitude (type in -12°06.398 or -12.1066 for 12°06.398 S)</td>
            <td><input type="text" name="latitude" class="form-control" style="width:120px;"
                       value="{{ preset.latitude|default('',true) }}"></td>
            <td>longitude (type in -135°05.325 or -135.08875 for 135°05.325 W)</td>
            <td><input type="text" name="longitude" class="form-control" style="width:120px;"
                       value="{{ preset.longitude|default('',true) }}"></td>
        </tr>
        <tr>
            <td>Object Depth min (m)</td>
            <td><input type="text" name="depthmin" class="form-control" style="width:70px;"
                       value="{{ preset.depthmin|default('',true) }}"></td>
            <td>Object Depth max (m)</td>
            <td><input type="text" name="depthmax" class="form-control" style="width:70px;"
                       value="{{ preset.depthmax|default('',true) }}"></td>
        </tr>
        <tr>
            <td colspan="2">Optional annotation category for ALL images</td>
            <td colspan="2">
                <div class="input-group" style="width: 230px">
                    <select id="taxolb" name="taxolb" style="width: 210px" class='taxolb'>
                        {% if preset.taxolb %}
                        <option value="{{ preset.taxolb }}" selected="selected">{{ preset.taxo_name }}</option>
                        {% endif %}
                    </select>
                    <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#TaxoModal"
                        data-mytargetid="taxolb">
                    <span id=OpenTaxoLB class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
                </span>
                </div>
                {# /input-group #}
            </td>
        </tr>
        <tr>
            <td>Optional annotator</td>
            <td><select id="userlb" name="userlb" style="width: 210px" class='userlb'>
                {% if preset.userlb %}
                <option value="{{ preset.userlb }}" selected="selected">{{ preset.annot_name }}</option>
                {% endif %}
            </select></td>
            <td>Optional status</td>
            <td><select name="status">
                <option></option>
                <option value="P" {{ "selected" if preset.status=="P" }} >predicted
                </option>
                <option value="D" {{ "selected" if preset.status=="D" }} >dubious
                </option>
                <option value="V" {{ "selected" if preset.status=="V" }} >validated
                </option>
            </select></td>
        </tr>
    </table>
    <button type=submit style="margin-left: 150px" class="btn btn-success">Import data</button>

</form>


<script>

    $(document).ready(function () {
        $('#FileModal').on('show.bs.modal', function () {
            $("#TaxoModalBody").html("");
            {# Pour eviter les conflit sur le jstree suite à des ouverture successive car le jstree est dans la modal cachée #}
            $("#FileModalBody").html("Loading...").load("/common/ServerFolderSelect");
        });
        $(".taxolb").select2({
            ajax: {
                url: "/search/taxo",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {q: params.term, page: params.page};
                },
                processResults: function (data) {
                    return {results: data};
                },
                cache: true
            },
            minimumInputLength: 3,
            placeholder: 'search taxon...',
            allowClear: true
        }); // Select2 Ajax
        $('#TaxoModal').on('show.bs.modal', function () {
            $("#FileModalBody").html("");
            $("#TaxoModalBody").html("Loading...").load("/search/taxotree?target=taxolb");
        });
        $(".userlb").{{ js.select2_user() }}; // Select2 Ajax
    }); // Ready

    function validform() {
        if (($('input[name=imgdate]').val() == '')
            || ($('input[name=imgtime]').val() == '')
            || ($('input[name=longitude]').val() == '')
            || ($('input[name=latitude]').val() == '')
        ) {
            var r = confirm("We encourage you to fill geographic(Lat/Long) and temporal (date/time) data !\n Do you really want to import ?");
            return r;
        }
        return true;
    }

</script>

<!-- Modal -->
<div class="modal " id="FileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="ModalLabel">Select a folder or a zip file</h4>
            </div>
            <div class="modal-body">
                <div id="FileModalBody">...</div>
            </div>
        </div>
    </div>
</div>

{% include "taxo_modal_div.html" %}



