{% extends "layout.html" %}

{% macro checkboxinputinlist(name, checkedvalue, value='',extra='') -%}
  <input type="checkbox" name="{{ name }}" id="{{ name }}"
         value="{{ checkedvalue }}"  {{ 'checked' if checkedvalue in value }} {{ extra|safe }}>
{%- endmacro %}


{% block body %}
  <style type="text/css">
      .labelUp {
          font-weight: normal;
      }
  </style>

  <form class="form-horizontal" action="{{ request.path }}" method="post" enctype=multipart/form-data
        style="margin: 5px">
    <input type="hidden" name="p" value="{{ prj_id }}">
    {% for var, val in filters.items() %}
      <input type="hidden" name="{{ var }}" value="{{ val }}">
    {% endfor %}
    <table>
      <tr>
        <td>
          {% if filtertxt!='' %}
            <span style='color:red;font-weight:bold;font-size:large;'>USING Active Project Filters</span><br>
            <b>Filters = {{ filtertxt }} </b><br><br>
          {% endif %}
          <table class="table table-bordered table-condensed " style="width: 450px">
            <tr>
              <td rowspan="2" style="vertical-align:middle;">Select</td>
              <td style="vertical-align:middle;">
                <input type="radio" class="radioBtn" name="valtype" value="P" {{ 'checked' if form.valtype=='P' }}>
              </td>
              <td style="vertical-align:middle;">
                <input type="text" maxlength="3" size=3 name="pvaleur" value="{{ form.pvaleur }}"> % of values
              </td>
              <td rowspan="2" style="vertical-align:middle;">randomly per</td>
              <td rowspan="2" style="vertical-align:middle;">
                <input type="radio" id="grpTypeC" name="grptype" value="C" {{ 'checked' if form.grptype=='C' }}>
                <label for="grpTypeC" class="labelUp">category</label><br>
                <input type="radio" id="grpTypeS" name="grptype" value="S" {{ 'checked' if form.grptype=='S' }}>
                <label for="grpTypeS" class="labelUp">sample</label><br>
                <input type="radio" id="grpTypeA" name="grptype" value="A" {{ 'checked' if form.grptype=='A' }}>
                <label for="grpTypeA" class="labelUp">acquisition</label>
              </td>
            </tr>
            <tr>
              <td style="vertical-align:middle;">
                <input type="radio" name="valtype" value="V" {{ 'checked' if form.valtype=='V' }} >
              </td>
              <td style="vertical-align:middle;">
                <input type="text" size=5 name="vvaleur" value="{{ form.vvaleur }}"> objects max.
              </td>
            </tr>
          </table>
        </td>
        <td>
          <div class='panel panel-default' style="width:550px;margin-left:10px;">
            <ul>
              <li>You will be Project manager of the subset project.</li>
              <li>Extracting a subset with 100% of objects per category creates a copy of the source project.</li>
              <li>After creating a subset to serve as a learning set, it is advised to homogenise the content of each of
                its categories. This usually results in better automatic classification performance.
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </table>

    <br>
    <b>Subset project title :</b> <input name="subsetprojecttitle" value="{{ form.subsetprojecttitle }}" size="100"
                                         maxlength="255"><br>

    <table>
      <tr>

        <td valign="top">
          <br><br><br>
          <input type="hidden" name="starttask" value="Y">
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
              <button type="submit" class="btn btn-primary">Start Task</button>
            </div>
          </div>

        </td>
      </tr>
    </table>
  </form>


{% endblock %}