<script>
    // Care about initial setup of the taxonomy select + small utility

    function FormatTaxoItem(t) {
           if (t.pr == 1)
            return $("<u>" + XSSStrEscape(t.text) + "</u>")
        else if (t.status=='D') { return $('<span class="deprecated" disable>' + XSSStrEscape(t.text) + '</span>')}
        else return t.text;
    }

    function EnableSelect2Taxolb(selector) {

        var the_sel2 = $(selector).select2({
            ajax: {
                url: "/search/taxo",
                dataType: 'json',
                delay: 100,
                data: function (query) {
                    // Cook the query params for above url, from control's content
                    const first = $(this).data('first_keys');
                    if (first) {
                        // If first letter(s) typed, use (once) for filtering
                        query.term = first;
                        $(this).data('first_keys', null);
                    }
                    return {
                        q: query.term
                        {% if g.Projid %}
                            , projid:{{ g.Projid }}
                        {% endif %}
                    };
                },
                processResults: function (data, page) {
                    // Worms always possible to add a category
                    if (data.length) {data.push({id:0,text:'Create a category...'})}
                    // If a function was registered for call just after query, schedule it now
                    const todo = the_sel2.data('todo_after_ajax');
                    if (todo) {
                        setTimeout(todo, 10);
                        the_sel2.data('todo_after_ajax', null);
                    }
                    return {results: data};
                },
                cache: true
            },
            templateResult: FormatTaxoItem,
            dropdownCssClass: "width240 taxopopup",
            language: {
                noResults: function () {
                    {% if g.TaxonCreator %}
                        //var msg = "<a href=\"javascript:PostDynForm('/taxo/create/?fromprj={{ g.Projid }}')\" >Create category</a>";
                        const term = the_sel2.data('select2').dropdown.$search.val() ;
                        var msg ="<a href=\"javascript:At2PopupWaitOpenLoad(0,'/taxo/searchworms/"+term+"?fromprj={{ g.Projid }}','Create Category')\" >Create category</a>";
                    {% else %}
                        var msg = "<a href=\"mailto:{{ g.manager_mail }}\">Request category</a>";
                    {% endif %}
                    return $("<span>No recent/result found. " + msg + "</span>");
                }
            }
        });
    }

    function SetTaxolbValue(selector, taxoid, taxoname) {
        // Set the value on category select
        var taxolb = $(selector);
        taxolb.append($('<option>', {value: taxoid, text: taxoname}));
        taxolb.val([taxoid]);
        taxolb.change();
    }

</script>
