{% extends 'admin/master.html' %}

{% block body %}
  <p>Ecotaxa Version : 2015.11.03</p>

    {% if g.appliadmin %}
        <p><b>You have Administrator privileges</b></p>
        <p></p>
        <table>
            <tr >
                <td width="200"><a href="/Task/Create/TaskTaxoImport" class="btn">Database Import</a></td>
                <td width="200"><a href="/Task/Create/TaskExportDb" class="btn">Database Export</a></td>

            </tr>
        </table>
    {% endif %}
    <p><br>List of Application administrators :
    {{ GetAdminList() }}
    </p>

{% endblock %}