{% extends 'admin/master.html' %}

{% block body %}
  <p>Ecotaxa Version : 2015.12.14</p>
{# Log :
2015.12.14 : Bugfix in import task, use only ecotaxa prefixed files
2015.12.11 : Improved CSV export to include Direct Taxonomy parent name and Taxonomy hierarchy
             Included license.txt File

#}

    {% if g.appliadmin %}
        <p><b>You have Administrator privileges</b></p>
        <p></p>
        <table>
            <tr >
                <td width="200"><a href="/Task/Create/TaskImportDB" class="btn">Database Import</a></td>
                <td width="200"><a href="/Task/Create/TaskExportDb" class="btn">Database Export</a></td>

            </tr>
        </table>
    {% endif %}
    <p><br>List of Application administrators :
    {{ GetAdminList() }}
    </p>

{% endblock %}