<!DOCTYPE html>
<html lang="{{lang if lang !='' else 'en'}}">
<head>
  {% set ecotaxa_version = GetEcotaxaVersionText().split(' ')[0] if GetEcotaxaVersionText is defined else '2.6.6'%}
<link rel=stylesheet rel="preload" type=text/css href="{{ url_for('static', filename='gui/css/main.css') }}?v={{ ecotaxa_version  }}">
 <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/gui/images/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/gui/images/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/gui/images/favicon-16x16.png')}}">
<link rel="manifest" href="{{ url_for('static', filename='/gui/images/site.webmanifest')}}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable="no"] >
  <meta http-equiv="refresh">
  <title>{{ 'Ecotaxa 3.0'}} {{ target_proj.title if target_proj and target_proj.projid else ''}}</title>
</head>
<body>
  <div id="layout" class="w-full min-h-screen {{ 'overflow-hidden' if bg }} flex flex-col">
    <nav class="drop-shadow-2 mb-3 sticky top-0 z-40">
      <header class="background-top h-12 p-1 pt-3.5 {{ 'solo' if not (target_proj and target_proj.projid) }}">
        <!--   logo / notifs /user-nav /admin -->
        {% include './v2/partials/_topsitebar.html' %}</header>
      {% if target_proj and target_proj.projid %}
      <nav class="flex flex-wrap  md:basis-9/12 md:items-right px-2 h-16 pb-0.5 pt-1.5 background-nav">
        <!-- project nav  and secondary classif nav and filters -->
        <div class="px-4" id="main-nav">
          {% include './v2/partials/_navbar.html'%}</div>
      </nav>
      {% endif %}
    </nav>
    <main  {{ ' style="--bg-image:url(\''| safe + url_for('static',filename='gui/images/montage_plankton.jpg') + '\')" class="bg-image" '| safe if bg }}>
       {% if not mask_alert  %}
       <div id="top-alerts" class="w-full px-2 md:px-0 group-alert-top js js-observer">
       {% from "./v2/macros/macros.html" import topalerts with context%}
         {{ topalerts() }}
       </div>
         {% endif %}
      <div class="w-full">
        {% block body %}{% endblock %}
        {% block bodycontent%} {% endblock %}
      </div>
        <a class="up pageup js js-scrollpy" data-threshold="hscreen" data-action="gotop"></a>
    </main>
    <footer class="fixed block w-screen bottom-0 z-40 background-bottom pt-1 pb-2">{% include './v2/partials/_footer.html' %}</footer>
  </div>
  <!--<script  src="{{ url_for('static', filename='gui/vendors.js') }}?v={{ ecotaxa_version }}"></script>
  <script src="{{ url_for('static', filename='gui/runtime.js') }}?v={{ ecotaxa_version }}"></script>-->
<script  src="{{ url_for('static', filename='gui/main.js') }}?v={{ ecotaxa_version }}"></script>
  {% if g_status('google_analytics_id') %}
  {% set cookieGAOK =  g_status('cookieGAOK') %}
  {% if cookieGAOK =='Y' %}
  <script>
    (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', '{{  g.google_analytics_id }} ', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
  </script>
  {% elif cookieGAOK =='' %}
  <div  id="DivGAAccept" class="fixed z-50 bottom-0 h-[100px] left-0 right-0 bg-stone-900 text-stone-100 text-sm  ">
    <div class=" flex items-center w-full lg:w-2/3 mx-auto px-4  mt-4">
      <div class="flex-grow mr-4">We use cookies on this site to analyze traffic, remember your preferences,
        and optimize your experience. Click “Accept” to consent to the continued use of cookies or visit our <a href="/privacy" class="text-white underline underline-offset-2 mx-2">Privacy Policy</a> to see how you can make changes to your cookie settings.
      </div>
      <div class="flex-1">
        <button type="button" class="button is-secondary border-stone-100 text-sm text-stone-100 hover:border-white  hover:text-white" id="BtGAAccept">Accept</button>
      </div>
    </div>
  </div>
  <!--<script>
    $('#BtGAAccept').click(function() {
      $.get('/setprivacy/Y', function() {
        $('#DivGAAccept').hide();
      });
    });
  </script>-->
  {% endif %}
  {% endif %}
</body>
</html>
